<%= form_for([:admin,@monthly_info], :html => {class:"form-horizontal", multipart:true}) do |f| %>
  <% if @monthly_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monthly_info.errors.count, "error") %> prohibited this monthly_info from being saved:</h2>

      <ul>
      <% @monthly_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">ID Pelanggan</label>
    <div class="col-sm-9">
      <select class="form-search chosen-select" name="monthly_info[user_id]" data-rel="chosen">
        <option value="">-- Pilih ID Pelanggan --</option>
          <% @users.each do |user| %>
            <% if user.id == @monthly_info.user_id %>
              <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
            <% else %>
              <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">BLTH</label>
    <div class="col-sm-9">
      <select class="form-search" name="monthly_info[bulan_blth]" data-rel="chosen">
        <option>-- Pilih Bulan --</option>
          <% (1..12).each do |bulan| %>
            <% if bulan == @monthly_info.bulan_blth %>
              <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
            <% else %>
              <option value="<%= bulan %>"><%= @months[bulan] %></option>
            <% end %>
          <% end %>
        </select>

      <select class="form-search" name="monthly_info[tahun_blth]" data-rel="chosen">
        <option>-- Pilih Tahun --</option>
          <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
            <% if tahun == @monthly_info.tahun_blth %>
              <option value="<%= tahun %>" selected><%= tahun %></option>
            <% else %>
              <option value="<%= tahun %>"><%= tahun %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">kVA Maks</label>
    <div class="col-sm-9">
      
      <%= f.text_field :kvamaks, :size => 10, :class => "numeric" %>
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Pemakaian kWh LWBP</label>
    <div class="col-sm-9">
      
      <%= f.text_field :kwh_lwbp, :size => 10, :class => "numeric" %> kWh
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Pemakaian kWh WBP</label>
    <div class="col-sm-9">
      
      <%= f.text_field :kwh_wbp, :size => 10, :class => "numeric" %> kWh
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Pemakaian kVArh</label>
    <div class="col-sm-9">
      
      <%= f.text_field :kwh_kvarh, :size => 10, :class => "numeric" %> 
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Rp LWBP</label>
    <div class="col-sm-9">
      
      Rp <%= f.text_field :rp_lwbp, :size => 10, :class => "numeric" %>
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Rp WBP</label>
    <div class="col-sm-9">
      
      Rp <%= f.text_field :rp_wbp, :size => 10, :class => "numeric" %>
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Rp kVArh</label>
    <div class="col-sm-9">
      
      Rp <%= f.text_field :rp_kvarh, :size => 10, :class => "numeric" %>
    </div>
   </div> 

  <!--
  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Beban Min</label>
    <div class="col-sm-9">
      
      <%= f.text_field :beban_min, :size => 10, :class => "numeric" %> kW
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Beban Maks</label>
    <div class="col-sm-9">
      
      <%= f.text_field :beban_maks, :size => 10, :class => "numeric" %> kW
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Beban Rata-Rata</label>
    <div class="col-sm-9">
      
      <%= f.text_field :beban_rata, :size => 10, :class => "numeric" %> kW
    </div>
   </div> 
	-->
   <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Invoice File </label>
                          
      <div class="col-sm-3">
        <input type="file" name="monthly_info[invoice_file]" id="id-input-file-2" />
       </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_monthly_infos_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>
