<%= content_for :js do %>
  <%= javascript_include_tag "ajax/data_info" %>

  <script type="text/javascript">
      jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable({"aaSorting": []});
        
        
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      })
    </script>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Data Bulanan</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="box span12">

      <%= form_tag(admin_monthly_infos_path, :method => :get) do %>

          <div class="span3">
          <label class="search-label">Pelanggan</label>
          <select class="form-search chosen-select span2" name="user_id" data-rel="chosen">
            <option value="">-- Pilih Pelanggan --</option>
              <% @users.each do |user| %>
                <% if user.id == params[:user_id].to_i %>
                  <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
                <% else %>
                  <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Kawasan</label>
          <select class="form-search chosen-select span2" name="kawasan_id" data-rel="chosen">
            <option value="">-- Pilih Kawasan --</option>
              <% @kawasans.each do |kawasan| %>
                <% if kawasan.id == params[:kawasan_id].to_i %>
                  <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
                <% else %>
                  <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Rayon</label>
          <select class="form-search chosen-select span2" name="rayon_id" data-rel="chosen">
            <option value="">-- Pilih Rayon --</option>
              <% @rayons.each do |rayon| %>
                <% if rayon.id == params[:rayon_id].to_i %>
                  <option value="<%= rayon.id %>" selected><%= rayon.name %></option>
                <% else %>
                  <option value="<%= rayon.id %>"><%= rayon.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Area</label>
          <select class="form-search chosen-select span2" name="area_id" data-rel="chosen">
            <option value="">-- Pilih Area --</option>
              <% @areas.each do |area| %>
                <% if area.id == params[:area_id].to_i %>
                  <option value="<%= area.id %>" selected><%= area.name %></option>
                <% else %>
                  <option value="<%= area.id %>"><%= area.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

          <div class="span2 form-group">
              <label class="search-label">Bulan Awal</label>
              <select class="form-search" name="blth_bulan_awal" data-rel="chosen">
                <option value="">-- Pilih Bulan Awal --</option>
                  <% (1..12).each do |bulan| %>
                    <% if bulan == params[:blth_bulan_awal].to_i %>
                      <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                    <% else %>
                      <option value="<%= bulan %>"><%= @months[bulan] %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>

            <div class="span2">
              <label class="search-label">Tahun Awal</label>
              <select class="form-search" name="blth_tahun_awal" data-rel="chosen">
                <option value="">-- Pilih Tahun Awal --</option>
                  <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                    <% if tahun == params[:blth_tahun_awal].to_i %>
                      <option value="<%= tahun %>" selected><%= tahun %></option>
                    <% else %>
                      <option value="<%= tahun %>"><%= tahun %></option>
                    <% end %>
                  <% end %>
                </select>
            </div>

            <div class="span2">
              <label class="search-label">Bulan Akhir</label>
              <select class="form-search" name="blth_bulan_akhir" data-rel="chosen">
                <option value="">-- Pilih Bulan Akhir --</option>
                  <% (1..12).each do |bulan| %>
                    <% if bulan == params[:blth_bulan_akhir].to_i %>
                      <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                    <% else %>
                      <option value="<%= bulan %>"><%= @months[bulan] %></option>
                    <% end %>
                  <% end %>
                </select>
            </div>

            <div class="span2">
              <label class="search-label">Tahun Akhir</label>
              <select class="form-search" name="blth_tahun_akhir" data-rel="chosen">
                <option value="">-- Pilih Tahun Akhir --</option>
                  <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                    <% if tahun == params[:blth_tahun_akhir].to_i %>
                      <option value="<%= tahun %>" selected><%= tahun %></option>
                    <% else %>
                      <option value="<%= tahun %>"><%= tahun %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>

              <div class="span2" style="float: right">
                <label>&nbsp;</label>
                    <button class="btn btn-info" type="submit">
                        <i class="icon-search bigger-110"></i>
                        Search
                    </button>
              </div>
        <% end %>
    </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Data Bulanan
      </h1>
    </div><!-- /.page-header -->

  <% 
      @not_authorized = true

      if current_admin.user_group
        current_admin.user_group.action_models.each do |action_model|
          if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "new")
            @not_authorized = false
          end

          break if ! @not_authorized
        end
    end
    %>

    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

      <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_monthly_info_path, class: "btn btn-info" %>

    <% end %>

    <% 
      @not_authorized = true

      if current_admin.user_group
        current_admin.user_group.action_models.each do |action_model|
          if (action_model.controller_model.path == "admin/monthly_info_files" && action_model.path == "new")
            @not_authorized = false
          end

          break if ! @not_authorized
        end
    end
    %>

    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

      <%= link_to '<i class="icon-upload icon-white"></i>Upload data'.html_safe, new_admin_monthly_info_file_path, class: "btn btn-success" %>

    <% end %>

    <% if @monthly_infos.count > 0 %>
      <a href="/admin/monthly_infos.xls?blth_bulan_awal=<%= params[:blth_bulan_awal] %>&blth_tahun_awal=<%= params[:blth_tahun_awal] %>&blth_bulan_akhir=<%= params[:blth_bulan_akhir] %>&blth_tahun_akhir=<%= params[:blth_tahun_akhir] %>"><button class="btn btn-info" style="float:right;">
        <i class="icon-download bigger-110"></i>
        Export Excel
      </button>
      </a>
    <% end %>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="table-header">
                      Data Bulanan
                    </div>
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Idpel</th>
                          <th>BLTH</th>
                          <th>Durasi Gangguan</th>
                          <th>Frekuensi Gangguan</th>
                          <th>Rp kVARH</th>
                          <th>Rp LWBP</th>
                          <th>Rp WBP</th>
                          <th>Rp Total</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @monthly_infos.each do |monthly_info| %>
                          <tr>
                            

                            <td>
                              <%= link_to admin_monthly_info_path(monthly_info) do %>
                                <%= monthly_info.user ? monthly_info.user.idpel : "N/A" %>
                              <% end %>
                            </td>
                            <td>
                              <% if monthly_info.bulan_blth %>
                                  <%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %>
                                <% else %>
                                  N/A
                                <% end %>
                            </td>
                            <td><%= monthly_info.durasi_gangguan %> jam</td>
                            <td><%= monthly_info.frekuensi_gangguan %> kali</td>
                            <td><%= number_to_currency monthly_info.rp_kvarh, :unit => "Rp ", :delimiter => ".", :precision => 0 %></td>
                            <td><%= number_to_currency monthly_info.rp_lwbp, :unit => "Rp ", :delimiter => ".", :precision => 0 %></td>
                            <td><%= number_to_currency monthly_info.rp_wbp, :unit => "Rp ", :delimiter => ".", :precision => 0 %></td>
                            <td><%= number_to_currency monthly_info.rptag, :unit => "Rp ", :delimiter => ".", :precision => 0 %></td>

                            <td>
                              <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to edit_admin_monthly_info_path(monthly_info), :class => "btn btn-xs btn-info" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_monthly_info_path(monthly_info), :class => "btn btn-xs btn-danger", :rel => "tooltip", :method => :delete, :confirm => "Yakin akan menghapus?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>

                                
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->