
      <h1>
        Daftar Data Bulanan 

        <% if @user %>

          <%= @user.idpel %> - <%= @user.name %>

        <% elsif @kawasan %>
          <%= @kawasan.nama_kawasan %>
        <% elsif @rayon %>
          <%= @rayon.name %>
        <% elsif @area %>
          <%= @area.name %>
        <% end %>
      </h1>

                    <br />
                    
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Idpel</th>
                          <th>Area</th>
                          <th>Rayon</th>
                          <th>Kawasan</th>
                          <th>BLTH</th>
                          <th>Durasi Gangguan (jam)</th>
                          <th>Frekuensi Gangguan (kali)</th>
                          <th>kVA Maks</th>
                          <th>kWh LWBP</th>
                          <th>kWh WBP</th>
                          <th>kWh Total</th>
                          <th>kVArh</th>
                          <th>Rp LWBP</th>
                          <th>Rp WBP</th>
                          <th>Rp kVArh</th>
                          <th>Rp Total</th>
                          <th>Cos Phi</th>
                          <th>Beban Maksimal (kW)</th>
                          <th>Beban Rata-Rata (kW)</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @monthly_infos.each do |monthly_info| %>
                          <tr>
                            <td>
                                <%= monthly_info.user ? monthly_info.user.idpel.to_i : "N/A" %>
                            </td>
                            <td>
                                <%= monthly_info.user && monthly_info.user.area ? monthly_info.user.area.name : "N/A" %>
                            </td>
                            <td>
                                <%= monthly_info.user && monthly_info.user.rayon ? monthly_info.user.rayon.name : "N/A" %>
                            </td>
                            <td>
                                <%= monthly_info.user && monthly_info.user.kawasan ? monthly_info.user.kawasan.nama_kawasan : "N/A" %>
                            </td>
                            <td>
                              <% if monthly_info.bulan_blth %>
                                  <%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %>
                                <% else %>
                                  N/A
                                <% end %>
                            </td>
                            <td><%= monthly_info.durasi_gangguan %></td>
                            <td><%= monthly_info.frekuensi_gangguan %></td>
                            <td><%= monthly_info.kvamaks %></td>
                            <td><%= monthly_info.kwh_lwbp %></td>
                            <td><%= monthly_info.kwh_wbp %></td>
                            <td><%= monthly_info.kwh_total %></td>
                            <td><%= monthly_info.kwh_kvarh %></td>
                            <td><%= monthly_info.rp_lwbp %></td>
                            <td><%= monthly_info.rp_wbp %></td>
                            <td><%= monthly_info.rp_kvarh %></td>
                            <td><%= monthly_info.rptag %></td>
                            <td><%= monthly_info.beban_min %></td>
                            <td><%= monthly_info.beban_maks %></td>
                            <td><%= monthly_info.beban_rata %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
