<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", admins_path %>
			</li>
			<li>
				<%= link_to "Data Bulanan", admin_monthly_infos_path %>
			</li>
			<li class="active"><%= @monthly_info.user ? @monthly_info.user.name : "N/A" %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<!-- <div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/avatars/astra-otoparts.jpg" />
								</span>
							</div> --><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<h4 class="blue">
									<span class="middle">ID Pelanggan: <%= @monthly_info.user ? @monthly_info.user.idpel : "N/A" %></span>
								</h4>

								<div class="profile-monthly_info-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> BLTH </div>

										<div class="profile-info-value">
											<span>
												<% if @monthly_info.bulan_blth %>
				                                  <%= @months[@monthly_info.bulan_blth] %> <%= @monthly_info.tahun_blth %>
				                                <% else %>
				                                  N/A
				                                <% end %>
											</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Durasi Gangguan </div>

										<div class="profile-info-value">
											<span><%= @monthly_info.durasi_gangguan %> jam &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Frekuensi Gangguan </div>

										<div class="profile-info-value">
											<span><%= @monthly_info.frekuensi_gangguan %> kali &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> kVA Maks </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.kvamaks, :unit => "", :delimiter => ".", :separator => "," %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Pemakaian kWh LWBP </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.kwh_lwbp, :unit => "", :delimiter => ".", :separator => "," %> kWh &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Pemakaian kWh WBP </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.kwh_wbp, :unit => "", :delimiter => ".", :separator => "," %> kWh &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Pemakaian kWh Total </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.kwh_total, :unit => "", :delimiter => ".", :separator => "," %> kWh &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Pemakaian kVArh </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.kwh_kvarh, :unit => "", :delimiter => ".", :separator => "," %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rp LWBP </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.rp_lwbp, :unit => "Rp ", :delimiter => ".", :precision => 0 %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rp WBP </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.rp_wbp, :unit => "Rp ", :delimiter => ".", :precision => 0 %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rp kVArh </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.rp_kvarh, :unit => "Rp ", :delimiter => ".", :precision => 0 %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rp Total </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.rptag, :unit => "Rp ", :delimiter => ".", :precision => 0 %> &nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Cos Phi </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.beban_min, :unit => "", :delimiter => "." %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Beban Maks </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.beban_maks, :unit => "", :delimiter => ".", :separator => "," %> kW&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Beban Rata-Rata </div>

										<div class="profile-info-value">
											<span><%= number_to_currency @monthly_info.beban_rata, :unit => "", :delimiter => ".", :separator => "," %> kW&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Invoice </div>

										<div class="profile-info-value">
											<span>
												<% if @monthly_info.invoice_file_file_name && @monthly_info.invoice_file_file_name != "" %>
													<%= link_to "download", @monthly_info.invoice_file.url %>
												<% else %>
													no file uploaded
												<% end %>
											&nbsp;</span>
										</div>
									</div>
								</div>
			                    </div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "edit")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
		                        	<%= link_to edit_admin_monthly_info_path(@monthly_info) do %>
			                            <button class="btn btn-info" type="submit">
			                                <i class="icon-edit bigger-110"></i>
			                                Edit
			                            </button>
			                        <% end %>
			                    <% end %>

			                    <% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "destroy")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
		                            &nbsp; &nbsp; &nbsp;
		                            <%= link_to admin_monthly_infos_path do %>
		                              <button class="btn btn-success" type="button">
		                                  <i class="icon-arrow bigger-110"></i>
		                                  Back
		                              </button>
		                            <% end %>
		                        <% end %>
	                        </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->
