<%= content_for :js do %>
  <%= javascript_include_tag "ajax/data_info" %>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">Upload Invoice</li>
    </ul><!-- .breadcrumb -->
  </div>
  
  <div class="page-content">
    <div class="page-header">
      <h1>
        Upload Invoice Data Bulanan
      </h1>
    </div><!-- /.page-header -->

      <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="table-header">
                      Upload Invoice Data Bulanan
                    </div>
                    
                    
        <%= nested_form_for(@monthly_info_file, :url => upload_invoice_admin_monthly_infos_path , :html => {class:"form-horizontal", multipart:true}) do |f| %>
		  <% if @monthly_info_file.errors.any? %>
			<div id="error_explanation">
			  <h2><%= pluralize(@monthly_info_file.errors.count, "error") %> prohibited this monthly_info from being saved:</h2>

			  <ul>
			  <% @monthly_info_file.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			  <% end %>
			  </ul>
			</div>
		  <% end %>
		  
		  <input type="hidden" name="monthly_info_file_id" value = <%= params[:monthly_info_file_id] %> />
		  
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Idpel</th>
                          <th>BLTH</th>
                          <th>Invoice</th>
                          <th>Upload Invoice</th>
                        </tr>
                      </thead>

                      <tbody>
                        <%= f.fields_for :monthly_infos do |monthly_info_form| %>
                          <% monthly_info = monthly_info_form.object %>
                          <tr>

                            <td>
                              <%= monthly_info.user ? monthly_info.user.idpel+" - "+monthly_info.user.name : "N/A" %>
                            </td>
                            <td>
                              <% if monthly_info.bulan_blth %>
                                  <%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %>
                                <% else %>
                                  N/A
                                <% end %>
                            </td>
                            <td><% if monthly_info.invoice_file_file_name && monthly_info.invoice_file_file_name != "" %>
									<%= link_to "download", monthly_info.invoice_file.url %>
								<% else %>
									no file uploaded
								<% end %></td>
							<td><%= monthly_info_form.file_field :invoice_file, :class => "id-input-file-3" %></td>
                          </tr>
                        <% end %>
                        <tr><td colspan=10 style="text-align:right"><button class="btn btn-info" type="submit">
							<i class="icon-ok bigger-110"></i>
							Submit
						</button></td></tr>
                      </tbody>
                    </table>
                  </div>

		<% end %>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
