<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li class="active">Feedback</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="box span12">

	    <%= form_tag(admin_data_feedbacks_path, :method => :get) do %>

	        <div class="span2 form-group">
	            <label class="search-label">Bulan Awal</label>
	            <select class="form-search" name="blth_bulan_awal" data-rel="chosen">
	              <option value="">-- Pilih Bulan Awal --</option>
	                <% (1..12).each do |bulan| %>
	                  <% if bulan == params[:blth_bulan_awal].to_i %>
	                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
	                  <% else %>
	                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
	                  <% end %>
	                <% end %>
	              </select>
	            </div>

	          <div class="span2">
	            <label class="search-label">Tahun Awal</label>
	            <select class="form-search" name="blth_tahun_awal" data-rel="chosen">
	              <option value="">-- Pilih Tahun Awal --</option>
	                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
	                  <% if tahun == params[:blth_tahun_awal].to_i %>
	                    <option value="<%= tahun %>" selected><%= tahun %></option>
	                  <% else %>
	                    <option value="<%= tahun %>"><%= tahun %></option>
	                  <% end %>
	                <% end %>
	              </select>
	          </div>

	          <div class="span2">
	            <label class="search-label">Bulan Akhir</label>
	            <select class="form-search" name="blth_bulan_akhir" data-rel="chosen">
	              <option value="">-- Pilih Bulan Akhir --</option>
	                <% (1..12).each do |bulan| %>
	                  <% if bulan == params[:blth_bulan_akhir].to_i %>
	                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
	                  <% else %>
	                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
	                  <% end %>
	                <% end %>
	              </select>
	          </div>

	          <div class="span2">
	            <label class="search-label">Tahun Akhir</label>
	            <select class="form-search" name="blth_tahun_akhir" data-rel="chosen">
	              <option value="">-- Pilih Tahun Akhir --</option>
	                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
	                  <% if tahun == params[:blth_tahun_akhir].to_i %>
	                    <option value="<%= tahun %>" selected><%= tahun %></option>
	                  <% else %>
	                    <option value="<%= tahun %>"><%= tahun %></option>
	                  <% end %>
	                <% end %>
	              </select>
	            </div>

	            <div class="span2">
	            <label class="search-label">Type</label>
	            <select class="form-search" name="feedback_type_id" data-rel="chosen">
	              <option value="">-- Pilih Feedback Type --</option>
	                <% @feedback_types.each do |feedback_type| %>
	                  <% if feedback_type.id == params[:feedback_type_id].to_i %>
	                    <option value="<%= feedback_type.id %>" selected><%= feedback_type.name %></option>
	                  <% else %>
	                    <option value="<%= feedback_type.id %>"><%= feedback_type.name %></option>
	                  <% end %>
	                <% end %>
	              </select>
	            </div>

	            <div class="span2" style="float: right">
	              <label>&nbsp;</label>
	                  <button class="btn btn-info" type="submit">
	                      <i class="icon-search bigger-110"></i>
	                      Search
	                  </button>
	            </div>
	      <% end %>
	  </div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				Feedback
				<small>
					<i class="icon-double-angle-right"></i>
					Daftar feedback
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
	                    
						<div class="table-responsive">
							<table id="sample-table-1" class="table table-striped table-bordered table-hover">
								<thead>
									<tr>
										<th class="center">Tanggal</th>
										<th>Data Feedback</th>
										<th>Type</th>
										<th>Pelanggan</th>
										<th>Area</th>
										<th>Rayon</th>
										<th>Kawasan</th>
										<% if current_admin.user_group && current_admin.user_group.super == 1 %>
											<th>Response Time</th>
										<% end %>
										<th>Status</th>
									</tr>
								</thead>

								<tbody>
									<% @data_feedbacks.each do |data_feedback| %>
										<tr>
											<td class="center">
												<% if data_feedback.created_at %>
													<%= data_feedback.created_at.localtime.day %> 
													<%= @months[data_feedback.created_at.localtime.month] %> 
													<%= data_feedback.created_at.localtime.year %> 
													<%= sprintf "%02d", data_feedback.created_at.localtime.hour %>:<%= sprintf "%02d", data_feedback.created_at.localtime.min %>:<%= sprintf "%02d", data_feedback.created_at.localtime.sec %>
												<% end %>
											</td>
											<td>
												<% if data_feedback.read == nil || data_feedback.replies.where("`read` IS NULL").count != 0  %>
													<%= link_to data_feedback.feedback_plg, admin_data_feedback_path(data_feedback), :style => "color:blue;font-weight:bold" %>
												<% else %>
													<%= link_to data_feedback.feedback_plg, admin_data_feedback_path(data_feedback) %>
												<% end %>
											</td>
											<td><%= data_feedback.feedback_type ? data_feedback.feedback_type.name : "N/A" %></td>
											<td>
												<% 
											      @not_authorized = true

											      if current_admin.user_group
											        current_admin.user_group.action_models.each do |action_model|
											          if (action_model.controller_model.path == "admin/premium_users" && action_model.path == "show")
											            @not_authorized = false
											          end

											          break if ! @not_authorized
											        end
											    end
											    %>

											    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
													<%= data_feedback.user ? (link_to data_feedback.user.name, admin_premium_user_path(data_feedback.user)) : "N/A" %>
												<% else %>
													<%= data_feedback.user ? data_feedback.user.name : "N/A" %>
												<% end %>
											</td>
											<td><%= Area.where("area_id = ?", data_feedback.user.area_new_id).first ? Area.where("area_id = ?", data_feedback.user.area_new_id).first.name : "N/A" %></td>
											<td><%= Rayon.where("rayon_id = ?", data_feedback.user.rayon_new_id).first ? Rayon.where("rayon_id = ?", data_feedback.user.rayon_new_id).first.name : "N/A" %></td>
											<td><%= Kawasan.where("id = ?", data_feedback.user.kawasan_id).first ? Kawasan.where("id = ?", data_feedback.user.kawasan_id).first.nama_kawasan : "N/A" %></td>
											<% if current_admin.user_group && current_admin.user_group.super == 1 %>
												<td>
													<% if data_feedback.replies.where("admin_id IS NOT NULL").count != 0 %>
														<%
															first_response = data_feedback.replies.where("admin_id IS NOT NULL").order("created_at ASC").first
														%>
														<%= number_to_currency (first_response.created_at-data_feedback.created_at)/60, :unit => "", :delimiter => ".", :precision => 2 %> menit
													<% else %>
														belum ada respon
													<% end %>
												</td>
											<% end %>
											<td class="hidden-480"><%= data_feedback.status_feedback %></td>
										</tr>
									<% end %>
								</tbody>
							</table>
						</div><!-- /.table-responsive -->
	                    
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div>