<div class="page-content">
    <div class="page-header">
        <h1>
            Feedback
            <small>
                <i class="icon-double-angle-right"></i>
                send feedback
            </small>
        </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-span" style="margin-top:50px;">
            <%= form_for(@data_feedback, :html => {:class => "form-horizontal"}) do |f| %>

                <%= f.hidden_field :admin_id, :value => current_admin.id %>
                
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Feedback </label>

                    <div class="col-sm-4">
                        <%= f.text_area :feedback_plg, :class => "form-control", :id => "form-field-9", :placeholder => "Isi feedback anda disini . . .", :rows => 5 %>
                    </div>
                </div>
                
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>