<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
    	<script type="text/javascript">
    		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    	</script>

    	<ul class="breadcrumb">
    		<li>
    			<i class="icon-home home-icon"></i>
                <%= link_to "Home", homes_path %>
    		</li>
    		<li class="active">Feedback</li>
    	</ul><!-- .breadcrumb -->
    </div>

    <div class="page-content">
    	<div class="page-header">
    		<h1>
    			Feedback
                <small>
    				<i class="icon-double-angle-right"></i>
    				view feedback
    			</small>
    		</h1>
    	</div><!-- /.page-header -->

    	<div class="row">
    		<div class="col-xs-12">
    			<!-- PAGE CONTENT BEGINS -->

    			<div class="row">
    				
                    	<div class="col-xs-12">
                        	<div class="table-responsive">
                                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th class="center">Tanggal</th>
                                            <th>Pelanggan</th>
                                            <th>Data Feedback</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td class="center">
                                                <% if @data_feedback.created_at %>
                                                    <%= @data_feedback.created_at.localtime.day %> 
                                                    <%= @months[@data_feedback.created_at.localtime.month] %> 
                                                    <%= @data_feedback.created_at.localtime.year %> 
                                                    <%= sprintf "%02d", @data_feedback.created_at.localtime.hour %>:<%= sprintf "%02d", @data_feedback.created_at.localtime.min %>:<%= sprintf "%02d", @data_feedback.created_at.localtime.sec %>
                                                <% end %>
                                            </td>
                                            <td>
                                                <% 
                                                  @not_authorized = true

                                                  if current_admin.user_group
                                                    current_admin.user_group.action_models.each do |action_model|
                                                      if (action_model.controller_model.path == "admin/premium_users" && action_model.path == "show")
                                                        @not_authorized = false
                                                      end

                                                      break if ! @not_authorized
                                                    end
                                                end
                                                %>

                                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
                                                    <%= @data_feedback.user ? (link_to @data_feedback.user.name+" - "+@data_feedback.user.idpel.to_s, admin_premium_user_path(@data_feedback.user)) : "N/A" %>
                                                <% else %>
                                                    <%= @data_feedback.user ? @data_feedback.user.name.to_s+" - "+@data_feedback.user.idpel.to_s : "N/A" %>
                                                <% end %>
                                                
                                            </td>
                                            <td><%= @data_feedback.feedback_plg %></td>
                                            <td class="hidden-480"><%= @data_feedback.status_feedback %></td>
                                            <td>
                                                <% if @data_feedback.status_feedback != "closed" %>
                                                    <%= link_to close_admin_data_feedback_path(@data_feedback), :confirm => "Yakin feedback ini akan ditutup?" do %>
                                                        <i class="icon-refresh"></i>
                                                    <% end %>
                                                <% end %>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
    						</div><!-- /.table-responsive -->
                            
                            <% @data_feedback.replies.each do |reply| %>

                            <div class="col-xs-12 col-sm-12 widget-container-span" style="margin-top:20px;">
                                <div class="widget-box">
                                    <% if reply.user %>
                                        <div class="widget-header header-color-dark" style="float:left;width:98.8%">
                                            <%= image_tag reply.user.avatar(:thumb), :style => "float:left;padding:8px", :width => "63px" %>
                                            <h5 class="bigger lighter" style="float:left;width:90%">
                                                <% 
                                                  @not_authorized = true

                                                  if current_admin.user_group
                                                    current_admin.user_group.action_models.each do |action_model|
                                                      if (action_model.controller_model.path == "admin/premium_users" && action_model.path == "show")
                                                        @not_authorized = false
                                                      end

                                                      break if ! @not_authorized
                                                    end
                                                end
                                                %>

                                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
                                                    <%= reply.user ? (link_to reply.user.name+" - "+reply.user.idpel.to_s, admin_premium_user_path(reply.user)) : "N/A" %>
                                                <% else %>
                                                    <%= reply.user ? reply.user.name.to_s+" - "+reply.user.idpel.to_s : "N/A" %>
                                                <% end %>
                                            </h5>
                                            <div class="reply-date" style="float:left"><%= reply.created_at.localtime.day %> <%= @months[reply.created_at.localtime.month] %> <%= reply.created_at.localtime.year %> &nbsp; <%= sprintf '%02d',reply.created_at.localtime.hour %>:<%= sprintf '%02d',reply.created_at.localtime.min %>:<%= sprintf '%02d',reply.created_at.localtime.sec %></div>
                                        </div>
                                    <% elsif reply.admin %>
                                        <div class="widget-header header-color-blue2" style="float:left;width:98.8%">
                                            <%= image_tag reply.admin.avatar(:thumb), :style => "float:left;padding:8px", :width => "63px" %>
                                            <h5 class="bigger lighter" style="float:left;width:90%">
                                                <% 
                                                  @not_authorized = true

                                                  if current_admin.user_group
                                                    current_admin.user_group.action_models.each do |action_model|
                                                      if (action_model.controller_model.path == "admin/admins" && action_model.path == "show")
                                                        @not_authorized = false
                                                      end

                                                      break if ! @not_authorized
                                                    end
                                                end
                                                %>

                                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
                                                    <%= reply.admin ? (link_to reply.admin.name, admin_admin_path(reply.admin)) : "N/A" %>
                                                <% else %>
                                                    <%= reply.admin ? reply.admin.name.to_s : "N/A" %>
                                                <% end %>
                                            </h5>
                                            <div class="reply-date" style="float:left"><%= reply.created_at.localtime.day %> <%= @months[reply.created_at.localtime.month] %> <%= reply.created_at.localtime.year %> &nbsp; <%= sprintf '%02d',reply.created_at.localtime.hour %>:<%= sprintf '%02d',reply.created_at.localtime.min %>:<%= sprintf '%02d',reply.created_at.localtime.sec %></div>
                                        </div>
                                    <% end %>

                                    <div class="widget-body">
                                        <div class="widget-main padding-16">
                                            <%= reply.feedback_plg %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        <% end %>
                            
                            <% if @data_feedback.status_feedback != "closed" %>
                                <div class="col-xs-12 col-sm-12 widget-container-span" style="margin-top:50px;">
                                <%= form_for([:admin, @new_data_feedback], :html => {:class => "form-horizontal"}) do |f| %>

                                    <%= f.hidden_field :admin_id, :value => current_admin.id %>
                                    <%= f.hidden_field :parent_id, :value => params[:id] %>
                                    
                                    <div class="form-group">
                                        <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> Feedback </label>

                                        <div class="col-sm-4">
                                            <%= f.text_area :feedback_plg, :class => "form-control", :id => "form-field-9", :placeholder => "Isi feedback anda disini . . .", :rows => 5 %>
                                        </div>
                                    </div>
                                    
                                    <div class="clearfix form-actions">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn btn-info" type="submit">
                                                <i class="icon-ok bigger-110"></i>
                                                Submit
                                            </button>

                                            &nbsp; &nbsp; &nbsp;
                                            <button class="btn" type="reset">
                                                <i class="icon-undo bigger-110"></i>
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                <% end %>
                                </div>
                            <% end %>
                        </div>

    			</div><!-- /row -->

    			<!-- PAGE CONTENT ENDS -->
    		</div><!-- /.col -->
    	</div><!-- /.row -->
    </div><!-- /.page-content -->
</div>