<%= form_for([:admin,@user_group], :html => {class:"form-horizontal"}) do |f| %>
  <% if @user_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_group.errors.count, "error") %> prohibited this user_group from being saved:</h2>

      <ul>
      <% @user_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" %>
    <%= f.hidden_field :created_by, :value => current_admin.id %>
  <% else %>
    <%= f.hidden_field :updated_by, :value => current_admin.id %>
  <% end %>

  <div class="form-group">
    <%= f.label :nama_user_group, :class => "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
              <%= f.label :daftar_akses, :class => "col-sm-3 control-label no-padding-right" %>
              <% current_controller = "" %>
              <% @action_models.each do |action_model| %>
                <% if action_model.controller_model.name != current_controller %>
                  <% current_controller = action_model.controller_model.name %>
                  <div style="float:left; width:100%; margin-top:10px;margin-bottom:5px;"><label for="">Pengaturan <%= current_controller %></label></div>
                <% end %>
                <div style="float:left; width:45%">
                  <%= check_box_tag "user_group[action_model_ids][]", action_model.id, @user_group.action_models.include?(action_model) %>
                  <%= action_model.name %>
                </div>
              <% end %>
        </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_user_groups_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>
      
