<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Dashboard", admins_path %>
      </li>
      <li>
        <%= link_to "User Group", admin_user_groups_path %>
      </li>
      <li class="active"><%= @user_group.name %></li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="page-content">

    <div class="row">
      <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="">
          <div id="user-profile-2" class="user-profile">
            <div class="row">

              <div class="col-xs-12 col-sm-10">
                <h4 class="blue">
                  <span class="middle"><%= @user_group.name %></span>
                </h4>

                <div class="profile-user_group-info profile-user-info-striped" style="float:left;background-color:#dcebf7;padding:20px;">
                  <div class="profile-info-row" style="float:left;">
                        Daftar Akses: <br/> <br/>
                        <% current_controller = "" %>
                        <% @action_models.each do |action_model| %>
                          <% if action_model.controller_model.name != current_controller %>
                            <% current_controller = action_model.controller_model.name %>
                            <div style="float:left; width:100%; margin-top:10px;margin-bottom:5px;"><label for=""><b>Pengaturan <%= current_controller %></b></label></div>
                          <% end %>
                          <div style="float:left; width:45%">- <%= action_model.name %></div>
                        <% end %>
                  </div>
                </div>
                          </div>
              </div><!-- /span -->
            </div><!-- /row-fluid -->

            <div class="clearfix form-actions">
                          <div class="col-md-offset-3 col-md-9">
                            <%= link_to edit_admin_user_group_path(@user_group) do %>
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-edit bigger-110"></i>
                                    Edit
                                </button>
                            <% end %>

                              &nbsp; &nbsp; &nbsp;
                              <%= link_to admin_user_groups_path do %>
                                <button class="btn btn-success" type="button">
                                    <i class="icon-arrow bigger-110"></i>
                                    Back
                                </button>
                              <% end %>
                          </div>
          </div>
        </div>

        

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->