<%= form_for([:admin,@repairs_examination_item], :html => {class:"form-horizontal"}) do |f| %>
  <% if @repairs_examination_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repairs_examination_item.errors.count, "error") %> prohibited this repairs_examination_item from being saved:</h2>

      <ul>
      <% @repairs_examination_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :note, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :note, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :tanggal, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :repair_time, :class => "col-xs-10 col-sm-5 datepicker" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :pukul, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">

       <% if @repairs_examination_item.repair_time %>
        <input type="text" class="col-xs-10 col-sm-1 timepicker" name="datetime_time" id="datetime_time" value="<%= @repairs_examination_item.repair_time.strftime("%H:%M:%S") %>">
      <% else %>
        <input type="text" class="col-xs-10 col-sm-1 timepicker" name="datetime_time" id="datetime_time">
      <% end %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Petugas</label>
    <div class="col-sm-9">
      <select class="col-xs-10 col-sm-5 chosen-select" id="form-field-select-4" name="repairs_examination_item[officer_id]" data-rel="chosen" data-placeholder="Pilih user...">
        <option value="">-- Select Petugas --</option>
          <% @officers.each do |officer| %>
            <% if officer.id == @repairs_examination_item.officer_id %>
                <option value="<%= officer.id %>" selected><%= officer.name %></option>
              <% else %>
                <option value="<%= officer.id %>"><%= officer.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_repairs_examination_items_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>