<%= content_for :js do %>
  <%= javascript_include_tag "examination" %>
<% end %>

<%= form_for([:admin,@repair], :html => {class:"form-horizontal"}) do |f| %>
  <% if @repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% @repair.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
	<%= f.hidden_field :created_by, :value => current_admin.id %>
  <% else %>
	<%= f.hidden_field :updated_by, :value => current_admin.id %>
  <% end %>
  
  <div class="form-group">
    <%= f.label :pemeriksaan, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <span><%= link_to "Pemeriksaan", admin_examination_path(@repair.examination) %></span>
    </div>
   </div> 
   
   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Pelanggan</label>
    <div class="col-sm-9">
      <span><%= @repair.user ? @repair.user.idpel+" - "+@repair.user.name : "N/A" %></span>
      </div>
   </div> 
   
   <%= f.fields_for :repairs_examination_items do |form_repair_item| %>
	  <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right"><%= form_repair_item.object.examination_item.name %></label>
		<%= form_repair_item.hidden_field :examination_item_id, :value => form_repair_item.object.examination_item_id %>
		<div class="col-sm-9">
		  <%= form_repair_item.select :officer_id, @officers.collect {|x| [x.name, x.id]}, {:include_blank => '-- Select Petugas --'}, :class => "col-xs-10 col-sm-2 chosen-select", "data-rel" => "chosen" %>
		  <%= form_repair_item.text_field :note, :class => "col-xs-10 col-sm-4", "placeholder" => "Catatan.." %>
		  <%= form_repair_item.text_field :repair_time, :class => "col-xs-10 col-sm-2 datepicker", "placeholder" => "Tanggal Perbaikan.." %>
		</div>
	  </div>
	<% end %>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_repair_path(@repair) do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>
