<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Perbaikan</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Perbaikan
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Pelanggan</th>
                          <th>Pemeriksaan</th>
                          <th>Jumlah Perbaikan</th>
                          <th>Sudah Diperbaiki</th>
                          <th>Belum Diperbaiki</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @repairs.each do |repair| %>
                          <tr>
                            

                            <td>
							    <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/repairs" && action_model.path == "show")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_repair_path(repair) do %>
									<% if repair.user_id %>
									  <%= repair.user.idpel %> - 
									  <%= repair.user.name %> 
									<% else %>
									  N/A
									<% end %>
                                  <% end %>
                                <% else %>
                                  <% if repair.user_id %>
									  <%= repair.user.idpel %> - 
									  <%= repair.user.name %> 
									<% else %>
									  N/A
									<% end %>
                                <% end %>
                            </td>
                            <td>
                              <% if repair.examination %>
                                <%= link_to "Melihat Pemeriksaan", admin_examination_path(repair.examination_id) %>
                              <% else %>
                                N/A
                              <% end %>
                            </td>
                            <td>
                              <%= repair.repairs_examination_items.count %>
                            </td>
                            <td>
                              <%= repair.repairs_examination_items.where("repair_time IS NOT NULL AND repair_time <> ''").count %>
                            </td>
                            <td>
                              <%= repair.repairs_examination_items.where("repair_time IS NULL OR repair_time = ''").count %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
