<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li>
				<%= link_to "Daftar Perbaikan", admin_repairs_path %>
			</li>
			<li class="active">Perbaikan</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Pemeriksaan </div>

										<div class="profile-info-value">
											<span><%= link_to "Pemeriksaan", admin_examination_path(@repair.examination) %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Pelanggan </div>

										<div class="profile-info-value">
											<span><%= @repair.user ? @repair.user.idpel+" - "+@repair.user.name : "N/A" %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
						</div><!-- /row-fluid -->
						

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_admin_repair_path(@repair) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            <%= link_to admin_repairs_path do %>
	                              <button class="btn btn-success" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Back
	                              </button>
	                            <% end %>
	                        </div>
	                    </div>
					</div>
				</div>

				<div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Item Perbaikan</th>
                          <th>Waktu Perbaikan</th>
                          <th>Petugas</th>
                          <th>Catatan</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @repair.repairs_examination_items.each do |repairs_examination_item| %>
                          <tr>
                            

                            <td>
							   <%= repairs_examination_item.examination_item.name %>
                            </td>
                            <td>
                              <% if repairs_examination_item.repair_time %>
								  <%= repairs_examination_item.repair_time.day %> 
								  <%= @months[repairs_examination_item.repair_time.month] %> 
								  <%= repairs_examination_item.repair_time.year %> 

								  <%= sprintf "%02d", repairs_examination_item.repair_time.hour %>:
								  <%= sprintf "%02d", repairs_examination_item.repair_time.min %>
								<% else %>
								  N/A
								<% end %>
                            </td>
							<td>
							  <%= repairs_examination_item.officer ? repairs_examination_item.officer.name : "N/A" %>&nbsp;
                            </td>
                            <td>
							  <%= repairs_examination_item.note %>&nbsp;
                            </td>
                            <td>
                              <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/repairs_examination_items" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to edit_admin_repairs_examination_item_path(repairs_examination_item), :class => "btn btn-xs btn-info" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/repairs_examination_items" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_repairs_examination_item_path(repairs_examination_item), :class => "btn btn-xs btn-danger", :rel => "tooltip", :method => :delete, :confirm => "Yakin akan menghapus?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->
