<html>
<body>
<p>Dear <%= @receiver_name %>,</p> 

<p>Ada balasan dari <%= @created_by %>, salah satu admin PLN di wilayah anda, telah menjawab feedback dari pelanggan <%= @user_name %>. Mohon klik link dibawah ini untuk melihat detail balasan feedback tersebut dan dapat langsung direspon di halaman tersebut.</p>

<p><a href="<%= @url %>">klik disini</a></p>

<p>Terima Kasih</p>
</body>
</html>