<html>
<body>
<p>Dear <%= @receiver_name %>,</p> 

<p>Ada info terkini dari <%= @created_by %>. Isinya adalah sebagai berikut:</p>

<p><%= @body %></p>

<p>Silakan klik link dibawah ini untuk melihat detail info terkini tersebut.</p>

<p><a href="<%= @url %>">klik disini</a></p>

<p>Terima Kasih</p>
</body>
</html>
