<html>
<body>
<p>Dear <%= @receiver_name %>,</p> 

<p>Ada feedback dari <%= @created_by %>, salah satu pelanggan wilayah anda, yang harus segera direspon. Isinya adalah sebagai berikut:</p>

<p><%= @body %></p>

	<p>Mohon klik link dibawah ini untuk melihat detail feedback tersebut dan dapat langsung direspon di halaman tersebut.</p>

<p><a href="<%= @url %>">klik disini</a></p>

<p>Terima Kasih</p>
</body>
</html>
