<%= form_for([:admin,@examination_indicator], :html => {class:"form-horizontal"}) do |f| %>
  <% if @examination_indicator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination_indicator.errors.count, "error") %> prohibited this examination_indicator from being saved:</h2>

      <ul>
      <% @examination_indicator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :item_pemeriksaan, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <% @examination_items.each do |examination_item| %>
          <div style="float:left; width:45%">
            <%= check_box_tag "examination_indicator[examination_item_ids][]", examination_item.id, @examination_indicator.examination_items.include?(examination_item) %>
            <%= examination_item.name %>
          </div>
        <% end %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_examination_indicators_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>