

<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Dashboard</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">
		<div class="page-header">
			<h1>
				Dashboard
				<small>
					<i class="icon-double-angle-right"></i>
					overview
				</small>
			</h1>
		</div><!-- /.page-header -->

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="row">
					<div class="col-xs-12 infobox-container">
						<div class="space-6"></div>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/users" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<%= link_to admin_users_path, :class => "btn btn-app btn-blue no-radius" do %>
									<i class="icon-user bigger-230"></i>
									Data Pelanggan Potensial
									<span class="badge badge-warning badge-left"></span>
							<% end %>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/premium_users" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<%= link_to admin_premium_users_path, :class => "btn btn-app btn-grey no-radius" do %>
									<i class="icon-user bigger-230"></i>
									Data Pelanggan Premium
									<span class="badge badge-warning badge-left"></span>
							<% end %>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
	                        
	                        <%= link_to admin_monthly_infos_path, :class => "btn btn-app btn-purple no-radius" do %>
									<i class="icon-book bigger-230"></i>
									Data Bulanan
									<span class="badge badge-warning badge-left"></span>
							<% end %>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/data_feedbacks" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
	                        
	                        <%= link_to admin_data_feedbacks_path, :class => "btn btn-app btn-pink no-radius" do %>
									<i class="icon-comment bigger-230"></i>
									Data Feedback
									<span class="badge badge-warning badge-left"><%= @unread_feedbacks.count %>&nbsp;Feedback&nbsp;belum&nbsp;dibaca</span>
							<% end %>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
	                        
	                        <%= link_to admin_data_infos_path, :class => "btn btn-app btn-success no-radius" do %>
									<i class="icon-eye-open bigger-230"></i>
									Info Terkini
									<span class="badge badge-warning badge-left"></span>
							<% end %>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/monthly_info_summaries" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
	                        
	                        <%= link_to admin_monthly_info_summaries_path, :class => "btn btn-app btn-warning no-radius" do %>
									<i class="icon-eye-open bigger-230"></i>
									Summary Data
									<span class="badge badge-warning badge-left"></span>
							<% end %>

						<% end %>
                        
					</div>

				</div><!-- /row -->

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->