<%= content_for :js do %>
  <script type="text/javascript">
      jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable({"aaSorting": []});
        
        
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      })
    </script>
<% end %>


  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Data Info</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Data Info
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="table-header">
                      Info Terkini
                    </div>
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th class="center">
                            <label>
                              <input type="checkbox" class="ace" />
                              <span class="lbl"></span>
                            </label>
                          </th>
                          <th>Tanggal Info</th>
                          <th>Pukul</th>
                          <th>Jenis Info</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @data_infos.each do |data_info| %>
                          <tr>
                            <td class="center">
                              <label>
                                <input type="checkbox" class="ace" />
                                <span class="lbl"></span>
                              </label>
                            </td>

                            <td>
                              <%= link_to data_info_path(data_info) do %>
                                <% if data_info.tgl_info_gangguan %>
                                  <%= data_info.tgl_info_gangguan.day %> 
                                  <%= @months[data_info.tgl_info_gangguan.month] %> 
                                  <%= data_info.tgl_info_gangguan.year %>
                                <% else %>
                                  N/A
                                <% end %>
                              <% end %>
                            </td>
                            <td>
                              <% if data_info.time_start && data_info.time_end %>
                                <%= sprintf "%02d", data_info.time_start.hour %>:<%= sprintf "%02d", data_info.time_start.min %> - <%= sprintf "%02d", data_info.time_end.hour %>:<%= sprintf "%02d", data_info.time_end.min %>
                              <% end %>
                            </td>
                            <td><%= data_info.jenis_info ? data_info.jenis_info.name : "N/A" %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->