
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", homes_path %>
			</li>
			<li>
				<%= link_to "Info Terkini", data_infos_path %>
			</li>
			<li class="active"><%= @data_info.jenis_info ? @data_info.jenis_info.name : "N/A" %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">

							<div class="col-xs-12 col-sm-10">
								<h4 class="blue">
									<span class="middle"><%= @data_info.jenis_info ? @data_info.jenis_info.name : "N/A" %></span>
								</h4>

								<div class="profile-data_info-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Info </div>

										<div class="profile-info-value">
											<span><%= raw(@data_info.info_gangguan) %>&nbsp;</span>
										</div>
									</div>

									<% if @data_info.data_info_detail %>
										<div class="profile-info-row">
											<div class="profile-info-name"> Detail Jenis Info </div>

											<div class="profile-info-value">
												<span><%= @data_info.data_info_detail.name %>&nbsp;</span>
											</div>
										</div>
									<% end %>

									<div class="profile-info-row">
										<div class="profile-info-name"> Tanggal Info </div>

										<div class="profile-info-value">
											<span>
												<% if @data_info.tgl_info_gangguan %>
													<%= @data_info.tgl_info_gangguan.day %> 
													<%= @months[@data_info.tgl_info_gangguan.month] %> 
													<%= @data_info.tgl_info_gangguan.year %> 

													<% if @data_info.time_start && @data_info.time_end %>
														Pukul <%= sprintf "%02d", @data_info.time_start.hour %>:<%= sprintf "%02d", @data_info.time_start.min %> - <%= sprintf "%02d", @data_info.time_end.hour %>:<%= sprintf "%02d", @data_info.time_end.min %>
													<% end %>
												<% else %>
													&nbsp;
												<% end %>
											</span>
										</div>
									</div>

									<% if @data_info.file_file_name && @data_info.file_file_name != "" %>
										<div class="profile-info-row">
											<div class="profile-info-name"> File Upload </div>

											<div class="profile-info-value">
												<span><%= link_to "download", @data_info.file.url %>&nbsp;</span>
											</div>
										</div>
									<% end %>
								</div>
			                    </div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->