<% flash.each do |key, value| %>
    <div class="alert alert-<%=key%>">
        <a class="close" data-dismiss="alert">×</a>
        <%= value %>
    </div>
<% end %>


<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal'}) do |f| %>
	<fieldset>
		<label class="block clearfix">
			<span class="block input-icon input-icon-right">
				<%= f.text_field :username, :class => 'form-control', :autofocus => true %>
				<i class="icon-user"></i>
			</span>
		</label>

		<label class="block clearfix">
			<span class="block input-icon input-icon-right">
				<%= f.password_field :password, :class => 'form-control' %>
				<i class="icon-lock"></i>
			</span>
		</label>

		<div class="space"></div>

		<div class="clearfix">
			<label class="inline">
				<input type="checkbox" name="user[remember_me]" class="ace" />
				<span class="lbl"> Remember Me</span>
			</label>
		</div>
        
        <div class="clearfix">
        	<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
				<i class="icon-key"></i>
				Login
			</button>
        </div>

		<div class="space-4"></div>
	</fieldset>
<% end %>
