<%= form_for([:admin,@article], :html => {class:"form-horizontal", :multipart => true}) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
    <%= f.hidden_field :created_by, :value => current_admin.id %>
  <% else %>
    <%= f.hidden_field :updated_by, :value => current_admin.id %>
  <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Judul</label>
    <div class="col-sm-9">
      
      <%= f.text_field :title, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Isi</label>
    <div class="col-sm-5">
        <input type="file" name="article[image]" id="id-input-file-2" />
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Summary</label>
    <div class="col-sm-9">
      
      <%= f.text_area :summary, :rows => 4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Isi</label>
    <div class="col-sm-9">
        <%= f.text_area :body, :class => "ckeditor" %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_articles_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>

<%= content_for :js do %>

  <%= javascript_include_tag "ckeditor/init" %>

  <script type="text/javascript">
    $(function(){

      function showErrorAlert (reason, detail) {
        var msg='';
        if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
        else {
          console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
         '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
      }

      $('.editor1').ace_wysiwyg({
        toolbar:
        [
          'font',
          null,
          'fontSize',
          null,
          {name:'bold', className:'btn-info'},
          {name:'italic', className:'btn-info'},
          {name:'strikethrough', className:'btn-info'},
          {name:'underline', className:'btn-info'},
          null,
          {name:'insertunorderedlist', className:'btn-success'},
          {name:'insertorderedlist', className:'btn-success'},
          {name:'outdent', className:'btn-purple'},
          {name:'indent', className:'btn-purple'},
          null,
          {name:'justifyleft', className:'btn-primary'},
          {name:'justifycenter', className:'btn-primary'},
          {name:'justifyright', className:'btn-primary'},
          {name:'justifyfull', className:'btn-inverse'},
          null,
          {name:'createLink', className:'btn-pink'},
          {name:'unlink', className:'btn-pink'},
          null,
          {name:'insertImage', className:'btn-success'},
          null,
          'foreColor',
          null,
          {name:'undo', className:'btn-grey'},
          {name:'redo', className:'btn-grey'}
        ],
        'wysiwyg': {
          fileUploadError: showErrorAlert
        }
      }).prev().addClass('wysiwyg-style2');
    });
  </script>
<% end %>