<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li>
				<%= link_to "Daftar Artikel", admin_articles_path %>
			</li>
			<li class="active"><%= @article.title %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="<%= @article.image.url(:side) %>" />
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Judul </div>

										<div class="profile-info-value">
											<span><%= @article.title %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Body </div>

										<div class="profile-info-value">
											<span><%= raw(@article.body) %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->
						

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_admin_article_path(@article) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            <%= link_to admin_articles_path do %>
	                              <button class="btn btn-success" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Back
	                              </button>
	                            <% end %>
	                        </div>
	                    </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->

current_admin.kawasan