

      <main id="main" class="site-main">

        

        <div class="banner" style="background: url(/assets/bged-3.jpg) repeat;color:#fff;">
          <div class="container">
            <h2>Daftar Berita PLN</h2>
            <div class="site_map">
              <!-- <a href="index.html">Home</a> /<a href="blog.html"> blog</a> / blog single -->
            </div>
            <div class="clear"></div>
          </div>
        </div>

        <section id="blog" class="section section-blog">
          <div class="container">
            <% @articles.each do |article| %>
              <div class="col-md-6">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                      <a href="#" class="hover-effect">
                        <img src="<%= article.image.url(:side) %>" alt="" />
                        <span class="overlay"><i class="fa fa-plus"></i></span>
                      </a>
                    </div>
                    <div class="col-lg-8 col-md-7 col-sm-8">
                      <header class="entry-header">
                        <h2 class="entry-title"><%= link_to article.title, article_path(article) %></h2>
                        <div class="entry-meta">By <%= article.created ? article.created.username : "No Name" %></div>
                      </header>
                      <div class="entry-content">
                        <p><%= article.summary[0..100] %></p>
                        <%= link_to article_path(article), :class => "more" do %>
                            <span class="btn btn-primary">Continue Reading</span>
                            <% end %>
                      </div>
                    </div>
                  </div>
                </article>
              </div>
            <% end %>
          </div>
        </section>
        
      </main>