
      <main id="main" class="site-main">

        

        <div class="banner" style="background: url(/assets/bged-3.jpg) repeat;color:#fff;">
          <div class="container">
            <h2><%= @article.title %></h2>
            <div class="site_map">
              By <%= @article.created ? @article.created.username : "No Name" %>
            </div>
            <div class="clear"></div>
          </div>
        </div>  

        
        <section id="blog" class="section section-blog">
          <div class="container">
            
            <div class="row">
              <div class="col-md-8">
                <article class="hentry post">
                  <div class="row">
                    <div class="entry-thumbnail">
                      <a href="#" class="">
                        <img src="<%= @article.image.url(:large) %>" alt="" />
                      </a>
                    </div>
                    <div class="">
                      <header class="entry-header">
                        <!-- <h2 class="entry-title"><a href="#">Sample blog title</a></h2>
                        <div class="entry-meta">By <a href="#">Jackie Lord</a> in <a href="#">Category</a></div> -->
                      </header>
                      <div class="entry-content">
                        <%= raw(@article.body) %>
                      </div>

                      
                    </div>
                  </div>
                </article>
              </div>
              <div class="col-md-4">
                <% i=0 %>
                <% @articles.each do |article| %>
                    <% if article != @article %>
                        <article class="hentry post">
                          <div class="row">
                            <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                              <a href="#" class="hover-effect">
                                <img src="<%= article.image.url(:side) %>" alt="" />
                                <span class="overlay"><i class="fa fa-plus"></i></span>
                              </a>
                            </div>
                            <div class="col-lg-8 col-md-7 col-sm-8">
                              <header class="entry-header">
                                <h2 class="entry-title"><%= link_to article.title, article_path(article) %></h2>
                                <div class="entry-meta">By <%= article.created ? article.created.username : "No Name" %></div>
                              </header>
                              <div class="entry-content">
                                <p><%= article.summary[0..75] %></p>
                                <%= link_to article_path(article), :class => "more" do %>
                                    <span class="btn btn-primary">Continue Reading</span>
                                <% end %>
                              </div>
                            </div>
                          </div>
                        </article>
                        <% i = i+1 %>
                    <% end %>
                    <% if i == 2 %>
                        <% break %>
                    <% end %>
                <% end %>
              </div>
            </div>

            
          </div>
        </section>
        
      </main>