<%= form_for([:admin,@premium_user], :url => action_name == "new" || action_name == "create" ? admin_premium_users_path : admin_premium_user_path(@premium_user), :html => {:multipart => true, :class =>"form-horizontal"}) do |f| %>

  <% if @premium_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@premium_user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @premium_user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs padding-18">
        <li class="active">
          <a data-toggle="tab" href="#admin">
            <i class="green icon-book bigger-120"></i>
            Administrasi
          </a>
        </li>

        <li>
          <a data-toggle="tab" href="#teknis">
            <i class="orange icon-cogs bigger-120"></i>
            Teknis
          </a>
        </li>

        <li>
          <a data-toggle="tab" href="#internal">
            <i class="blue icon-info-sign bigger-120"></i>
            Internal Pelanggan
          </a>
        </li>

      </ul>

      <div class="tab-content no-border padding-24">
        <div id="admin" class="tab-pane in active">

          <div class="form-group">
            <%= f.label :username, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :username, :class => "col-xs-10 col-sm-5" %>
            </div>
           </div> 

           <div class="form-group">
            <%= f.label :email, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :email, :class => "col-xs-10 col-sm-5" %>
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Foto </label>
                                
            <div class="col-sm-3">
              <input type="file" name="user[avatar]" id="id-input-file-2" />
             </div>
          </div>

           <% if params[:action] == "new" || params[:action] == "create" %>
             <div class="form-group">
              <%= f.label :password, class:"col-sm-3 control-label no-padding-right" %>
              <div class="col-sm-9">
                
                <%= f.password_field :password, :class => "col-xs-10 col-sm-5" %>
              </div>
             </div> 

             <div class="form-group">
              <%= f.label :password_confirmation, class:"col-sm-3 control-label no-padding-right" %>
              <div class="col-sm-9">
                
                <%= f.password_field :password_confirmation, :class => "col-xs-10 col-sm-5" %>
              </div>
             </div> 
          <% end %>

          <div class="form-group">
            <%= f.label :nama_pelanggan, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Identitas Pelanggan</label>
            <div class="col-sm-9">
              
              <%= f.text_field :idpel, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jenis Layanan</label>
            <div class="col-sm-9">
              <select class="form-search" name="user[jenis_layanan_id]" data-rel="chosen">
                  <% @jenis_layanans.each do |jenis_layanan| %>
                    <% if jenis_layanan.id == @premium_user.jenis_layanan_id %>
                      <option value="<%= jenis_layanan.id %>" selected><%= jenis_layanan.name %></option>
                    <% else %>
                      <option value="<%= jenis_layanan.id %>"><%= jenis_layanan.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Golongan Tarif</label>
            <div class="col-sm-9">
              
              <select class="form-search" name="user[master_tarif_id]" data-rel="chosen">
                  <% @master_tarifs.each do |master_tarif| %>
                    <% if master_tarif.id == @premium_user.master_tarif_id %>
                      <option value="<%= master_tarif.id %>" selected><%= master_tarif.name %></option>
                    <% else %>
                      <option value="<%= master_tarif.id %>"><%= master_tarif.name %></option>
                    <% end %>
                  <% end %>
                </select>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Daya</label>
            <div class="col-sm-9">
              
              <select class="form-search" name="user[daya_id]" data-rel="chosen">
                  <% @dayas.each do |daya| %>
                    <% if daya.id == @premium_user.daya_id %>
                      <option value="<%= daya.id %>" selected><%= number_to_currency daya.name.to_i, :unit => "", :delimiter => ".", :precision => 0 %> VA</option>
                    <% else %>
                      <option value="<%= daya.id %>"><%= number_to_currency daya.name.to_i, :unit => "", :delimiter => ".", :precision => 0 %> VA</option>
                    <% end %>
                  <% end %>
                </select>
              
            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Area</label>
            <div class="col-sm-9">
              <select class="selectArea form-search chosen-select" name="user[area_new_id]" data-rel="chosen">
                <option>-- Pilih Area --</option>
                  <% @areas.each do |area| %>
                    <% if area.area_id == @premium_user.area_new_id || (current_admin.rayon && current_admin.rayon.area_new_id == area.area_id) %>
                      <option value="<%= area.area_id %>" selected><%= area.name %></option>
                    <% else %>
                      <option value="<%= area.area_id %>"><%= area.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div> 

          <div class="form-group" id='rayongroup' <%= params[:action] == 'new' && ! current_admin.rayon ? 'style="display:none"'.html_safe : '' %> >
              <label class="col-sm-3 control-label no-padding-right" for="selectRayon">Rayon</label>
              <div class="col-sm-9">
                <select class="selectRayon form-search" id="user_rayon_id" name="user[rayon_new_id]" > <!-- data-rel="chosen"> -->
                  <option value="">-- Pilih Rayon --</option>
                  <% if params[:action] != 'new' || current_admin.rayon %>
                    <% @rayons.each do |rayon| %>
                      <% if rayon.rayon_id == @premium_user.rayon_new_id || current_admin.rayon_new_id == rayon.rayon_id %>
                        <option value="<%= rayon.rayon_id %>" selected><%= rayon.name %></option>
                      <% else %>
                        <option value="<%= rayon.rayon_id %>"><%= rayon.name %></option>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kawasan</label>
            <div class="col-sm-9">
              <select class="selectKawasan form-search" name="user[kawasan_id]" data-rel="chosen">
                <option>-- Pilih Kawasan --</option>
                  <% @kawasans.each do |kawasan| %>
                    <% if kawasan.id == @premium_user.kawasan_id %>
                      <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
                    <% else %>
                      <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div> 

          <div class="form-group">
              <%= f.label :alamat_pelanggan, class:"col-sm-3 control-label no-padding-right" %>
              <div class="col-sm-9">
                <%= f.text_area :alamat_pelanggan, :rows => 3, :class => "form-control" %>
              </div>
          </div>  

          <div class="form-group">
            <%= f.label :nomor_bangunan, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_bangunan, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

          <div class="form-group">
            <%= f.label :keterangan_bangunan, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :keterangan_bangunan, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Nomor RT</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_rt, :class => "col-xs-10 col-sm-5 numeric" %>

            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Nomor RW</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_rw, :class => "col-xs-10 col-sm-5 numeric" %>

            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right">Nomor Dalam RT</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_dlm_rt, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

          <div class="form-group">
            <%= f.label :lingkungan, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :lingkungan, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectProvince">Provinsi</label>
            <div class="col-sm-9">
              <select id="user_province_id" class="selectProvince form-search chosen-select" name="user[province_id]" data-rel="chosen">
              <option value="">-- Pilih Provinsi --</option>
                <% @provinces.each do |province| %>
                  <% if province.id == @premium_user.province_id %>
                    <option value="<%= province.id %>" selected><%= province.name %></option>
                  <% else %>
                    <option value="<%= province.id %>"><%= province.name %></option>
                  <% end %>
                <% end %>
              </select>
            </div>
          </div>

          <div class="form-group" id='districtgroup' <%= params[:action] != 'edit' ? 'style="display:none"'.html_safe : '' %> >
              <label class="col-sm-3 control-label no-padding-right" for="selectDistrict">Kabupaten/Kota</label>
              <div class="col-sm-9">
                <select class="selectDistrict form-search" id="user_district_id" name="user[district_id]" > 
                  <option value="">-- Pilih Kabupaten/Kota --</option>
                  <% if params[:action] == 'edit' %>
                    <% @districts.each do |district| %>
                      <% if district.id == @premium_user.district_id %>
                        <option value="<%= district.id %>" selected><%= district.name %></option>
                      <% else %>
                        <option value="<%= district.id %>"><%= district.name %></option>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div>

          <div class="form-group" id='subdistrictgroup' <%= params[:action] != 'edit' ? 'style="display:none"'.html_safe : '' %> >
              <label class="col-sm-3 control-label no-padding-right" for="selectSubDistrict">Kecamatan</label>
              <div class="col-sm-9">
                <select class="selectSubDistrict form-search" id="user_subdistrict_id" name="user[subdistrict_id]" > <!-- data-rel="chosen"> -->
                  <option value="">-- Pilih Kecamatan --</option>
                   <% if params[:action] == 'edit' %>
                    <% @subdistricts.each do |subdistrict| %>
                      <% if subdistrict.id == @premium_user.subdistrict_id %>
                        <option value="<%= subdistrict.id %>" selected><%= subdistrict.name %></option>
                      <% else %>
                        <option value="<%= subdistrict.id %>"><%= subdistrict.name %></option>
                      <% end %>
                    <% end %>
                  <% end %>
                </select>
              </div>
          </div>

          <div class="form-group">
            <%= f.label :kode_pos, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :kode_pos, :class => "col-xs-10 col-sm-5 numeric" %>

            </div>
           </div> 

          <div class="form-group">
            <%= f.label :nomor_telepon, class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_telepon, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Nomor Faksimili </label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_fax, :class => "col-xs-10 col-sm-5" %>

            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Nomor SPJBTL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_pks, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Tanggal SPJBTL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :tanggal_pks, :class => "col-xs-10 col-sm-5 datepicker" %>
              
            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> File SPJBTL </label>
                                
            <div class="col-sm-3">
              <input type="file" name="user[file_pks]" id="id-input-file-1" />
             </div>
          </div>

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Nomor Addendum SPJBTL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_adendum_spjbtl, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Tanggal Addendum SPJBTL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :tanggal_addendum_spjbtl, :class => "col-xs-10 col-sm-5 datepicker" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Tanggal Layanan Premium</label>
            <div class="col-sm-9">
              
              <%= f.text_field :tanggal_layanan_premium, :class => "col-xs-10 col-sm-5 datepicker" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Rupiah UJL </label>
            <div class="col-sm-9">
              
              Rp &nbsp;<%= f.text_field :rupiah_ujl, :size => 37, :class => "numeric" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Nomor Kuitansi UJL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_kuit_ujl, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Tanggal Kuitansi UJL </label>
            <div class="col-sm-9">
              
              <%= f.text_field :tgl_kuit_ujl_date, :class => "col-xs-10 col-sm-5 datepicker" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Tanggal Pasang Baru</label>
            <div class="col-sm-9">
              
              <%= f.text_field :tanggal_pasang_baru, :class => "col-xs-10 col-sm-5 datepicker" %>
              
            </div>
           </div> 

           <div class="form-group">
            
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Koordinat X</label>
            <div class="col-sm-9">
              
              <%= f.text_field :koordinat_x, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Koordinat Y</label>
            <div class="col-sm-9">
              
              <%= f.text_field :koordinat_y, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

        </div>

        <div id="teknis" class="tab-pane">

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Merk Meter</label>
            <div class="col-sm-9">
              <select class="form-search" name="user[merk_meter_id]" data-rel="chosen">
                <option>-- Pilih Merk Meter --</option>
                  <% @merk_meters.each do |merk_meter| %>
                    <% if merk_meter.id == @premium_user.merk_meter_id %>
                      <option value="<%= merk_meter.id %>" selected><%= merk_meter.name %></option>
                    <% else %>
                      <option value="<%= merk_meter.id %>"><%= merk_meter.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Type Meter</label>
            <div class="col-sm-9">
              <select class="form-search" name="user[type_meter_id]" data-rel="chosen">
                <option>-- Pilih Type Meter --</option>
                  <% @type_meters.each do |type_meter| %>
                    <% if type_meter.id == @premium_user.type_meter_id %>
                      <option value="<%= type_meter.id %>" selected><%= type_meter.name %></option>
                    <% else %>
                      <option value="<%= type_meter.id %>"><%= type_meter.name %></option>
                    <% end %>
                  <% end %>
                </select>
              </div>
           </div> 

          <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Meter</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_meter, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Trafo Arus Primer</label>
            <div class="col-sm-9">
              
              <%= f.text_field :trafo_arus_primer_kwh, :class => "col-xs-10 col-sm-5 numeric" %> A
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Trafo Arus Sekunder</label>
            <div class="col-sm-9">
              
              <%= f.text_field :trafo_arus_sekunder_kwh, :class => "col-xs-10 col-sm-5 numeric" %> A
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Trafo Tegangan Primer</label>
            <div class="col-sm-9">
              
              <%= f.text_field :trafo_tegangan_primer_kwh, :class => "col-xs-10 col-sm-5 numeric" %> V
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Trafo Tegangan Sekunder</label>
            <div class="col-sm-9">
              
              <%= f.text_field :trafo_tegangan_sekunder_kwh, :class => "col-xs-10 col-sm-5 numeric" %> V
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Konstanta</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kosntanta_meter, :class => "col-xs-10 col-sm-5 numeric" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Faktor Kali Meter</label>
            <div class="col-sm-9">
              
              <%= f.text_field :faktor_kali_meter, :class => "col-xs-10 col-sm-5 numeric" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama Gardu Distribusi</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_gardu, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Trafo Distribusi</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_trafo, :class => "col-xs-10 col-sm-5 numeric" %> kVA
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Tegangan</label>
            <div class="col-sm-9">
              
              <%= f.text_field :tegangan, :class => "col-xs-10 col-sm-5 numeric" %> V
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama GI 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_gi_1, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Trafo GI 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_trafo_induk_1, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Trafo GI 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_trafo_induk_1, :class => "col-xs-10 col-sm-5 numeric" %> MVA
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Pasokan Penyulang 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_penyulang_1, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama GI 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_gi_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Trafo GI 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_trafo_induk_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Trafo GI 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_trafo_induk_2, :class => "col-xs-10 col-sm-5 numeric" %> MVA
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Pasokan Penyulang 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_penyulang_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama GI 3</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_gi_3, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Trafo GI 3</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_trafo_induk_3, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Trafo GI 3</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_trafo_induk_3, :class => "col-xs-10 col-sm-5 numeric" %> MVA
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Pasokan Penyulang 3</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_penyulang_3, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama GI 4</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_gi_4, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Trafo GI 4</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_trafo_induk_4, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Trafo GI 4</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_trafo_induk_4, :class => "col-xs-10 col-sm-5 numeric" %> MVA
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Pasokan Penyulang 4</label>
            <div class="col-sm-9">
              
              <%= f.text_field :pasokan_penyulang_4, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div>  
        </div>

        <div id="internal" class="tab-pane">


           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor KLUI</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_klui, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jenis Usaha Industri</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_usaha, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">jenis_bahan_baku</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_bahan_baku, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jenis Komoditi Produk</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_komoditi_produk, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Kapasitas Produksi Per Tahun</label>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_produksi_per_tahun, :class => "col-xs-10 col-sm-5 numeric" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jumlah Tenaga Kerja</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jumlah_tenaga_kerja, :class => "col-xs-10 col-sm-5 numeric" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Mesin Peralatan Utama</label>
            <div class="col-sm-9">
              
              <%= f.text_field :mesin_peralatan_utama, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Mesin Peralatan Pembantu</label>
            <div class="col-sm-9">
              
              <%= f.text_field :mesin_peralatan_pembantu, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Pimpinan Perusahaan</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_dirut_string, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Wakil Pimpinan Perusahaan</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_wakil_dirut, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jabatan PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jabatan_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Telepon PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_telepon_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor HP PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_hp_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div>  

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Email PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :email_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jabatan PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jabatan_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Telepon PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_telp_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor HP PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_hp_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Email PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :email_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 
        </div>
      </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_premium_users_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>