
                    <h2>
                      Daftar Pelanggan Premium
                    </h2>
                    <br />
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                          <th>Idpel</th>
                          <th>Nama</th>
                          <th>Jenis Layanan</th>
                          <th>Golongan Tarif</th>
                          <th>Daya</th>
                          <th>Rayon</th>
                          <th>Area</th>
                          <th>Kawasan</th>
                          <th>Alamat</th>
                          <th>Nomor Telepon</th>
                          <th>Nomor Faksimili</th>
                          <th>Nomor SPJBTL</th>
                          <th>Tanggal SPJBTL</th>
                          <th>Nomor Addendum SPJBTL</th>
                          <th>Tanggal Layanan Premium</th>
                          <th>Rupiah UJL</th>
                          <th>No Kuitansi UJL</th>
                          <th>Tanggal Pasang Baru</th>
                          <th>Lattitude</th>
                          <th>Longitude</th>
                          <th>Merk Meter</th>
                          <th>Tipe Meter</th>
                          <th>Nomor kWh Meter</th>
                          <th>Trafo Arus Primer</th>
                          <th>Trafo Arus Sekunder</th>
                          <th>Trafo Tegangan Primer</th>
                          <th>Trafo Tegangan Sekunder</th>
                          <th>Konstanta</th>
                          <th>Faktor Kali Meter</th>
                          <th>Nama Gardu Distribusi</th>
                          <th>Kapasitas Trafo Distribusi</th>
                          <th>Tegangan Pelayanan</th>
                          <th>Pasokan GI 1</th>
                          <th>Pasokan Penyulang 1</th>
                          <th>Pasokan GI 2</th>
                          <th>Pasokan Penyulang 2</th>
                          <th>Pasokan GI 3</th>
                          <th>Pasokan Penyulang 3</th>
                          <th>Pasokan GI 4</th>
                          <th>Pasokan Penyulang 4</th>
                          <th>Nomor KLUI</th>
                          <th>Jenis Usaha Industri</th>
                          <th>Jenis Bahan Baku</th>
                          <th>Jenis Komoditi Produk</th>
                          <th>Kapasitas Produksi Per Tahun</th>
                          <th>Jumlah Tenaga Kerja</th>
                          <th>Mesin Peralatan Utama</th>
                          <th>Mesin Peralatan Pembantu</th>
                          <th>Pimpinan Perusahaan</th>
                          <th>Wakil Pimpinan Perusahaan</th>
                          <th>Nama PIC 1</th>
                          <th>Jabatan PIC 1</th>
                          <th>Nomor Telepon PIC 1</th>
                          <th>Nomor HP PIC 1</th>
                          <th>Email PIC 1 </th>
                          <th>Nama PIC 2</th>
                          <th>Jabatan PIC 2</th>
                          <th>Nomor Telepon PIC 2</th>
                          <th>Nomor HP PIC 2</th>
                          <th>Email PIC 2 </th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @premium_users.each do |premium_user| %>
                            <tr>

                              <td>
                                <%= premium_user.idpel.to_s %>
                              </td>
                              <td><%= premium_user.name %></td>
                              <td><%= premium_user.jenis_layanan ? premium_user.jenis_layanan.name : "N/A" %></td>
                              <td><%= premium_user.master_tarif ? premium_user.master_tarif.name : "N/A" %></td>
                              <td><%= premium_user.master_daya ? premium_user.master_daya.name : "N/A" %></td>
                              <td><%= premium_user.rayon ? premium_user.rayon.name : "N/A" %></td>
                              <td><%= premium_user.area ? premium_user.area.name : "N/A" %></td>

                              <td>
                                <%= premium_user.kawasan ? premium_user.kawasan.nama_kawasan : "N/A" %>
                              </td>
                              <td class="profile-info-value">
                                <span><%= premium_user.alamat_pelanggan %></span>
                                <% if premium_user.nomor_bangunan && premium_user.nomor_bangunan != "" %>
                                  <span><%= premium_user.nomor_bangunan %></span>
                                <% end %>
                                <% if premium_user.keterangan_bangunan && premium_user.keterangan_bangunan != "" %>
                                  <span><%= premium_user.keterangan_bangunan %></span>
                                <% end %>
                                <% if premium_user.nomor_rt && premium_user.nomor_rt != "" %>
                                  <span>RT <%= premium_user.nomor_rt %></span>
                                <% end %>
                                <% if premium_user.nomor_rw && premium_user.nomor_rw != "" %>
                                  <span>RW <%= premium_user.nomor_rw %></span>
                                <% end %>
                                <% if premium_user.lingkungan && premium_user.lingkungan != "" %>
                                  <span><%= premium_user.lingkungan %></span>
                                <% end %>
                                <% if premium_user.subdistrict %>
                                  <span><%= premium_user.subdistrict ? premium_user.subdistrict.name : "" %></span>
                                <% end %>
                                <% if premium_user.district %>
                                  <span><%= premium_user.district ? premium_user.district.name : "" %></span>
                                <% end %>
                                <% if premium_user.province %>
                                  <span><%= premium_user.province ? premium_user.province.name : "" %></span>
                                <% end %>
                                <% if premium_user.kode_pos != "" %>
                                  <span><%= premium_user.kode_pos %></span>
                                <% end %>
                              </td>
                              <td><%= premium_user.nomor_telepon %></td>
                              <td><%= premium_user.nomor_fax %></td>
                              <td><%= premium_user.nomor_pks %></td>
                              <td><%= premium_user.tanggal_pks %></td>
                              <td><%= premium_user.nomor_adendum_spjbtl %></td>
                              <td><%= premium_user.tanggal_layanan_premium %></td>
                              <td><%= premium_user.rupiah_ujl %></td>
                              <td><%= premium_user.no_kuit_ujl %></td>
                              <td><%= premium_user.tgl_kuit_ujl_date %></td>
                              <td><%= premium_user.tanggal_pasang_baru %></td>
                              <td><%= premium_user.koordinat_y %></td>
                              <td><%= premium_user.koordinat_x %></td>
                              <td><%= premium_user.merk_meter ? premium_user.merk_meter.name : "N/A" %></td>
                              <td><%= premium_user.type_meter ? premium_user.type_meter.name : "N/A" %></td>
                              <td><%= premium_user.nomor_meter %></td>
                              <td><%= premium_user.trafo_arus_primer_kwh %></td>
                              <td><%= premium_user.trafo_arus_sekunder_kwh %></td>
                              <td><%= premium_user.trafo_tegangan_primer_kwh %></td>
                              <td><%= premium_user.trafo_tegangan_sekunder_kwh %></td>
                              <td><%= premium_user.kosntanta_meter %></td>
                              <td><%= premium_user.faktor_kali_meter %></td>
                              <td><%= premium_user.nama_gardu %></td>
                              <td><%= premium_user.kapasitas_trafo %></td>
                              <td><%= premium_user.tegangan %></td>
                              <td><%= premium_user.pasokan_gi_1 %>/<%= premium_user.nomor_trafo_induk_1 %>/<%= premium_user.kapasitas_trafo_induk_1 %></td>
                              <td><%= premium_user.pasokan_penyulang_1 %></td>
                              <td><%= premium_user.pasokan_gi_2 %>/<%= premium_user.nomor_trafo_induk_2 %>/<%= premium_user.kapasitas_trafo_induk_2 %></td>
                              <td><%= premium_user.pasokan_penyulang_2 %></td>
                              <td><%= premium_user.pasokan_gi_3 %>/<%= premium_user.nomor_trafo_induk_3 %>/<%= premium_user.kapasitas_trafo_induk_3 %></td>
                              <td><%= premium_user.pasokan_penyulang_3 %></td>
                              <td><%= premium_user.pasokan_gi_4 %>/<%= premium_user.nomor_trafo_induk_4 %>/<%= premium_user.kapasitas_trafo_induk_4 %></td>
                              <td><%= premium_user.pasokan_penyulang_4 %></td>
                              <td><%= premium_user.nomor_klui %></td>
                              <td><%= premium_user.jenis_usaha %></td>
                              <td><%= premium_user.jenis_bahan_baku %></td>
                              <td><%= premium_user.jenis_komoditi_produk %></td>
                              <td><%= premium_user.kapasitas_produksi_per_tahun %></td>
                              <td><%= premium_user.jumlah_tenaga_kerja %></td>
                              <td><%= premium_user.mesin_peralatan_utama %></td>
                              <td><%= premium_user.mesin_peralatan_pembantu %></td>
                              <td><%= premium_user.nama_dirut_string %></td>
                              <td><%= premium_user.nama_wakil_dirut %></td>
                              <td><%= premium_user.nama_contact %></td>
                              <td><%= premium_user.jabatan_contact %></td>
                              <td><%= premium_user.no_telepon_contact %></td>
                              <td><%= premium_user.nomor_hp_contact %></td>
                              <td><%= premium_user.email_contact %></td>
                              <td><%= premium_user.nama_contact_2 %></td>
                              <td><%= premium_user.jabatan_contact_2 %></td>
                              <td><%= premium_user.no_telp_contact_2 %></td>
                              <td><%= premium_user.no_hp_contact_2 %></td>
                              <td><%= premium_user.email_contact_2 %></td>
                            </tr>
                          <% end %>
                        
                      </tbody>
                    </table>
                  
