<%= form_for([:admin,@officer], :html => {class:"form-horizontal"}) do |f| %>
  <% if @officer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@officer.errors.count, "error") %> prohibited this officer from being saved:</h2>

      <ul>
      <% @officer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="selectError">Area</label>
      <div class="col-sm-9">
        <select class="selectArea form-search chosen-select" name="officer[area_id]" data-rel="chosen">
          <option>-- Pilih Area --</option>
            <% @areas.each do |area| %>
              <% if area.area_id == @officer.area_id || (current_admin.rayon && current_admin.rayon.area_id == area.area_id) %>
                <option value="<%= area.area_id %>" selected><%= area.name %></option>
              <% else %>
                <option value="<%= area.area_id %>"><%= area.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
    </div> 

    <div class="form-group" id='rayongroup' <%= params[:action] == 'new' && ! current_admin.rayon ? 'style="display:none"'.html_safe : '' %> >
        <label class="col-sm-3 control-label no-padding-right" for="selectRayon">Rayon</label>
        <div class="col-sm-9">
          <select class="selectRayon form-search" id="user_rayon_id" name="officer[rayon_id]" > <!-- data-rel="chosen"> -->
            <option value="">-- Pilih Rayon --</option>
            <% if params[:action] != 'new' || current_admin.rayon %>
              <% @rayons.each do |rayon| %>
                <% if rayon.rayon_id == @officer.rayon_id || current_admin.rayon_id == rayon.rayon_id %>
                  <option value="<%= rayon.rayon_id %>" selected><%= rayon.name %></option>
                <% else %>
                  <option value="<%= rayon.rayon_id %>"><%= rayon.name %></option>
                <% end %>
              <% end %>
            <% end %>
          </select>
        </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="selectError">Kawasan</label>
      <div class="col-sm-9">
        <select class="selectKawasan form-search" name="officer[kawasan_id]" data-rel="chosen">
          <option>-- Pilih Kawasan --</option>
            <% @kawasans.each do |kawasan| %>
              <% if kawasan.id == @officer.kawasan_id %>
                <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
              <% else %>
                <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
              <% end %>
            <% end %>
          </select>
        </div>
    </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_officers_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>