
<%= form_for [:admin, @action_model], :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <% if @action_model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@action_model.errors.count, "error") %> prohibited this rental from being saved:</h2>

          <ul>
          <% @action_model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if params[:action] == "new" %>
        <%= f.hidden_field :controller_model_id, :value => @controller_model.id %>
      <% end %>
      <fieldset>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Name</label>
              <div class="controls">
                <%= f.text_field :name, :class => "input-xlarge focused" %>
              </div>
        </div>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Path</label>
              <div class="controls">
                <%= f.text_field :path, :class => "input-xlarge focused" %>
              </div>
        </div>
        <div class="form-actions">
              <%= f.submit "Submit", :class => "btn btn-primary" %>
              <a class="btn" href="/admin/action_models">Cancel</a>
        </div>
      </fieldset>
<% end %>
      
