
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", homes_path %>
			</li>
			<li class="active">Profil <%= @user.name %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<ul class="ace-thumbnails">
										<li>
                                            <a href="<%= @user.avatar.url(:original) %>" data-rel="colorbox">
                                                <%= image_tag(@user.avatar(:medium), :class => "editable img-responsive", :id => "avatar2") %>
                                                <div class="text">
                                                    <div class="inner"></div>
                                                </div>
                                            </a>
										</li>	
                                    </ul>
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<h4 class="blue">
									<span class="middle"><%= @user.name %></span>

									<% if @user.jenis_layanan && @user.jenis_layanan.name == "PLATINUM" %>
										<span class="label label-purple label-xlg">
											<i class="icon-circle smaller-80 align-middle"></i>
											PLATINUM
										</span>
									<% elsif @user.jenis_layanan && @user.jenis_layanan.name == "GOLD" %>

										<span class="label label-yellow label-xlg">
											<i class="icon-circle smaller-80 align-middle"></i>
											GOLD
										</span>

									<% elsif @user.jenis_layanan && @user.jenis_layanan.name == "SILVER" %>

										<span class="label label-grey label-xlg">
											<i class="icon-circle smaller-80 align-middle"></i>
											SILVER
										</span>

									<% elsif @user.jenis_layanan && @user.jenis_layanan.name == "BRONZE" %>

										<span class="label label-red label-xlg">
											<i class="icon-circle smaller-80 align-middle"></i>
											BRONZE
										</span>

									<% end %>
								</h4>

								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Identitas Pelanggan </div>

										<div class="profile-info-value">
											<span><%= @user.idpel %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Golongan Tarif </div>

										<div class="profile-info-value">
											<span><%= @user.master_tarif ? @user.master_tarif.name : "N/A" %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Daya </div>

										<div class="profile-info-value">
											<span><%= @user.daya ? (number_to_currency @user.daya.to_i, :unit => "", :delimiter => ".", :precision => 0) : "N/A" %> VA</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Area </div>

										<div class="profile-info-value">
											<span><%= @user.area ? @user.area.name : "N/A" %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rayon </div>

										<div class="profile-info-value">
											<span><%= @user.rayon ? @user.rayon.name : "N/A" %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Kawasan </div>

										<div class="profile-info-value">
											<span><%= @user.kawasan ? @user.kawasan.nama_kawasan : "N/A" %></span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->

						<div class="space-20"></div>
							
						<div class="tabbable">
							<ul class="nav nav-tabs padding-18">
								<li class="active">
									<a data-toggle="tab" href="#admin">
										<i class="green icon-book bigger-120"></i>
										Administrasi
									</a>
								</li>

								<li>
									<a data-toggle="tab" href="#teknis">
										<i class="orange icon-cogs bigger-120"></i>
										Teknis
									</a>
								</li>

								<li>
									<a data-toggle="tab" href="#internal">
										<i class="blue icon-info-sign bigger-120"></i>
										Internal Pelanggan
									</a>
								</li>

							</ul>

							<div class="tab-content no-border padding-24">
								<div id="admin" class="tab-pane in active">
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> Alamat </div>

											<div class="profile-info-value">
												<i class="icon-map-marker light-orange bigger-110"></i>
												<span><%= @user.alamat_pelanggan %></span>
												<% if @user.nomor_bangunan && @user.nomor_bangunan != "" %>
													<span><%= @user.nomor_bangunan %></span>
												<% end %>
												<% if @user.keterangan_bangunan && @user.keterangan_bangunan != "" %>
													<span><%= @user.keterangan_bangunan %></span>
												<% end %>
												<% if @user.nomor_rt && @user.nomor_rt != "" %>
													<span>RT <%= @user.nomor_rt %></span>
												<% end %>
												<% if @user.nomor_rw && @user.nomor_rw != "" %>
													<span>RW <%= @user.nomor_rw %></span>
												<% end %>
												<% if @user.lingkungan && @user.lingkungan != "" %>
													<span><%= @user.lingkungan %></span>
												<% end %>
												<% if @user.subdistrict %>
													<span><%= @user.subdistrict ? @user.subdistrict.name : "" %></span>
												<% end %>
												<% if @user.district %>
													<span><%= @user.district ? @user.district.name : "" %></span>
												<% end %>
												<% if @user.province %>
													<span><%= @user.province ? @user.province.name : "" %></span>
												<% end %>
												<% if @user.kode_pos != "" %>
													<span><%= @user.kode_pos %></span>
												<% end %>
											</div>
										</div>
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor Telepon </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_telepon %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor Faksimili </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_fax %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor SPJBTL </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_pks %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tanggal SPJBTL </div>

											<div class="profile-info-value">
												<span><% if @user.tanggal_pks %><%= @user.tanggal_pks.day %> <%= @months[@user.tanggal_pks.month] %> <%= @user.tanggal_pks.year %><% end %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-name"> File SPJBTL </div>

											<div class="profile-info-value">
												<% if @user.file_pks_file_name && @user.file_pks_file_name != "" %>
													<span><%= link_to "download file", @user.file_pks.url %>&nbsp;</span>
												<% else %>
													No File
												<% end %>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor Addendum SPJBTL </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_adendum_spjbtl %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tanggal Addendum SPJBTL </div>

											<div class="profile-info-value">
												<span>
													<% if @user.tanggal_addendum_spjbtl %>
														<%= @user.tanggal_addendum_spjbtl.day %> 
														<%= @months[@user.tanggal_addendum_spjbtl.month] %> 
														<%= @user.tanggal_addendum_spjbtl.year %>
													<% end %>
												&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tanggal Layanan Premium </div>

											<div class="profile-info-value">
												<span>
													<% if @user.tanggal_layanan_premium %>
														<%= @user.tanggal_layanan_premium.day %> 
														<%= @months[@user.tanggal_layanan_premium.month] %> 
														<%= @user.tanggal_layanan_premium.year %>
													<% end %>
												&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Rupiah UJL </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.rupiah_ujl, :unit => "Rp ", :delimiter => ".", :precision => 0 %> &nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> No Kuitansi UJL </div>

											<div class="profile-info-value">
												<span><%= @user.no_kuit_ujl %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tanggal Kuitansi UJL </div>

											<div class="profile-info-value">
												<span>
													<% if @user.tgl_kuit_ujl_date %>
														<%= @user.tgl_kuit_ujl_date.day %> 
														<%= @months[@user.tgl_kuit_ujl_date.month] %> 
														<%= @user.tgl_kuit_ujl_date.year %>
													<% end %>
												</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tanggal Pasang Baru </div>

											<div class="profile-info-value">
												<span>
													<% if @user.tanggal_pasang_baru %>
														<%= @user.tanggal_pasang_baru.day %> 
														<%= @months[@user.tanggal_pasang_baru.month] %> 
														<%= @user.tanggal_pasang_baru.year %>
													<% end %>
												&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Koordinat Lokasi </div>

											<div class="profile-info-value">
												<span>
													<% if @user.koordinat_x && @user.koordinat_y %>
														<%= link_to "menuju google maps", "https://maps.google.com/?q="+@user.koordinat_y.to_s+","+@user.koordinat_x.to_s %>
													<% end %>
												&nbsp;</span>
											</div>
										</div>

									</div>
								</div><!-- #admin -->

								<div id="teknis" class="tab-pane">
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> Merk Meter </div>

											<div class="profile-info-value">
												<span><%= @user.merk_meter ? @user.merk_meter.name : "N/A" %>&nbsp;</span>
											</div>
										</div>


										<div class="profile-info-row">
											<div class="profile-info-name"> Type Meter </div>

											<div class="profile-info-value">
												<span><%= @user.type_meter ? @user.type_meter.name : "N/A" %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor kWh Meter </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_meter %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Trafo Arus Primer</div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.trafo_arus_primer_kwh, :unit => "", :delimiter => ".", :precision => 0 %> A</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Trafo Arus Sekunder</div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.trafo_arus_sekunder_kwh, :unit => "", :delimiter => ".", :precision => 0 %> A</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Trafo Tegangan Primer</div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.trafo_tegangan_primer_kwh, :unit => "", :delimiter => ".", :precision => 0 %> V</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Trafo Tegangan Sekunder</div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.trafo_tegangan_sekunder_kwh, :unit => "", :delimiter => ".", :precision => 0 %> V</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Konstanta </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.kosntanta_meter, :unit => "", :delimiter => ".", :precision => 0 %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Faktor Kali Meter </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.faktor_kali_meter, :unit => "", :delimiter => ".", :precision => 0 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nama Gardu Distribusi</div>

											<div class="profile-info-value">
												<span><%= @user.nama_gardu %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Kapasitas Trafo Distribusi</div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.kapasitas_trafo, :unit => "", :delimiter => ".", :precision => 0 %> kVA</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Tegangan Pelayanan </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.tegangan, :unit => "", :delimiter => ".", :precision => 0 %> V&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan GI 1 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_gi_1 %>/<%= @user.nomor_trafo_induk_1 %>/<%= @user.kapasitas_trafo_induk_1 %>&nbsp;MVA</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan Penyulang 1 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_penyulang_1 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan GI 2 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_gi_2 %>/<%= @user.nomor_trafo_induk_2 %>/<%= @user.kapasitas_trafo_induk_2 %>&nbsp;MVA</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan Penyulang 2 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_penyulang_2 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan GI 3 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_gi_3 %>/<%= @user.nomor_trafo_induk_3 %>/<%= @user.kapasitas_trafo_induk_3 %>&nbsp;MVA</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan Penyulang 3 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_penyulang_3 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan GI 4 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_gi_4 %>/<%= @user.nomor_trafo_induk_4 %>/<%= @user.kapasitas_trafo_induk_4 %>&nbsp;MVA</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pasokan Penyulang 4 </div>

											<div class="profile-info-value">
												<span><%= @user.pasokan_penyulang_4 %>&nbsp;</span>
											</div>
										</div>
									</div>
									
									
								</div><!-- /#teknis -->

								<div id="internal" class="tab-pane">
									<div class="profile-user-info profile-user-info-striped">

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor KLUI </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_klui %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jenis Usaha Industri </div>

											<div class="profile-info-value">
												<span><%= @user.jenis_usaha %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jenis Bahan Baku </div>

											<div class="profile-info-value">
												<span><%= @user.jenis_bahan_baku %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jenis Komoditi Produk </div>

											<div class="profile-info-value">
												<span><%= @user.jenis_komoditi_produk %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Kapasitas Produksi Per Tahun </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.kapasitas_produksi_per_tahun, :unit => "", :delimiter => ".", :precision => 0 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jumlah Tenaga Kerja </div>

											<div class="profile-info-value">
												<span><%= number_to_currency @user.jumlah_tenaga_kerja, :unit => "", :delimiter => ".", :precision => 0 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Mesin Peralatan Utama </div>

											<div class="profile-info-value">
												<span><%= @user.mesin_peralatan_utama %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Mesin Peralatan Pembantu </div>

											<div class="profile-info-value">
												<span><%= @user.mesin_peralatan_pembantu %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Pimpinan Perusahaan </div>

											<div class="profile-info-value">
												<span><%= @user.nama_dirut_string %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Wakil Pimpinan Perusahaan </div>

											<div class="profile-info-value">
												<span><%= @user.nama_wakil_dirut %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nama PIC 1 </div>

											<div class="profile-info-value">
												<span><%= @user.nama_contact %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jabatan PIC 1 </div>

											<div class="profile-info-value">
												<span><%= @user.jabatan_contact %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor Telepon PIC 1 </div>

											<div class="profile-info-value">
												<span><%= @user.no_telepon_contact %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor HP PIC 1 </div>

											<div class="profile-info-value">
												<span><%= @user.nomor_hp_contact %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Email PIC 1 </div>

											<div class="profile-info-value">
												<span><%= @user.email_contact %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nama PIC 2 </div>

											<div class="profile-info-value">
												<span><%= @user.nama_contact_2 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Jabatan PIC 2 </div>

											<div class="profile-info-value">
												<span><%= @user.jabatan_contact_2 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor Telepon PIC 2 </div>

											<div class="profile-info-value">
												<span><%= @user.no_telp_contact_2 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Nomor HP PIC 2 </div>

											<div class="profile-info-value">
												<span><%= @user.no_hp_contact_2 %>&nbsp;</span>
											</div>
										</div>

										
										<div class="profile-info-row">
											<div class="profile-info-name"> Email PIC 2 </div>

											<div class="profile-info-value">
												<span><%= @user.email_contact_2 %>&nbsp;</span>
											</div>
										</div>
									</div>

									
								</div><!-- /#internal -->

								
							</div>
						</div>


						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_user_path(@user) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

		                        <%= link_to edit_password_users_path do %>
		                            <button class="btn btn-success" type="submit">
		                                <i class="icon-key bigger-110"></i>
		                                Edit Password
		                            </button>
		                        <% end %>
	                        </div>
						</div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->