<%= form_for([:admin,@examination_item], :html => {class:"form-horizontal"}) do |f| %>
  <% if @examination_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination_item.errors.count, "error") %> prohibited this examination_item from being saved:</h2>

      <ul>
      <% @examination_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Parent</label>
    <div class="col-sm-9">
      <select class="form-search" name="examination_item[parent_id]" data-rel="chosen">
          <option value="">-- Pilih Parent Item --</option>
          <% @examination_items.each do |examination_item| %>
            <% if examination_item.id == @examination_item.parent_id %>
              <option value="<%= examination_item.id %>" selected><%= examination_item.name %></option>
            <% else %>
              <option value="<%= examination_item.id %>"><%= examination_item.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_examination_items_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>