
<%= form_for [:admin, @controller_model], :html => {:multipart => true, :class => "form-horizontal"} do |f| %>
      <% if @controller_model.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@controller_model.errors.count, "error") %> prohibited this rental from being saved:</h2>

          <ul>
          <% @controller_model.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <% if params[:action] == "new" %>
        <%= f.hidden_field :created_by, :value => current_admin.id %>
      <% else %>
        <%= f.hidden_field :updated_by, :value => current_admin.id %>
      <% end %>
      <fieldset>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Name</label>
              <div class="controls">
                <%= f.text_field :name, :class => "input-xlarge focused" %>
              </div>
        </div>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Path</label>
              <div class="controls">
                <%= f.text_field :path, :class => "input-xlarge focused" %>
              </div>
        </div>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Posisi</label>
              <div class="controls">
                <select id="controller_model_position" name="controller_model[position]" data-rel="chosen">
                  <option value="FrontEnd">FrontEnd</option>
                  <option value="BackEnd">BackEnd</option>
                </select>
            </div>
        </div>
        <div class="control-group">
              <label class="control-label" for="focusedInput">Grup</label>
              <div class="controls">
                <select id="controller_model_controller_model_group" name="controller_model[controller_model_group]" data-rel="chosen">
                  <option value="main">MAIN</option>
                  <option value="setting">SETTING</option>
                </select>
            </div>
        </div>
        <div class="form-actions">
              <%= f.submit "Submit", :class => "btn btn-primary" %>
              <a class="btn" href="/admin/controller_models">Cancel</a>
        </div>
      </fieldset>
<% end %>
      
