<div>
        <ul class="breadcrumb">
                <li>
                        <a href="/admins">Home</a> <span class="divider">/</span>
                </li>
                <li>
                        <a href="/admin/controller_models">Features</a> <span class="divider">/</span>
                </li>
                <li>
                        <a href="#">Edit</a>
                </li>
        </ul>
</div>

<div class="row-fluid sortable">
        <div class="box span12">
                <div class="box-header well" data-original-title>
                        <h2><i class="icon-edit"></i> Edit Feature</h2>
                        <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        </div>
                </div>
                <div class="box-content">
                        <%= render "form" %>
                </div>
        </div><!--/span-->

</div><!--/row-->