<div>
				<ul class="breadcrumb">
					<li>
						<a href="/admins">Home</a> <span class="divider">/</span>
					</li>
					<li>
						<a href="#">Features</a>
					</li>
				</ul>
			</div>
			<a class="btn btn-info" href="/admin/controller_models/new">
                                <i class="icon-plus icon-white"></i>  
                                Create New                                            
                        </a>
			<div class="row-fluid sortable">		
				<div class="box span12">
					<div class="box-header well" data-original-title>
						<h2><i class="icon-th-list"></i> Features</h2>
                                                
						<div class="box-icon">
							<a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
						</div>
					</div>
					<div class="box-content">
						<table class="table table-striped table-bordered bootstrap-datatable datatable">
						  <thead>
							  <tr>
								  <th>Name</th>
                                                                  <th>Path</th>
                                                                  <th>Posisi</th>
								  <th>Actions</th>
							  </tr>
						  </thead>   
						  <tbody>
                                                    <% @controller_models.each do |controller_model| %>
							<tr>
								<td><a href="/admin/controller_models/<%= controller_model.id %>">
									<%= controller_model.name %>
									</a>
								</td>
                                                                <td class="center"><%= controller_model.path %></td>
                                                                <td class="center"><%= controller_model.position %></td>
								<td class="center">
									<a class="btn btn-primary" href="/admin/controller_models/<%= controller_model.id %>/edit">
										<i class="icon-edit icon-white"></i>                                              
									</a>
									<a class="btn btn-danger" href="/admin/controller_models/<%= controller_model.id %>" data-confirm="Are you sure?" data-method="delete">
										<i class="icon-trash icon-white"></i>
									</a>
								</td>
							</tr>
                                                    <% end %>
						  </tbody>
					  </table>            
					</div>
				</div><!--/span-->
			
			</div><!--/row-->