<div>
        <ul class="breadcrumb">
                <li>
                        <a href="/admins">Home</a> <span class="divider">/</span>
                </li>
                <li>
                        <a href="/admin/controller_models">Features</a> <span class="divider">/</span>
                </li>
                <li>
                        <a href="#">Detail</a>
                </li>
        </ul>
</div>

<div class="row-fluid sortable"> 
        <div class="box span8">
              <div class="box-header well" data-original-title>
                      <h2><i class="icon-list"></i> Feature Detail</h2>
                      <div class="box-icon">
                              <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                      </div>
              </div>
              <div class="box-content">
                      <ul class="dashboard-list">
                        <li>
                            <span class="blue">Name</span>
                            <%= @controller_model.name %>   
                        </li>
                        <li>
                            <span class="blue">Path</span>
                            <%= @controller_model.path %>   
                        </li>
                        <li>
                            <span class="blue">Posisi</span>
                            <%= @controller_model.position %>   
                        </li>
                      </ul>
              </div>
              <div class="form-actions">
                <a class="btn btn-primary" href="/admin/controller_models/<%= @controller_model.id %>/edit">
                        <i class="icon-edit icon-white"></i>  
                        Edit                                            
                </a>
                <a class="btn btn-danger" href="/admin/controller_models/<%= @controller_model.id %>" data-confirm="Are you sure?" data-method="delete">
                        <i class="icon-trash icon-white"></i> 
                        Delete
                </a>
                <a class="btn" href="/admin/controller_models">Back</a>
                <a class="btn btn-info" href="/admin/action_models/new?controller_model_id=<%= @controller_model.id %>">
                        <i class="icon-plus icon-white"></i>  
                        Create New Action                                           
                </a>
              </div>
        </div><!--/span-->

        <div class="box span10">
                <div class="box-header well" data-original-title>
                        <h2><i class="icon-th-list"></i> Actions</h2>

                        <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>
                        </div>
                </div>
                <div class="box-content">
                        <table class="table table-striped table-bordered bootstrap-datatable datatable">
                          <thead>
                                  <tr>
                                          <th>Name</th>
                                          <th>Path</th>
                                          <th>Actions</th>
                                  </tr>
                          </thead>   
                          <tbody>
                            <% @controller_model.action_models.each do |action_model| %>
                                <tr>
                                        <td><%= action_model.name %></td>
                                        <td class="center"><%= action_model.path %></td>
                                        <td class="center">
                                                <a class="btn btn-primary" href="/admin/action_models/<%= action_model.id %>/edit">
                                                        <i class="icon-edit icon-white"></i>  
                                                        Edit                                            
                                                </a>
                                                <a class="btn btn-danger" href="/admin/action_models/<%= action_model.id %>" data-confirm="Are you sure?" data-method="delete">
                                                        <i class="icon-trash icon-white"></i> 
                                                        Delete
                                                </a>
                                        </td>
                                </tr>
                            <% end %>
                          </tbody>
                  </table>            
                </div>
        </div><!--/span-->

</div><!--/row-->