<%= form_for([:admin,@testimonial], :html => {class:"form-horizontal"}) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@testimonial.errors.count, "error") %> prohibited this testimonial from being saved:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">ID Pelanggan</label>
    <div class="col-sm-9">
      <select class="form-search chosen-select" name="testimonial[user_id]" data-rel="chosen">
        <option value="">-- Pilih ID Pelanggan --</option>
          <% @users.each do |user| %>
            <% if user.id == @testimonial.user_id %>
              <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
            <% else %>
              <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Pemberi Testimonial</label>
    <div class="col-sm-9">
      
      <%= f.text_field :testimonial_by, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Isi</label>
    <div class="col-sm-9">
        <%= f.text_area :body, :rows => 4 %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_testimonials_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>

<%= content_for :js do %>

  <%= javascript_include_tag "ckeditor/init" %>

  <script type="text/javascript">
    $(function(){

      function showErrorAlert (reason, detail) {
        var msg='';
        if (reason==='unsupported-file-type') { msg = "Unsupported format " +detail; }
        else {
          console.log("error uploading file", reason, detail);
        }
        $('<div class="alert"> <button type="button" class="close" data-dismiss="alert">&times;</button>'+ 
         '<strong>File upload error</strong> '+msg+' </div>').prependTo('#alerts');
      }

      $('.editor1').ace_wysiwyg({
        toolbar:
        [
          'font',
          null,
          'fontSize',
          null,
          {name:'bold', className:'btn-info'},
          {name:'italic', className:'btn-info'},
          {name:'strikethrough', className:'btn-info'},
          {name:'underline', className:'btn-info'},
          null,
          {name:'insertunorderedlist', className:'btn-success'},
          {name:'insertorderedlist', className:'btn-success'},
          {name:'outdent', className:'btn-purple'},
          {name:'indent', className:'btn-purple'},
          null,
          {name:'justifyleft', className:'btn-primary'},
          {name:'justifycenter', className:'btn-primary'},
          {name:'justifyright', className:'btn-primary'},
          {name:'justifyfull', className:'btn-inverse'},
          null,
          {name:'createLink', className:'btn-pink'},
          {name:'unlink', className:'btn-pink'},
          null,
          {name:'insertImage', className:'btn-success'},
          null,
          'foreColor',
          null,
          {name:'undo', className:'btn-grey'},
          {name:'redo', className:'btn-grey'}
        ],
        'wysiwyg': {
          fileUploadError: showErrorAlert
        }
      }).prev().addClass('wysiwyg-style2');
    });
  </script>
<% end %>