<%= form_for([@user], :html => {:multipart => true, :class =>"form-horizontal"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs padding-18">
        <li class="active">
          <a data-toggle="tab" href="#internal">
            <i class="blue icon-info-sign bigger-120"></i>
            Internal Pelanggan
          </a>
        </li>

      </ul>

      <div class="tab-content no-border padding-24">

        <div id="internal" class="tab-pane in active">


           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor KLUI</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_klui, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Jenis Usaha Industri", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_usaha, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "jenis_bahan_baku", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_bahan_baku, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Jenis Komoditi Produk", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :jenis_komoditi_produk, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Kapasitas Produksi Per Tahun", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :kapasitas_produksi_per_tahun, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Jumlah Tenaga Kerja", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :jumlah_tenaga_kerja, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Mesin Peralatan Utama", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :mesin_peralatan_utama, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Mesin Peralatan Pembantu", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :mesin_peralatan_pembantu, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Pimpinan Perusahaan", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_dirut_string, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Wakil Pimpinan Perusahaan", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_wakil_dirut, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jabatan PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jabatan_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Telepon PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_telepon_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor HP PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nomor_hp_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div>  

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Email PIC 1</label>
            <div class="col-sm-9">
              
              <%= f.text_field :email_contact, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nama PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :nama_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Jabatan PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :jabatan_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor Telepon PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_telp_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Nomor HP PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :no_hp_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="selectError">Email PIC 2</label>
            <div class="col-sm-9">
              
              <%= f.text_field :email_contact_2, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 
        </div>
      </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to my_accounts_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>