<%= form_for @user, :url => {:controller => "users", :action => "update_password", :id => @user.id}, :html => {:multipart => true, :class =>"form-horizontal"} do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="tabbable">
      <ul class="nav nav-tabs padding-18">
        <li class="active">
          <a data-toggle="tab" href="#internal">
            <i class="blue icon-info-sign bigger-120"></i>
            Password
          </a>
        </li>

      </ul>

      <div class="tab-content no-border padding-24">

        <div id="internal" class="tab-pane in active">

           <div class="form-group">
            <%= f.label "Current Password", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.password_field :current_password, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 


           <div class="form-group">
            <%= f.label "Password", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.password_field :password, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 

           <div class="form-group">
            <%= f.label "Password Confirmation", class:"col-sm-3 control-label no-padding-right" %>
            <div class="col-sm-9">
              
              <%= f.password_field :password_confirmation, :class => "col-xs-10 col-sm-5" %>
              
            </div>
           </div> 
        </div>
      </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to my_accounts_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>