<%= form_for([:admin,@customer_relation], :html => {multipart: true, class:"form-horizontal"}) do |f| %>
  <% if @customer_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer_relation.errors.count, "error") %> prohibited this customer_relation from being saved:</h2>

      <ul>
      <% @customer_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
    <%= f.hidden_field :created_by, :value => current_admin %>
  <% end %>

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Relation Type</label>
    <div class="col-sm-9">
      <select class="form-search selectJenisInfo" name="customer_relation[customer_relation_type_id]" data-rel="chosen">
        <option>-- Select Relation Type --</option>
          <% @customer_relation_types.each do |customer_relation_type| %>
            <% if customer_relation_type.id == @customer_relation.customer_relation_type_id %>
              <option value="<%= customer_relation_type.id %>" selected><%= customer_relation_type.name %></option>
            <% else %>
              <option value="<%= customer_relation_type.id %>"><%= customer_relation_type.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Pelanggan</label>
    <div class="col-sm-9">
     <select class="form-search selectJenisInfo" name="customer_relation[user_id]" data-rel="chosen">
        <option value="">-- Select Pelanggan --</option>
          <% @users.each do |user| %>
            <% if @customer_relation.user_id == user.id %>
              <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
            <% else %>
              <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
            <% end %>
          <% end %>
    </select>
    </div>
   </div> 

  <div class="form-group">
    <%= f.label :description, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_area :description, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

  <div class="form-group">
    <%= f.label :relation_date, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :relation_date, :class => "col-xs-10 col-sm-5 datepicker" %>
    </div>
   </div> 

  <div class="form-group">
    <%= f.label :relation_time, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :relation_time, :class => "col-xs-10 col-sm-5 timepicker" %>
    </div>
   </div> 

    <!-- <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> File Upload </label>
                          
      <div class="col-sm-3">
        <input type="file" name="customer_relation[file]" id="id-input-file-2" />
       </div>
    </div> -->

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_customer_relations_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>