<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", admins_path %>
			</li>
			<li>
				<%= link_to "Info Terkini", admin_data_infos_path %>
			</li>
			<li class="active"><%= @data_info.jenis_info ? @data_info.jenis_info.name : "N/A" %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/avatars/astra-otoparts.jpg" />
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<h4 class="blue">
									<span class="middle"><%= @data_info.jenis_info ? @data_info.jenis_info.name : "N/A" %></span>
								</h4>

								<div class="profile-data_info-info profile-user-info-striped">

									<div class="profile-info-row">
										<div class="profile-info-name"> Tanggal </div>

										<div class="profile-info-value">
											<span>
												<% if @data_info.tgl_info_gangguan %>
													<%= @data_info.tgl_info_gangguan.day %> <%= @months[@data_info.tgl_info_gangguan.month] %> <%= @data_info.tgl_info_gangguan.year %>
												<% end %>

												<% if @data_info.time_start && @data_info.time_end %>
													Pukul <%= sprintf "%02d", @data_info.time_start.hour %>:<%= sprintf "%02d", @data_info.time_start.min %> - <%= sprintf "%02d", @data_info.time_end.hour %>:<%= sprintf "%02d", @data_info.time_end.min %>
												<% end %>
											&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Durasi </div>

										<div class="profile-info-value">
											<span><%= @data_info.duration %> jam&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Info </div>

										<div class="profile-info-value">
											<span><%= raw(@data_info.info_gangguan) %>&nbsp;</span>
										</div>
									</div>

									<% if @data_info.data_info_detail %>
										<div class="profile-info-row">
											<div class="profile-info-name"> Detail Jenis Info </div>

											<div class="profile-info-value">
												<span><%= @data_info.data_info_detail.name %>&nbsp;</span>
											</div>
										</div>
									<% end %>

									<div class="profile-info-row">
										<div class="profile-info-name"> Area </div>

										<div class="profile-info-value">
											<% @data_info.areas.each do |area| %>
												<span><%= area.name %></span>
											<% end %>
											&nbsp;
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Kawasan </div>

										<div class="profile-info-value">
											<% @data_info.kawasans.each do |kawasan| %>
												<span><%= kawasan.nama_kawasan %></span>
											<% end %>
											&nbsp;
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Pelanggan </div>

										<div class="profile-info-value">
											<% @data_info.users.each do |user| %>
												<span><%= user.name %></span>
											<% end %>
											&nbsp;
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> List Email </div>

										<div class="profile-info-value"><span><%= @data_info.list_email %>&nbsp;</span></div>
									</div>

									<% if @data_info.file_file_name && @data_info.file_file_name != "" %>
										<div class="profile-info-row">
											<div class="profile-info-name"> File Upload </div>

											<div class="profile-info-value">
												<span><%= link_to "download", @data_info.file.url %>&nbsp;</span>
											</div>
										</div>
									<% end %>
								</div>
			                    </div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "edit")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
		                        	<%= link_to edit_admin_data_info_path(@data_info) do %>
			                            <button class="btn btn-info" type="submit">
			                                <i class="icon-edit bigger-110"></i>
			                                Edit
			                            </button>
			                        <% end %>
			                    <% end %>

			                    <% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "destroy")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
		                            &nbsp; &nbsp; &nbsp;
		                            <%= link_to admin_data_infos_path do %>
		                              <button class="btn btn-success" type="button">
		                                  <i class="icon-arrow bigger-110"></i>
		                                  Back
		                              </button>
		                            <% end %>
		                        <% end %>
	                        </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->