<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li>
				<%= link_to "Daftar Kawasan", admin_kawasans_path %>
			</li>
			<li class="active"><%= @kawasan.nama_kawasan %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/avatars/astra-otoparts.jpg" />
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Nama </div>

										<div class="profile-info-value">
											<span><%= @kawasan.nama_kawasan %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Alamat </div>

										<div class="profile-info-value">
											<span><%= @kawasan.alamat %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Telp </div>

										<div class="profile-info-value">
											<span><%= @kawasan.telp %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Fax </div>

										<div class="profile-info-value">
											<span><%= @kawasan.fax %>&nbsp;</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Area </div>

										<div class="profile-info-value">
											<span><%= Area.where(:id => @kawasan.area_id).first ? Area.where(:id => @kawasan.area_id).first.name : "N/A" %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_name_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_jabatan_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_hp_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_name_2 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_jabatan_2 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @kawasan.pic_hp_2 %>&nbsp;</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Description </div>

										<div class="profile-info-value">
											<span><%= @kawasan.description %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->
						

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_admin_kawasan_path(@kawasan) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            <%= link_to admin_kawasans_path do %>
	                              <button class="btn btn-success" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Back
	                              </button>
	                            <% end %>
	                        </div>
	                    </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->