<%= content_for :js do %>  
  <%= javascript_include_tag "ajax/monthly_summary" %>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">Summary Data Bulanan</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="box span12">

    <%= form_tag(admin_monthly_info_summaries_path, :method => :get) do %>

        <div class="span3">
          <label class="search-label">Pelanggan</label>
          <select class="form-search chosen-select span2" name="user_id" data-rel="chosen">
            <option value="">-- Pilih Pelanggan --</option>
              <% @users.each do |user| %>
                <% if user.id == params[:user_id].to_i %>
                  <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
                <% else %>
                  <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Kawasan</label>
          <select class="form-search chosen-select span2" name="kawasan_id" data-rel="chosen">
            <option value="">-- Pilih Kawasan --</option>
              <% @kawasans.each do |kawasan| %>
                <% if kawasan.id == params[:kawasan_id].to_i %>
                  <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
                <% else %>
                  <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Rayon</label>
          <select class="form-search chosen-select span2" name="rayon_id" data-rel="chosen">
            <option value="">-- Pilih Rayon --</option>
              <% @rayons.each do |rayon| %>
                <% if rayon.id == params[:rayon_id].to_i %>
                  <option value="<%= rayon.id %>" selected><%= rayon.name %></option>
                <% else %>
                  <option value="<%= rayon.id %>"><%= rayon.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span3">
          <label class="search-label">Area</label>
          <select class="form-search chosen-select span2" name="area_id" data-rel="chosen">
            <option value="">-- Pilih Area --</option>
              <% @areas.each do |area| %>
                <% if area.id == params[:area_id].to_i %>
                  <option value="<%= area.id %>" selected><%= area.name %></option>
                <% else %>
                  <option value="<%= area.id %>"><%= area.name %></option>
                <% end %>
              <% end %>
            </select>
          </div>

        <div class="span2 form-group">
            <label class="search-label">Bulan Awal</label>
            <select class="form-search" name="blth_bulan_awal" data-rel="chosen">
              <option value="">-- Pilih Bulan Awal --</option>
                <% (1..12).each do |bulan| %>
                  <% if bulan == params[:blth_bulan_awal].to_i %>
                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                  <% else %>
                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
                  <% end %>
                <% end %>
              </select>
            </div>

          <div class="span2">
            <label class="search-label">Tahun Awal</label>
            <select class="form-search" name="blth_tahun_awal" data-rel="chosen">
              <option value="">-- Pilih Tahun Awal --</option>
                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                  <% if tahun == params[:blth_tahun_awal].to_i %>
                    <option value="<%= tahun %>" selected><%= tahun %></option>
                  <% else %>
                    <option value="<%= tahun %>"><%= tahun %></option>
                  <% end %>
                <% end %>
              </select>
          </div>

          <div class="span2">
            <label class="search-label">Bulan Akhir</label>
            <select class="form-search" name="blth_bulan_akhir" data-rel="chosen">
              <option value="">-- Pilih Bulan Akhir --</option>
                <% (1..12).each do |bulan| %>
                  <% if bulan == params[:blth_bulan_akhir].to_i %>
                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                  <% else %>
                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
                  <% end %>
                <% end %>
              </select>
          </div>

          <div class="span2">
            <label class="search-label">Tahun Akhir</label>
            <select class="form-search" name="blth_tahun_akhir" data-rel="chosen">
              <option value="">-- Pilih Tahun Akhir --</option>
                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                  <% if tahun == params[:blth_tahun_akhir].to_i %>
                    <option value="<%= tahun %>" selected><%= tahun %></option>
                  <% else %>
                    <option value="<%= tahun %>"><%= tahun %></option>
                  <% end %>
                <% end %>
              </select>
            </div>

            <div class="span2" style="float: right">
              <label>&nbsp;</label>
                  <button class="btn btn-info" type="submit">
                      <i class="icon-search bigger-110"></i>
                      Search
                  </button>
            </div>
      <% end %>
  </div>

  <div class="page-content">
    <div class="page-header">
    <% if @monthly_infos.count > 0 %>
      <a href="/admin/monthly_info_summaries.xls?user_id=<%= params[:user_id] %>&blth_bulan_awal=<%= params[:blth_bulan_awal] %>&blth_tahun_awal=<%= params[:blth_tahun_awal] %>&blth_bulan_akhir=<%= params[:blth_bulan_akhir] %>&blth_tahun_akhir=<%= params[:blth_tahun_akhir] %>&area_id=<%= params[:area_id] %>&rayon_id=<%= params[:rayon_id] %>&kawasan_id=<%= params[:kawasan_id] %>"><button class="btn btn-info btn-xs" style="float:right;">
        <i class="icon-download bigger-110"></i>
        Export Excel
      </button>
      </a>
    <% end %>
      <h1>
        Summary Data Bulanan 

        <% if @user %>

          <%= @user.idpel %> - <%= @user.name %>

        <% elsif @kawasan %>
          <%= @kawasan.nama_kawasan %>
        <% elsif @rayon %>
          <%= @rayon.name %>
        <% elsif @area %>
          <%= @area.name %>
        <% end %>
      </h1>
      
    </div><!-- /.page-header -->

    <input type="hidden" id="blth_tahun_awal" value="<%= params[:blth_tahun_awal] ? params[:blth_tahun_awal] : 0 %>"/>
    <input type="hidden" id="blth_bulan_awal" value="<%= params[:blth_bulan_awal] ? params[:blth_bulan_awal] : 0 %>"/>
    <input type="hidden" id="blth_tahun_akhir" value="<%= params[:blth_tahun_akhir] ? params[:blth_tahun_akhir] : 0 %>"/>
    <input type="hidden" id="blth_bulan_akhir" value="<%= params[:blth_bulan_akhir] ? params[:blth_bulan_akhir] : 0 %>"/>
    <input type="hidden" id="user_id" value="<%= params[:user_id] ? params[:user_id] : 0 %>"/>
    <input type="hidden" id="kawasan_id" value="<%= params[:kawasan_id] ? params[:kawasan_id] : 0 %>"/>
    <input type="hidden" id="area_id" value="<%= params[:area_id] ? params[:area_id] : 0 %>"/>
    <input type="hidden" id="rayon_id" value="<%= params[:rayon_id] ? params[:rayon_id] : 0 %>"/>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
    <div class="table-responsive">
          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>BLTH</th>
                <th>Durasi Gangguan</th>
                <th>Frekuensi Gangguan</th>
                <th>kWh LWBP</th>
                <th>kWh WBP</th>
                <th>kWh Total</th>
                <th>kVArh</th>
                <th>Rp kVArh</th>
                <th>Rp LWBP</th>
                <th>Rp WBP</th>
                <th>Rp Total</th>
              </tr>
            </thead>
            <tbody>
              <%
                @sum_lwbp = 0
                @sum_wbp = 0
                @sum_total = 0
                @sum_kvarh = 0
                @sum_rp_kvarh = 0
                @sum_rp_lwbp = 0
                @sum_rp_wbp = 0
                @sum_rp_total = 0
              %>
              <% @monthly_infos.each do |monthly_info| %>
                  <tr>
                    <td><%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %></td>
                    <td><%= monthly_info.durasi_gangguan %> jam</td>
                    <td><%= monthly_info.frekuensi_gangguan %> kali</td>
                    <td><%= number_to_currency monthly_info.kwh_lwbp, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency monthly_info.kwh_wbp, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency monthly_info.kwh_total, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency monthly_info.kwh_kvarh, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> </td>
                    <td><%= number_to_currency monthly_info.rp_kvarh, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency monthly_info.rp_lwbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency monthly_info.rp_wbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency monthly_info.rptag, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                  </tr>
                  <%
                    @sum_lwbp = @sum_lwbp+monthly_info.kwh_lwbp
                    @sum_wbp = @sum_wbp+monthly_info.kwh_wbp
                    @sum_total = @sum_total+monthly_info.kwh_total
                    @sum_kvarh = @sum_kvarh+monthly_info.kwh_kvarh
                    @sum_rp_kvarh = @sum_rp_kvarh+monthly_info.rp_kvarh
                    @sum_rp_lwbp = @sum_rp_lwbp+monthly_info.rp_lwbp
                    @sum_rp_wbp = @sum_rp_wbp+monthly_info.rp_wbp
                    if monthly_info.rptag
                      @sum_rp_total = @sum_rp_total+monthly_info.rptag
                    end
                  %>
              <% end %>
                  <tr>
                    <td colspan="3">TOTAL</td>
                    <td><%= number_to_currency @sum_lwbp, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency @sum_wbp, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency @sum_total, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %> kWh</td>
                    <td><%= number_to_currency @sum_kvarh, :unit => "", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency @sum_rp_kvarh, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency @sum_rp_lwbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency @sum_rp_wbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                    <td><%= number_to_currency @sum_rp_total, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                  </tr>
            </tbody>
          </table>
        </div>
                    
        <div class="graf">
          <div id="grafik" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
                    
        <div class="graf">
          <div id="grafik1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>
                    
        <div class="graf">
          <div id="grafik2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
