  <div class="page-content">
    <div class="page-header">
      <h1>
        Summary Data Bulanan <%= @user ? @user.name : "" %>
      </h1>
    </div><!-- /.page-header -->

    <input type="hidden" id="blth_tahun_awal" value="<%= params[:blth_tahun_awal] ? params[:blth_tahun_awal] : 0 %>"/>
    <input type="hidden" id="blth_bulan_awal" value="<%= params[:blth_bulan_awal] ? params[:blth_bulan_awal] : 0 %>"/>
    <input type="hidden" id="blth_tahun_akhir" value="<%= params[:blth_tahun_akhir] ? params[:blth_tahun_akhir] : 0 %>"/>
    <input type="hidden" id="blth_bulan_akhir" value="<%= params[:blth_bulan_akhir] ? params[:blth_bulan_akhir] : 0 %>"/>
    <input type="hidden" id="user_id" value="<%= params[:user_id] ? params[:user_id] : 0 %>"/>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="table-responsive">
          <table id="sample-table-1" class="table table-striped table-bordered table-hover">
            <thead>
              <tr>
                <th>BLTH</th>
                <th>Durasi Gangguan (jam)</th>
                <th>Frekuensi Gangguan (kali)</th>
                <th>kVA Maks</th>
                <th>kWh LWBP</th>
                <th>kWh WBP</th>
                <th>kWh Total</th>
                <th>kVArh</th>
                <th>Rp LWBP</th>
                <th>Rp WBP</th>
                <th>Rp kVArh</th>
                <th>Rp Total</th>
                <th>Beban Minimal (A)</th>
                <th>Beban Maksimal (A)</th>
                <th>Beban Rata-Rata (A)</th>
              </tr>
            </thead>
            <tbody>
              <% @monthly_infos.each do |monthly_info| %>
                  <tr>
                    <td><%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %></td>
                    <td><%= monthly_info.durasi_gangguan %></td>
                    <td><%= monthly_info.frekuensi_gangguan %></td>
                    <td><%= monthly_info.kvamaks %></td>
                    <td><%= monthly_info.kwh_lwbp %></td>
                    <td><%= monthly_info.kwh_wbp %></td>
                    <td><%= monthly_info.kwh_total %></td>
                    <td><%= monthly_info.kwh_kvarh %> </td>
                    <td><%= monthly_info.rp_lwbp %></td>
                    <td><%= monthly_info.rp_wbp %></td>
                    <td><%= monthly_info.rp_kvarh %></td>
                    <td><%= monthly_info.rptag %></td>
                    <td><%= monthly_info.beban_min %></td>
                    <td><%= monthly_info.beban_maks %></td>
                    <td><%= monthly_info.beban_rata %></td>
                  </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
