<%= form_for([:admin,@monthly_info_file], :html => {class:"form-horizontal"}) do |f| %>
  <% if @monthly_info_file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@monthly_info_file.errors.count, "error") %> prohibited this monthly_info_file from being saved:</h2>

      <ul>
      <% @monthly_info_file.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama File</label>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :size => 10 %>
    </div>
   </div> 

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">File</label>
    <div class="col-sm-9">
      
      <%= f.file_field :file, :size => 10 %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_monthly_infos_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>