
      <h1>
        Daftar Data Bulanan
      </h1>

                    <br />
                    
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                            <th>BLTH</th>
                            <th>Durasi Gangguan (jam)</th>
                            <th>Frekuensi Gangguan (kali)</th>
                            <th>kVA Maks</th>
                            <th>kWh LWBP</th>
                            <th>kWh WBP</th>
                            <th>kWh Total</th>
                            <th>kVArh</th>
                            <th>Rp LWBP</th>
                            <th>Rp WBP</th>
                            <th>Rp kVArh</th>
                            <th>Rp Total</th>
                            <th>Cos Phi</th>
                            <th>Beban Maksimal (A)</th>
                            <th>Beban Rata-Rata (A)</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @monthly_infos.each do |monthly_info| %>
                          <tr>
                              <td><%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %></td>
                              <td><%= monthly_info.durasi_gangguan %></td>
                              <td><%= monthly_info.frekuensi_gangguan %></td>
                              <td><%= monthly_info.kvamaks %></td>
                              <td><%= monthly_info.kwh_lwbp %></td>
                              <td><%= monthly_info.kwh_wbp %></td>
                              <td><%= monthly_info.kwh_total %></td>
                              <td><%= monthly_info.kwh_kvarh %></td>
                              <td><%= monthly_info.rp_lwbp %></td>
                              <td><%= monthly_info.rp_wbp %></td>
                              <td><%= monthly_info.rp_kvarh %></td>
                              <td><%= monthly_info.rptag %></td>
                              <td><%= monthly_info.beban_min %></td>
                              <td><%= monthly_info.beban_maks %></td>
                              <td><%= monthly_info.beban_rata %></td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>