<%= content_for :js do %>
    <%= javascript_include_tag "ajax/history" %>
<% end %>

<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i
            <%= link_to "Home", homes_path %>
		</li>
		<li class="active">History</li>
	</ul><!-- .breadcrumb -->
</div>

<div class="page-content">
	<div class="page-header">
		<h1>
			Histori Pemakaian
            <small>
				<i class="icon-double-angle-right"></i>
				Statistik Pemakaian
			</small>
		</h1>
	</div><!-- /.page-header -->

	<div class="row">
		<div class="col-xs-12">
			<!-- PAGE CONTENT BEGINS -->

			<div class="row">

            	<div class="col-xs-12">
                    <%= form_tag(histories_path, :method => :get) do %>
                        <div class="col-sm-2 form-group">
                            <label class="search-label">Bulan Awal</label>
                            <select class="form-search" name="blth_bulan_awal" data-rel="chosen">
                              <option value="">-- Pilih Bulan Awal --</option>
                                <% (1..12).each do |bulan| %>
                                  <% if bulan == params[:blth_bulan_awal].to_i %>
                                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                                  <% else %>
                                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
                                  <% end %>
                                <% end %>
                              </select>
                            </div>

                          <div class="col-sm-2">
                            <label class="search-label">Tahun Awal</label>
                            <select class="form-search" name="blth_tahun_awal" data-rel="chosen">
                              <option value="">-- Pilih Tahun Awal --</option>
                                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                                  <% if tahun == params[:blth_tahun_awal].to_i %>
                                    <option value="<%= tahun %>" selected><%= tahun %></option>
                                  <% else %>
                                    <option value="<%= tahun %>"><%= tahun %></option>
                                  <% end %>
                                <% end %>
                              </select>
                          </div>

                          <div class="col-sm-2">
                            <label class="search-label">Bulan Akhir</label>
                            <select class="form-search" name="blth_bulan_akhir" data-rel="chosen">
                              <option value="">-- Pilih Bulan Akhir --</option>
                                <% (1..12).each do |bulan| %>
                                  <% if bulan == params[:blth_bulan_akhir].to_i %>
                                    <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                                  <% else %>
                                    <option value="<%= bulan %>"><%= @months[bulan] %></option>
                                  <% end %>
                                <% end %>
                              </select>
                          </div>

                          <div class="col-sm-2">
                            <label class="search-label">Tahun Akhir</label>
                            <select class="form-search" name="blth_tahun_akhir" data-rel="chosen">
                              <option value="">-- Pilih Tahun Akhir --</option>
                                <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                                  <% if tahun == params[:blth_tahun_akhir].to_i %>
                                    <option value="<%= tahun %>" selected><%= tahun %></option>
                                  <% else %>
                                    <option value="<%= tahun %>"><%= tahun %></option>
                                  <% end %>
                                <% end %>
                              </select>
                            </div>
                            <div class="col-sm-4">
                                <label class="search-label">Jenis Data</label>
                                <select class="form-control" name="jenis_data" id="form-field-select-1">
                                    <option value="">-- Pilih Jenis Data --</option>
                                    <option value="1">Gangguan Listrik</option>
                                    <option value="2">Pemakaian Listrik</option>
                                    <option value="3">Tagihan Listrik</option>
                                </select>
                            </div>
                            
                            <div class="col-sm-1" style="float:right;margin-right:4%">
                                <label class="search-label">&nbsp;</label>
                                <button type="submit" class="btn btn-sm btn-primary">SUBMIT</button>
                            </div>
                        <% end %>
                      </div>
                    </div>

                        <input type="hidden" id="blth_tahun_awal" value="<%= params[:blth_tahun_awal] ? params[:blth_tahun_awal] : 0 %>"/>
                        <input type="hidden" id="blth_bulan_awal" value="<%= params[:blth_bulan_awal] ? params[:blth_bulan_awal] : 0 %>"/>
                        <input type="hidden" id="blth_tahun_akhir" value="<%= params[:blth_tahun_akhir] ? params[:blth_tahun_akhir] : 0 %>"/>
                        <input type="hidden" id="blth_bulan_akhir" value="<%= params[:blth_bulan_akhir] ? params[:blth_bulan_akhir] : 0 %>"/>
                        <input type="hidden" id="user_id" value="<%= current_user.id %>"/>

                        <% if @monthly_infos.count > 0 %>
                          <a href="/histories.xls?blth_bulan_awal=<%= params[:blth_bulan_awal] %>&blth_tahun_awal=<%= params[:blth_tahun_awal] %>&blth_bulan_akhir=<%= params[:blth_bulan_akhir] %>&blth_tahun_akhir=<%= params[:blth_tahun_akhir] %>"><button class="btn btn-info" style="float:right;">
                            <i class="icon-download bigger-110"></i>
                            Export Excel
                          </button>
                          </a>
                        <% end %>

                        <div class="col-sm-12">


                            <!-- PAGE CONTENT BEGINS -->
                        <div class="table-responsive">
                              <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                                <thead>
                                  <tr>
                                    <th>BLTH</th>
                                    <th>Durasi Gangguan</th>
                                    <th>Frekuensi Gangguan</th>
                                    <th>kWh LWBP</th>
                                    <th>kWh WBP</th>
                                    <th>kWh Total</th>
                                    <th>kVArh</th>
                                    <th>Rp LWBP</th>
                                    <th>Rp WBP</th>
                                    <th>Rp kVArh</th>
                                    <th>Rp Total</th>
                                    <th>Beban Minimal</th>
                                    <th>Beban Maksimal</th>
                                    <th>Beban Rata-Rata</th>
                                    <th>Invoice</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <% @monthly_infos.each do |monthly_info| %>
                                      <tr>
                                        <td><%= @months[monthly_info.bulan_blth] %> <%= monthly_info.tahun_blth %></td>
                                        <td><%= monthly_info.durasi_gangguan %> jam</td>
                                        <td><%= monthly_info.frekuensi_gangguan %> kali</td>
                                        <td><%= number_to_currency monthly_info.kwh_lwbp, :unit => "", :delimiter => ".", :separator => "," %> kWh</td>
                                        <td><%= number_to_currency monthly_info.kwh_wbp, :unit => "", :delimiter => ".", :separator => "," %> kWh</td>
                                        <td><%= number_to_currency monthly_info.kwh_total, :unit => "", :delimiter => ".", :separator => "," %> kWh</td>
                                        <td><%= number_to_currency monthly_info.kwh_kvarh, :unit => "", :delimiter => ".", :separator => "," %> </td>
                                        <td><%= number_to_currency monthly_info.rp_lwbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                                        <td><%= number_to_currency monthly_info.rp_wbp, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                                        <td><%= number_to_currency monthly_info.rp_kvarh, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                                        <td><%= number_to_currency monthly_info.rptag, :unit => "Rp ", :delimiter => ".", :separator => ",", :precision => 0 %></td>
                                        <td><%= number_to_currency monthly_info.beban_min, :unit => "", :delimiter => ".", :separator => "," %> kW</td>
                                        <td><%= number_to_currency monthly_info.beban_maks, :unit => "", :delimiter => ".", :separator => "," %> kW</td>
                                        <td><%= number_to_currency monthly_info.beban_rata, :unit => "", :delimiter => ".", :separator => "," %> kW</td>
                                        <td>
                                            <% if monthly_info.invoice_file_file_name && monthly_info.invoice_file_file_name != "" %>
                                              <%= link_to "download", monthly_info.invoice_file.url %>
                                            <% else %>
                                              no file uploaded
                                            <% end %>
                                        </td>
                                      </tr>
                                  <% end %>
                                </tbody>
                              </table>
                            </div>

                            <% if ! params[:jenis_data] || params[:jenis_data] == "" || params[:jenis_data] == "1" %>
                                <div class="graf">
                                    <div id="grafik" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            <% end %>
                            <% if ! params[:jenis_data] || params[:jenis_data] == "" || params[:jenis_data] == "2" %>
                                <div class="graf">
                                    <div id="grafik1" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            <% end %>
                            <% if ! params[:jenis_data] || params[:jenis_data] == "" || params[:jenis_data] == "3" %>
                                <div class="graf">
                                    <div id="grafik2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                                </div>
                            <% end %>
                        </div>
                    </div>

			</div><!-- /row -->

			<!-- PAGE CONTENT ENDS -->
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->

<!-- inline scripts related to this page -->