<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<%= link_to "Home", homes_path %>
		</li>
		<li class="active">Tiket</li>
	</ul><!-- .breadcrumb -->
</div>

<div class="page-content">

</div>