
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", homes_path %>
			</li>
			<li class="active">Contact Us</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->

				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="tabbable">
							<ul class="nav nav-tabs padding-18">
								<li class="active">
									<a data-toggle="tab" href="#admin">
										<i class="green icon-book bigger-120"></i>
										Contact Area
									</a>
								</li>

								<li>
									<a data-toggle="tab" href="#teknis">
										<i class="orange icon-cogs bigger-120"></i>
										Contact Rayon
									</a>
								</li>

								<li>
									<a data-toggle="tab" href="#internal">
										<i class="blue icon-info-sign bigger-120"></i>
										Contact Kawasan
									</a>
								</li>

							</ul>

							<div class="tab-content no-border padding-24">
								<div id="admin" class="tab-pane in active">
									<div class="profile-user-info profile-user-info-striped">

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.area ? current_user.area.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_name_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.area ? current_user.area.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_hp_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.area ? current_user.area.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_name_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.area ? current_user.area.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_hp_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.area ? current_user.area.pic_jabatan_3 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_name_3 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.area ? current_user.area.pic_jabatan_3 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_hp_3 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.area ? current_user.area.pic_jabatan_4 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_name_4 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.area ? current_user.area.pic_jabatan_4 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.pic_hp_4 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> ALAMAT </div>

											<div class="profile-info-contact-value">
												<i class="icon-map-marker light-orange bigger-110"></i>
												<span><%= current_user.area ? current_user.area.alamat : "N/A" %></span>
											</div>
										</div>
										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR TELEPON </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.telp : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR FAKSIMILI </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.area ? current_user.area.fax : "N/A" %>&nbsp;</span>
											</div>
										</div>

									</div>
								</div><!-- #admin -->

								<div id="teknis" class="tab-pane">
									<div class="profile-user-info profile-user-info-striped">

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.rayon ? current_user.rayon.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_name_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.rayon ? current_user.rayon.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_hp_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.rayon ? current_user.rayon.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_name_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.rayon ? current_user.rayon.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_hp_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.rayon ? current_user.rayon.pic_jabatan_3 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_name_3 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.rayon ? current_user.rayon.pic_jabatan_3 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_hp_3 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.rayon ? current_user.rayon.pic_jabatan_4 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_name_4 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.rayon ? current_user.rayon.pic_jabatan_4 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.pic_hp_4 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> ALAMAT </div>

											<div class="profile-info-contact-value">
												<i class="icon-map-marker light-orange bigger-110"></i>
												<span><%= current_user.rayon ? current_user.rayon.alamat : "N/A" %></span>
											</div>
										</div>
										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR TELEPON </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.telp : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR FAKSIMILI </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.rayon ? current_user.rayon.fax : "N/A" %>&nbsp;</span>
											</div>
										</div>
									</div>
									
									
								</div><!-- /#teknis -->

								<div id="internal" class="tab-pane">
									<div class="profile-user-info profile-user-info-striped">

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.kawasan ? current_user.kawasan.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.pic_name_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.kawasan ? current_user.kawasan.pic_jabatan_1 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.pic_hp_1 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NAMA <%= current_user.kawasan ? current_user.kawasan.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.pic_name_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NO HP <%= current_user.kawasan ? current_user.kawasan.pic_jabatan_2 : "" %> </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.pic_hp_2 : "N/A" %>&nbsp;</span>
											</div>
										</div>
										
										<div class="profile-info-row">
											<div class="profile-info-contact"> ALAMAT </div>

											<div class="profile-info-contact-value">
												<i class="icon-map-marker light-orange bigger-110"></i>
												<span><%= current_user.kawasan ? current_user.kawasan.alamat : "N/A" %></span>
											</div>
										</div>
										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR TELEPON </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.telp : "N/A" %>&nbsp;</span>
											</div>
										</div>

										<div class="profile-info-row">
											<div class="profile-info-contact"> NOMOR FAKSIMILI </div>

											<div class="profile-info-contact-value">
												<span><%= current_user.kawasan ? current_user.kawasan.fax : "N/A" %>&nbsp;</span>
											</div>
										</div>
									</div>

									
								</div><!-- /#internal -->

								
							</div>
						</div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->