<div class="breadcrumbs" id="breadcrumbs">
	<script type="text/javascript">
		try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
	</script>

	<ul class="breadcrumb">
		<li>
			<i class="icon-home home-icon"></i>
			<%= link_to "Home", homes_path %>
		</li>
		<li class="active">Feedback</li>
	</ul><!-- .breadcrumb -->
</div>

<div class="page-content">
	<div class="page-header">
		<h1>
			Feedback
			<small>
				<i class="icon-double-angle-right"></i>
				Daftar feedback
			</small>
		</h1>
	</div><!-- /.page-header -->

  <%= link_to '<i class="icon-plus icon-white"></i>Send Feedback'.html_safe, new_data_feedback_path, class: "btn btn-info" %>

	<div class="row">
		<div class="col-xs-12">
                    
					<div class="table-responsive">
						<table id="sample-table-1" class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th class="center">Tanggal</th>
									<th>Data Feedback</th>
									<th>Type</th>
									<th>Status</th>
								</tr>
							</thead>

							<tbody>
								<% @data_feedbacks.each do |data_feedback| %>
									<tr>
										<td class="center">
											<% if data_feedback.created_at %>
												<%= data_feedback.created_at.localtime.day %> 
												<%= @months[data_feedback.created_at.localtime.month] %> 
												<%= data_feedback.created_at.localtime.year %> 
												<%= sprintf "%02d", data_feedback.created_at.localtime.hour %>:<%= sprintf "%02d", data_feedback.created_at.localtime.min %>:<%= sprintf "%02d", data_feedback.created_at.localtime.sec %>
											<% end %>
										</td>
										<td>
												<% if data_feedback.user_read == nil || data_feedback.replies.where("user_read IS NULL").count > 0  %>
													<%= link_to data_feedback.feedback_plg, data_feedback_path(data_feedback), :style => "color:blue;font-weight:bold" %>
												<% else %>
													<%= link_to data_feedback.feedback_plg, data_feedback_path(data_feedback) %>
												<% end %>
										</td>
										<td><%= data_feedback.feedback_type ? data_feedback.feedback_type.name : "N/A" %></td>
										<td class="hidden-480"><%= data_feedback.status_feedback %></td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div><!-- /.table-responsive -->
                    
		</div><!-- /.col -->
	</div><!-- /.row -->
</div><!-- /.page-content -->