<%= form_for([:admin,@admin], :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @admin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin.errors.count, "error") %> prohibited this admin from being saved:</h2>

      <ul>
      <% @admin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username, :class => "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :username, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> Foto </label>
                        
    <div class="col-sm-3">
      <input type="file" name="admin[avatar]" id="id-input-file-1" />
     </div>
  </div>

   <div class="form-group">
    <%= f.label :email, :class => "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.email_field :email, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <% if params[:action] == "new" || params[:action] == "create" %>

     <div class="form-group">
      <%= f.label :password, :class => "col-sm-3 control-label no-padding-right" %>
      <div class="col-sm-9">
        
        <%= f.password_field :password, :class => "col-xs-10 col-sm-5" %>
      </div>
     </div> 

     <div class="form-group">
      <%= f.label :password_confirmation, :class => "col-sm-3 control-label no-padding-right" %>
      <div class="col-sm-9">
        
        <%= f.password_field :password_confirmation, :class => "col-xs-10 col-sm-5" %>
      </div>
     </div> 
  <% end %>

  <div class="form-group">
    <%= f.label :nama_user, :class => "col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">User Group</label>
    <div class="col-sm-9">
      <select class="form-search chosen-select" name="admin[user_group_id]" data-rel="chosen">
        <option>-- Select User Group --</option>
          <% @user_groups.each do |user_group| %>
            <% if user_group.id == @admin.user_group_id %>
              <option value="<%= user_group.id %>" selected><%= user_group.name %></option>
            <% else %>
              <option value="<%= user_group.id %>"><%= user_group.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

   <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="selectError">Area</label>
      <div class="col-sm-9">
        <select class="selectArea form-search chosen-select" name="admin[area_new_id]" data-rel="chosen">
          <option>-- Select Area --</option>
            <% @areas.each do |area| %>
              <% if area.area_id == @admin.area_new_id %>
                <option value="<%= area.area_id %>" selected><%= area.name %></option>
              <% else %>
                <option value="<%= area.area_id %>"><%= area.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
    </div> 

    <div class="form-group" id='rayongroup' <%= params[:action] != 'edit' ? 'style="display:none"'.html_safe : '' %> >
        <label class="col-sm-3 control-label no-padding-right" for="selectRayon">Rayon</label>
        <div class="col-sm-9">
          <select class="selectRayon form-search" id="admin_rayon_id" name="admin[rayon_new_id]" > <!-- data-rel="chosen"> -->
            <option value="">-- Select Rayon --</option>
            <% if params[:action] == 'edit' %>
              <% @rayons.each do |rayon| %>
                <% if rayon.rayon_id == @admin.rayon_new_id %>
                  <option value="<%= rayon.rayon_id %>" selected><%= rayon.name %></option>
                <% else %>
                  <option value="<%= rayon.rayon_id %>"><%= rayon.name %></option>
                <% end %>
              <% end %>
            <% end %>
          </select>
        </div>
    </div>

   <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="selectError">Kawasan</label>
      <div class="col-sm-9">
        <select class="selectKawasan form-search chosen-select" name="admin[kawasan_id]" data-rel="chosen">
          <option>-- Select Kawasan --</option>
            <% @kawasans.each do |kawasan| %>
              <% if kawasan.id == @admin.kawasan_id %>
                <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
              <% else %>
                <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
              <% end %>
            <% end %>
          </select>
        </div>
    </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_admins_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>