<%= content_for :js do %>
  <script type="text/javascript">
      jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable({"aaSorting": []});
        
        
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      })
    </script>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Admin</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Admin
      </h1>
    </div><!-- /.page-header -->

    <% 
      @not_authorized = true

      if current_admin.user_group
        current_admin.user_group.action_models.each do |action_model|
          if (action_model.controller_model.path == "admin/admins" && action_model.path == "new")
            @not_authorized = false
          end

          break if ! @not_authorized
        end
    end
    %>

    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

      <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_admin_path, class: "btn btn-info" %>

    <% end %>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="table-header">
                      Daftar Admin
                    </div>
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Nama User</th>
                          <th>User Group</th>
                          <th>Area</th>
                          <th>Rayon</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @admins.each do |admin| %>
                          <tr>
                            

                            <td>
                              <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/admins" && action_model.path == "show")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
                                  <%= link_to admin.name, admin_admin_path(admin) %>
                                <% else %>
                                  <%= admin.name %>
                                <% end %>
                            </td>
                            <td><%= admin.user_group ? admin.user_group.name : "N/A" %></td>
                            <td><%= Area.where(:area_id => admin.area_new_id).first ? Area.where(:area_id => admin.area_new_id).first.name : "N/A" %></td>
                            <td><%= Rayon.where(:rayon_id => admin.rayon_new_id).first ? Rayon.where(:rayon_id => admin.rayon_new_id).first.name : "N/A" %></td>

                            <td>
                              <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/admins" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>
                                  <%= link_to edit_admin_admin_path(admin), :class => "btn btn-xs btn-info" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/admins" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_admin_path(admin), :class => "btn btn-xs btn-danger", :rel => "tooltip", :method => :delete, :confirm => "Yakin akan menghapus?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>

                                <% end %>

                                
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->