<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Dashboard", admins_path %>
			</li>
			<li>
				<%= link_to "Admin", admin_admins_path %>
			</li>
			<li class="active"><%= @admin.name %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<%= image_tag(@admin.avatar(:medium), :class => "editable img-responsive", :id => "avatar2") %>
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<h4 class="blue">
									<span class="middle"><%= @admin.name %></span>
								</h4>

								<div class="profile-admin-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Username </div>

										<div class="profile-info-value">
											<span><%= @admin.username %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Email </div>

										<div class="profile-info-value">
											<span><%= @admin.email %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> User Group </div>

										<div class="profile-info-value">
											<span><%= @admin.user_group ? @admin.user_group.name : "N/A" %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Rayon </div>

										<div class="profile-info-value">
											<span><%= Rayon.where(:rayon_id => @admin.rayon_new_id).first ? Rayon.where(:rayon_id => @admin.rayon_new_id).first.name : "N/A" %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Area </div>

										<div class="profile-info-value">
											<span><%= Area.where(:area_id => @admin.area_new_id).first ? Area.where(:area_id => @admin.area_new_id).first.name : "N/A" %></span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Kawasan </div>

										<div class="profile-info-value">
											<span><%= Kawasan.where(:id => @admin.kawasan_id).first ? Kawasan.where(:id => @admin.kawasan_id).first.nama_kawasan : "N/A" %></span>
										</div>
									</div>
								</div>
			                    </div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/admins" && action_model.path == "edit")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

		                        	<%= link_to edit_admin_admin_path(@admin) do %>
			                            <button class="btn btn-info" type="button">
			                                <i class="icon-edit bigger-110"></i>
			                                Edit
			                            </button>
			                        <% end %>
			                    <% end %>

			                    <% 
							      @not_authorized = true

							      if current_admin.user_group
							        current_admin.user_group.action_models.each do |action_model|
							          if (action_model.controller_model.path == "admin/admins" && action_model.path == "index")
							            @not_authorized = false
							          end

							          break if ! @not_authorized
							        end
							    end
							    %>

							    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

		                            &nbsp; &nbsp; &nbsp;
		                            <%= link_to admin_admins_path do %>
		                              <button class="btn btn-success" type="button">
		                                  <i class="icon-arrow bigger-110"></i>
		                                  Back
		                              </button>
		                            <% end %>
		                        <% end %>
	                        </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->