<%= form_for([:admin,@examination], :html => {class:"form-horizontal"}) do |f| %>
  <% if @examination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@examination.errors.count, "error") %> prohibited this examination from being saved:</h2>

      <ul>
      <% @examination.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
	<%= f.hidden_field :created_by, :value => current_admin.id %>
	<%= f.hidden_field :examination_indicator_id, :value => @examination_indicator.id %>
  <% else %>
	<%= f.hidden_field :updated_by, :value => current_admin.id %>
  <% end %>

  
  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Petugas</label>
    <div class="col-sm-9">
      <select multiple="" class="width-80 form-search chosen-select" id="form-field-select-4" name="examination[officer_ids][]" data-rel="chosen" data-placeholder="Pilih petugas-petugas yang akan melakukan pemeriksaan...">
        <option value="">-- Select Petugas --</option>
          <% @officers.each do |officer| %>
            <% if @examination.officer_ids.include? officer.id %>
              <option value="<%= officer.id %>" selected><%= officer.name %></option>
            <% else %>
              <option value="<%= officer.id %>"><%= officer.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 
  
  <div class="form-group">
    <%= f.label :shift, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :shift, :class => "col-xs-10 col-sm-3" %>
    </div>
   </div> 
   
   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Pelanggan</label>
    <div class="col-sm-9">
      <select class="col-xs-10 col-sm-5 chosen-select" id="form-field-select-4" name="examination[user_id]" data-rel="chosen" data-placeholder="Pilih user...">
        <option value="">-- Select Pelanggan --</option>
          <% @users.each do |user| %>
            <% if user.id == @examination.user_id %>
                <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
              <% else %>
                <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
              <% end %>
          <% end %>
        </select>
      </div>
   </div> 
  
  <div class="form-group">
    <%= f.label :tanggal, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <% if @examination.examination_time %>
		<%= f.text_field :examination_time, :class => "col-xs-10 col-sm-3 datepicker", :value => @examination.examination_time.strftime("%Y-%m-%d") %>
      <% else %>
        <%= f.text_field :examination_time, :class => "col-xs-10 col-sm-3 datepicker" %>
      <% end %>
    </div>
   </div> 
   
   <div class="form-group">
    <%= f.label :pukul, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <% if @examination.examination_time %>
		<input type="text" class="col-xs-10 col-sm-1 timepicker" name="datetime_time" id="datetime_time" value="<%= @examination.examination_time.strftime("%H:%M:%S") %>">
      <% else %>
        <input type="text" class="col-xs-10 col-sm-1 timepicker" name="datetime_time" id="datetime_time">
      <% end %>
      
    </div>
   </div> 
   
   <%= f.fields_for :examination_examination_items do |form_examination_item| %>
	  <div class="form-group">
		<label class="col-sm-3 control-label no-padding-right"><%= form_examination_item.object.examination_item.name %></label>
		<%= form_examination_item.hidden_field :examination_item_id, :value => form_examination_item.object.examination_item_id %>
		<div class="col-sm-9">
		  <%= form_examination_item.select :condition, (1..3).collect {|x| [@conditions[x], x]}, {:include_blank => '-- Select Kondisi --'}, :class => "col-xs-10 col-sm-2 chosen-select", "data-rel" => "chosen" %>
		  <%= form_examination_item.text_field :note, :class => "col-xs-10 col-sm-5", "placeholder" => "Catatan.." %>
		</div>
	  </div>
	<% end %>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_examinations_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>
