<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Pemeriksaan</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Pemeriksaan
      </h1>
    </div><!-- /.page-header -->

    <% if @examination_indicator %>
		<% 
		  @not_authorized = true

		  if current_admin.user_group
			current_admin.user_group.action_models.each do |action_model|
			  if (action_model.controller_model.path == "admin/examinations" && action_model.path == "new")
				@not_authorized = false
			  end

			  break if ! @not_authorized
			end
		end
		%>

		<% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

		  <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_examination_path, class: "btn btn-info" %>

		<% end %>
    
    <% end %>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->

        <div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Tanggal</th>
                          <th>Pukul</th>
                          <th>Shift</th>
                          <th>Pelanggan</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @examinations.each do |examination| %>
                          <tr>
                            

                            <td>
							    <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/examinations" && action_model.path == "show")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_examination_path(examination) do %>
									<% if examination.examination_time %>
									  <%= examination.examination_time.day %> 
									  <%= @months[examination.examination_time.month] %> 
									  <%= examination.examination_time.year %>
									<% else %>
									  N/A
									<% end %>
                                  <% end %>
                                <% else %>
                                  <% if examination.examination_time %>
									  <%= examination.examination_time.day %> 
									  <%= @months[examination.examination_time.month] %> 
									  <%= examination.examination_time.year %>
									<% else %>
									  N/A
									<% end %>
                                <% end %>
                            </td>
                            <td>
                              <% if examination.examination_time %>
                                <%= sprintf "%02d", examination.examination_time.hour %>:<%= sprintf "%02d", examination.examination_time.min %>
                              <% else %>
                                N/A
                              <% end %>
                            </td>
							<td>
							  <%= examination.shift %>
                            </td>
                            <td>
							  <%= examination.user ? examination.user.idpel+" - "+examination.user.name : "N/A" %>
                            </td>
                            <td>
                              <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/examinations" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to edit_admin_examination_path(examination), :class => "btn btn-xs btn-warning" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/examinations" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_examination_path(examination), :class => "btn btn-xs btn-danger", :rel => "tooltip", :method => :delete, :confirm => "Yakin akan menghapus?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>

                                <a href="/admin/examinations/<%= examination.id %>.pdf" class="btn btn-xs btn-info" target="_blank">
                                    <i class="icon-print bigger-110"></i>
                                </a>
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->
