<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dokumen Pemeriksaan</title>
<%= wicked_pdf_stylesheet_link_tag "pdf/style", "pdf/tablecloth" %>
</head>

<body class="oneColLiqCtr">

<div id="container">
	<div id="mainContent">
    	<h1></h1>
			<div class="head">
            	<div class="logo"><%= wicked_pdf_image_tag "lg.jpg", :width => "55", :height => "70" %></div>
                
                <div class="jud">
                PT. PLN (PERSERO)<br/>
                DISTRIBUSI JAWA BARAT & BANTEN<br/>
                AREA KARAWANG - RAYON PRIMA
                </div>
                
                <div class="j-form">
                FORMULIR
                </div>
                
                <div class="j-detail">
                	<div class="j-det">
                    CHECKLIST PREMIUM SERVICE
                    </div>
                    
                    <div class="j-sub-1">
                        <div class="sub-1">
                        Regu : <% @examination.officers.each do |officer| %>
                        			<%= officer.name %>,
                        		<% end %>
                        </div>
                        
                        <div class="sub-1">
                        Shift : <%= @examination.shift %>
                        </div>
                    </div>
                    
                    <div class="j-sub-2">
                        <div class="sub-1">
                        Tanggal : <%= @examination.examination_time.day %> <%= @months[@examination.examination_time.month] %> <%= @examination.examination_time.year %>
                        </div>
                        
                        <div class="sub-1">
                        Jam : <%= sprintf "%02d", @examination.examination_time.hour %>:<%= sprintf "%02d", @examination.examination_time.min %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="head-1">
            SURVEY (CHECKLIST PREMIUM SERVICE) GARDU TEMBOK
            </div>
            
            <div class="cont">
            	<div class="head-cont">
                	<div class="hc-left">
                    	<div class="sub-1">
                        Nama Pelanggan <span style="margin-left:1%"> : <%= @examination.user ? @examination.user.idpel+" - "+@examination.user.name : "N/A" %></span>
                        </div>
                        
                        <div class="sub-1">
                        Kawasan <span style="margin-left:15%"> : <%= @examination.user && @examination.user.kawasan ? @examination.user.kawasan.nama_kawasan : "N/A" %></span>
                        </div>
                        
                        <div class="sub-1">
                        GI/Penyulang <span style="margin-left:7%"> : </span>
                        </div>
                    </div>
                    
                    <div class="hc-right">
                    	<div class="sub-1">
                        Nama Gardu <span style="margin-left:9%"> : </span>
                        </div>
                        
                        <div class="sub-1">
                        Gardu/Type <span style="margin-left:10.2%"> : </span>
                        </div>
                        
                        <div class="sub-1">
                        Jumlah Cell <span style="margin-left:10.5%"> : </span>
                        </div>
                    </div>
                </div>
             </div>
                
             <div class="table">
                <table>
                <tr style="text-align:center">
                    <th rowspan="2">No</th>
                    <th rowspan="2">PERALATAN GARDU</th>
                    <th colspan="3">KONDISI *</th>
                    <th rowspan="2">KETERANGAN</th>
                </tr>
                <tr style="text-align:center">
                    <th>Baik</th>
                    <th>Tidak Baik</th>
                    <th>Tidak Berfungsi</th>
                </tr>	

                <% i=0 %>
                <% a = ('A'..'Z').to_a %>
                <% @examination.examination_items.where("parent_id IS NULL").each do |examination_item| %>	
                	<% examination_examination_item = ExaminationExaminationItem.where("examination_item_id = ? AND examination_id = ?", examination_item.id, @examination.id).first %>
	                <tr style="text-align:center;font-weight:bold">
	                    <td style="text-align:right"><%= a[i] %></td>
	                    <td style="text-align:left"><%= examination_item.name %></td>
	                    <td><%= examination_examination_item.condition == 1 ? "v" : "" %></td>
	                    <td><%= examination_examination_item.condition == 2 ? "v" : "" %></td>
	                    <td><%= examination_examination_item.condition == 3 ? "v" : "" %></td>
	                    <td><%= examination_examination_item.note %></td>
	                </tr>
	                <% m=1 %>
	                <% examination_item.children.each do |child| %>
	                	<% examination_examination_item = ExaminationExaminationItem.where("examination_item_id = ? AND examination_id = ?", child.id, @examination.id).first %>

	                	<% if examination_examination_item %>
		                	<tr style="text-align:center">
			                    <td style="text-align:right"><%= m %></td>
			                    <td style="text-align:left"><%= child.name %></td>
			                    <td><%= examination_examination_item.condition == 1 ? "v" : "" %></td>
			                    <td><%= examination_examination_item.condition == 2 ? "v" : "" %></td>
			                    <td><%= examination_examination_item.condition == 3 ? "v" : "" %></td>
			                    <td><%= examination_examination_item.note %></td>
			                </tr>

			                <% n=1 %>
			                <% child.children.each do |child_child| %>
			                	<% examination_examination_item = ExaminationExaminationItem.where("examination_item_id = ? AND examination_id = ?", child_child.id, @examination.id).first %>

			                	<% if examination_examination_item %>
				                	<tr style="text-align:center">
					                    <td style="text-align:right"><%= m %>.<%= n %></td>
					                    <td style="text-align:left"><%= child_child.name %></td>
					                    <td><%= examination_examination_item.condition == 1 ? "v" : "" %></td>
					                    <td><%= examination_examination_item.condition == 2 ? "v" : "" %></td>
					                    <td><%= examination_examination_item.condition == 3 ? "v" : "" %></td>
					                    <td><%= examination_examination_item.note %></td>
					                </tr>

					                <% y=1 %>
					                <% child_child.children.each do |child_child_child| %>
					                	<% examination_examination_item = ExaminationExaminationItem.where("examination_item_id = ? AND examination_id = ?", child_child_child.id, @examination.id).first %>

					                	<% if examination_examination_item %>
						                	<tr style="text-align:center">
							                    <td style="text-align:right"><%= m %>.<%= n %>.<%= y %></td>
							                    <td style="text-align:left"><%= child_child_child.name %></td>
							                    <td><%= examination_examination_item.condition == 1 ? "v" : "" %></td>
							                    <td><%= examination_examination_item.condition == 2 ? "v" : "" %></td>
							                    <td><%= examination_examination_item.condition == 3 ? "v" : "" %></td>
							                    <td><%= examination_examination_item.note %></td>
							                </tr>
						                	<% y=y+1 %>
						                <% end %>
					                <% end %>
					                <% n=n+1 %>
					            <% end %>
			                <% end %>
			                <% m=m+1 %>
			            <% end %>
	                <% end %>
	                <% i=i+1 %>
	            <% end %>
                																					
            	</table>
            </div>
            
            <div class="f-cont">
            	<div class="cat">
                CATATAN / KEGIATAN :
                </div>
                
                <div class="kel">
                KELUHAN / SARAN PELANGGAN :
                </div>
            </div>
            
            <div class="pil">(* Pilih salah satu)</div>
            <div class="tgl">........., ....................................... <%= @examination.examination_time ? @examination.examination_time.year : "......" %></div>
            
            <div class="ttd">
            	<div class="ket">Mengetahui</div>
                <div class="f-ttd">(......................................)<br/>Spv.Teknik</div>
            </div>
            
            <div class="ttd">
            	<div class="ket">Dilaksanakan Oleh</div>
                <div class="f-ttd">(......................................)<br/>Pelaksana</div>
            </div>
            
           <div class="ttd">
            	<div class="ket">Disaksikan Oleh</div>
                <div class="f-ttd">(......................................)<br/>Pelanggan</div>
            </div>  
	</div>
</div>

</body>
</html>
