<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li>
				<%= link_to "Daftar Pemeriksaan", admin_examinations_path %>
			</li>
			<li class="active">Pemeriksaan</li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">

							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Tanggal </div>

										<div class="profile-info-value">
											<span><% if @examination.examination_time %>
													  <%= @examination.examination_time.day %> 
													  <%= @months[@examination.examination_time.month] %> 
													  <%= @examination.examination_time.year %>
													<% else %>
													  N/A
													<% end %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Pukul </div>

										<div class="profile-info-value">
											<span><% if @examination.examination_time %><%= sprintf "%02d", @examination.examination_time.hour %>:<%= sprintf "%02d", @examination.examination_time.min %><% else %>N/A<% end %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Shift </div>

										<div class="profile-info-value">
											<span><%= @examination.shift %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Daftar Petugas </div>

										<div class="profile-info-value">
											<% @examination.officers.each do |officer| %>
												<span><%= officer.name %>&nbsp;</span>
											<% end %>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Pelanggan </div>

										<div class="profile-info-value">
											<span><%= @examination.user ? @examination.user.idpel+" - "+@examination.user.name : "N/A" %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							
							<% if @examination.repair %>
							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Perbaikan </div>

										<div class="profile-info-value">
											<% 
											  @not_authorized = true

											  if current_admin.user_group
												current_admin.user_group.action_models.each do |action_model|
												  if (action_model.controller_model.path == "admin/repairs" && action_model.path == "show")
													@not_authorized = false
												  end

												  break if ! @not_authorized
												end
											end
											%>

											<% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

											  <%= link_to admin_repair_path(@examination.repair) do %>
												<span>Perbaikan &nbsp;</span>
											  <% end %>
											<% else %>
											    <span>Perbaikan &nbsp;</span>
											<% end %>
										</div>
									</div>
								</div>
							</div><!-- /span -->
							<% end %>
							
						</div><!-- /row-fluid -->
						

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_admin_examination_path(@examination) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            <%= link_to admin_examinations_path do %>
	                              <button class="btn btn-success" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Back
	                              </button>
	                            <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            
          						<a href="/admin/examinations/<%= @examination.id %>.pdf" target="_blank">
	                              <button class="btn btn-danger" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Cetak
	                              </button>
	                            </a>
	                        </div>
	                    </div>
					</div>
				</div>

				<div class="table-responsive">
                    <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Item Pemeriksaan</th>
                          <th>Kondisi</th>
                          <th>Catatan</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @examination.examination_examination_items.each do |examination_examination_item| %>
                          <tr>
                            

                            <td>
							   <%= examination_examination_item.examination_item.name %>
                            </td>
                            <td>
                              <%= @conditions[examination_examination_item.condition] %>
                            </td>
							<td>
							  <%= examination_examination_item.note %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->
