<%= form_for([:admin,@area], :html => {class:"form-horizontal"}) do |f| %>
  <% if @area.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@area.errors.count, "error") %> prohibited this area from being saved:</h2>

      <ul>
      <% @area.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama</label>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Kode Area</label>
    <div class="col-sm-9">
      
      <%= f.text_field :area_id, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Alamat</label>
    <div class="col-sm-9">
      
      <%= f.text_area :alamat, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Telp</label>
    <div class="col-sm-9">
      
      <%= f.text_field :telp, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Fax</label>
    <div class="col-sm-9">
      
      <%= f.text_field :fax, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_areas_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>