<div class="main-content">
	<div class="breadcrumbs" id="breadcrumbs">
		<script type="text/javascript">
			try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
		</script>

		<ul class="breadcrumb">
			<li>
				<i class="icon-home home-icon"></i>
				<%= link_to "Home", admins_path %>
			</li>
			<li>
				<%= link_to "Daftar Area", admin_areas_path %>
			</li>
			<li class="active"><%= @area.name %></li>
		</ul><!-- .breadcrumb -->
	</div>

	<div class="page-content">

		<div class="row">
			<div class="col-xs-12">
				<!-- PAGE CONTENT BEGINS -->
				<div class="">
					<div id="user-profile-2" class="user-profile">
						<div class="row">
							<div class="col-xs-12 col-sm-2 center">
								<span class="profile-picture">
									<img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="assets/avatars/astra-otoparts.jpg" />
								</span>
							</div><!-- /span -->

							<div class="col-xs-12 col-sm-10">
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Nama </div>

										<div class="profile-info-value">
											<span><%= @area.name %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Kode Area </div>

										<div class="profile-info-value">
											<span><%= @area.area_id %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Alamat </div>

										<div class="profile-info-value">
											<span><%= @area.alamat %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Telp </div>

										<div class="profile-info-value">
											<span><%= @area.telp %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Fax </div>

										<div class="profile-info-value">
											<span><%= @area.fax %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_name_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_jabatan_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 1 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_hp_1 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_name_2 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_jabatan_2 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 2 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_hp_2 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 3 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_name_3 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 3 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_jabatan_3 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 3 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_hp_3 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nama PIC 4 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_name_4 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Jabatan PIC 4 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_jabatan_4 %>&nbsp;</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> No HP PIC 4 </div>

										<div class="profile-info-value">
											<span><%= @area.pic_hp_4 %>&nbsp;</span>
										</div>
									</div>
								</div>
							</div><!-- /span -->
						</div><!-- /row-fluid -->
						

						<div class="clearfix form-actions">
	                        <div class="col-md-offset-3 col-md-9">
	                        	<%= link_to edit_admin_area_path(@area) do %>
		                            <button class="btn btn-info" type="submit">
		                                <i class="icon-edit bigger-110"></i>
		                                Edit
		                            </button>
		                        <% end %>

	                            &nbsp; &nbsp; &nbsp;
	                            <%= link_to admin_areas_path do %>
	                              <button class="btn btn-success" type="button">
	                                  <i class="icon-arrow bigger-110"></i>
	                                  Back
	                              </button>
	                            <% end %>
	                        </div>
	                    </div>
					</div>
				</div>

				

				<!-- PAGE CONTENT ENDS -->
			</div><!-- /.col -->
		</div><!-- /.row -->
	</div><!-- /.page-content -->
</div><!-- /.main-content -->

current_admin.kawasan