<%= form_for([:admin,@data_info], :html => {multipart: true, class:"form-horizontal"}) do |f| %>
  <% if @data_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@data_info.errors.count, "error") %> prohibited this data_info from being saved:</h2>

      <ul>
      <% @data_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if current_admin %>
    <%= f.hidden_field :created_by, :value => current_admin.id %>
  <% end %>

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Jenis Info</label>
    <div class="col-sm-9">
      <select class="form-search selectJenisInfo" name="data_info[jenis_info_id]" data-rel="chosen">
        <option>-- Select Jenis Info --</option>
          <% @jenis_infos.each do |jenis_info| %>
            <% if jenis_info.id == @data_info.jenis_info_id %>
              <option value="<%= jenis_info.id %>" selected><%= jenis_info.name %></option>
            <% else %>
              <option value="<%= jenis_info.id %>"><%= jenis_info.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

   <div class="form-group" id='detailjenisinfogroup' <%= ! @data_info.data_info_detail ? 'style="display:none"'.html_safe : '' %> >
      <label class="col-sm-3 control-label no-padding-right" for="selectDetailJenisInfo">Detail Jenis Info</label>
      <div class="col-sm-9">
        <select class="selectDetailJenisInfo form-search" id="data_info_data_info_detail_id" name="data_info[data_info_detail_id]" > <!-- data-rel="chosen"> -->
          <option value="">-- Select Detail Jenis Info --</option>
          <% if params[:action] == 'edit' %>
            <% @data_info_details.each do |data_info_detail| %>
              <% if data_info_detail.id == @data_info.data_info_detail_id %>
                <option value="<%= data_info_detail.id %>" selected><%= data_info_detail.name %></option>
              <% else %>
                <option value="<%= data_info_detail.id %>"><%= data_info_detail.name %></option>
              <% end %>
            <% end %>
          <% end %>
        </select>
      </div>
  </div>

  <% if (current_admin.area && ! current_admin.rayon && ! current_admin.kawasan) || (current_admin.user_group && current_admin.user_group.super == 1) %>

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Area</label>
      <div class="col-sm-9">
        <select multiple="" class="width-80 form-search chosen-select" id="form-field-select-4" name="data_info[area_ids][]" data-rel="chosen" data-placeholder="Pilih Area-area yang akan dikirim info...">
          <option value="">-- Select Area --</option>
            <% @areas.each do |area| %>
              <% if @data_info.area_ids.include? area.id %>
                <option value="<%= area.id %>" selected><%= area.name %></option>
              <% else %>
                <option value="<%= area.id %>"><%= area.name %></option>
              <% end %>
            <% end %>
          </select>
        </div>
     </div> 

  <% end %>

  <% if current_admin.kawasan || current_admin.rayon || (current_admin.user_group && current_admin.user_group.super == 1) %>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Kawasan</label>
    <div class="col-sm-9">
      <select multiple="" class="width-80 form-search chosen-select" id="form-field-select-4" name="data_info[kawasan_ids][]" data-rel="chosen" data-placeholder="Pilih kawasan-kawasan yang akan dikirim info...">
        <option value="">-- Select Kawasan --</option>
          <% @kawasans.each do |kawasan| %>
            <% if @data_info.kawasan_ids.include? kawasan.id %>
              <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
            <% else %>
              <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

   <% end %>

  <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Pelanggan</label>
    <div class="col-sm-9">
      <select multiple="" class="width-80 form-search chosen-select" id="form-field-select-4" name="data_info[user_ids][]" data-rel="chosen" data-placeholder="Pilih user-user yang akan dikirim info...">
        <option value="">-- Select Pelanggan --</option>
          <% @users.each do |user| %>
            <% if @data_info.user_ids.include? user.id %>
              <option value="<%= user.id %>" selected><%= user.idpel %> - <%= user.name %></option>
            <% else %>
              <option value="<%= user.id %>"><%= user.idpel %> - <%= user.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Daftar Email</label>
    <div class="col-sm-9">
      <input type="text" multiple="" class="width-80 form-search" id="form-field-select-4" name="data_info[list_email]" data-rel="chosen" placeholder="Tulis email-email yang akan dikirim info, dipisahkan dengan titik koma..." />
      </div>
   </div> 

  <div class="form-group">
    <%= f.label :info, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_area :info_gangguan, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

  <div class="form-group">
    <%= f.label :tanggal, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :tgl_info_gangguan, :class => "col-xs-10 col-sm-5 datepicker" %>
    </div>
   </div> 

  <div class="form-group">
    <%= f.label :pukul, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :time_start, :class => "col-xs-10 col-sm-2 timepicker" %>
      <div class="col-xs-10 col-sm-1" style="width:4px">-</div> 
      <%= f.text_field :time_end, :class => "col-xs-10 col-sm-2 timepicker" %>
    </div>
   </div> 

    <div class="form-group">
      <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> File Upload </label>
                          
      <div class="col-sm-3">
        <input type="file" name="data_info[file]" id="id-input-file-2" />
       </div>
    </div>

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_data_infos_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>