
        <!-- PAGE CONTENT BEGINS -->
        <h2>
                      Info Terkini
                    </h2>
                    <br/>
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th>Tanggal Info</th>
                          <th>Jenis Info</th>
                          <th>Area</th>
                          <th>Kawasan</th>
                          <th>Pelanggan</th>
                          <th>Email</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @data_infos.each do |data_info| %>
                          <tr>
                            <td>
                                  <%= data_info.tgl_info_gangguan %> 
                            </td>
                            <td><%= data_info.jenis_info ? data_info.jenis_info.name : "N/A" %></td>
                            <td class="profile-info-value">
                              <% data_info.areas.each do |area| %>
                                <span><%= area.name %></span>
                              <% end %>
                            </td>
                            <td class="profile-info-value">
                              <% data_info.kawasans.each do |kawasan| %>
                                <span><%= kawasan.nama_kawasan %></span>
                              <% end %>
                            </td>
                            <td class="profile-info-value">
                              <% data_info.users.each do |user| %>
                                <span><%= user.name %></span>
                              <% end %>
                            </td>
                            <td>
                            	<%= data_info.list_email %>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->