<%= content_for :js do %>
  <script type="text/javascript">
      jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable({"aaSorting": []});
        
        
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      });



   $(".chosen-select").chosen(); 
        $('#chosen-multiple-style').on('click', function(e){
          var target = $(e.target).find('input[type=radio]');
          var which = parseInt(target.val());
          if(which == 2) $('#form-field-select-4').addClass('tag-input-style');
           else $('#form-field-select-4').removeClass('tag-input-style');
        });
    </script>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">List Data Info</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="widget-box transparent">
      <div class="widget-header">
        <h6>Filter Data</h6>
        <div class="widget-toolbar no-border">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>

          

        </div>
      </div>

      <div class="widget-body">
        <div class="widget-main no-padding well">

    <%= form_tag(admin_data_infos_path, :method => :get) do %>

          <fieldset>
              <div class="row">
                <% if (! current_admin.area && ! current_admin.rayon && ! current_admin.kawasan) || (current_admin.user_group && current_admin.user_group.super == 1) %>
                  <div class="col-xs-12 col-lg-4">
                    <label class="search-label">Area</label>
                    <div class="input-group"><select class="form-control chosen-select span3" name="area_id" data-rel="chosen">
                      <option value="">-- Pilih Area --</option>
                        <% @areas.each do |area| %>
                          <% if area.id == params[:area_id].to_i %>
                            <option value="<%= area.id %>" selected><%= area.name %></option>
                          <% else %>
                            <option value="<%= area.id %>"><%= area.name %></option>
                          <% end %>
                        <% end %>
                      </select>
                      <span class="input-group-addon">
                          <i class="icon-map-marker bigger-110"></i>
                        </span></div>
                  </div>
                <% end %>

                <div class="col-xs-6 col-lg-4">
                  <label class="search-label">User</label>
                  <div class="input-group"><select class="form-control chosen-select span3" name="user_id" data-rel="chosen">
                    <option value="">-- Pilih User --</option>
                      <% @users.each do |user| %>
                        <% if user.id == params[:user_id].to_i %>
                          <option value="<%= user.id %>" selected><%= user.name %></option>
                        <% else %>
                          <option value="<%= user.id %>"><%= user.name %></option>
                        <% end %>
                      <% end %>
                    </select>
                    <span class="input-group-addon">
                      <i class="icon-user bigger-110"></i>
                    </span></div>
                </div>

                <% if (! current_admin.kawasan && ! current_admin.rayon) || (current_admin.user_group && current_admin.user_group.super == 1) %>
                  <div class="col-xs-6 col-lg-4">
                    <label class="search-label">Kawasan</label>
                    <div class="input-group"><select class="form-control chosen-select span3" name="kawasan_id" data-rel="chosen">
                      <option value="">-- Pilih Kawasan --</option>
                        <% @kawasans.each do |kawasan| %>
                          <% if kawasan.id == params[:kawasan_id].to_i %>
                            <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
                          <% else %>
                            <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
                          <% end %>
                        <% end %>
                      </select>
                      <span class="input-group-addon">
                        <i class="icon-building bigger-110"></i>
                      </span></div>
                  </div>
              <% end %>
            </div>

            <div class="space-8"></div>
            <div class="row">

              <div class="col-xs-6 col-lg-3">
                <label class="search-label">Bulan Awal</label>
                <div class="input-group"><select class="form-control span3" name="blth_bulan_awal" data-rel="chosen">
                  <option value="">-- Pilih Bulan Awal --</option>
                    <% (1..12).each do |bulan| %>
                      <% if bulan == params[:blth_bulan_awal].to_i %>
                        <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                      <% else %>
                        <option value="<%= bulan %>"><%= @months[bulan] %></option>
                      <% end %>
                    <% end %>
                  </select></div>
              </div>
              
              <div class="col-xs-6 col-lg-3">
                <label class="search-label">Tahun Awal</label>
                <div class="input-group"><select class="form-control span3" name="blth_tahun_awal" data-rel="chosen">
                  <option value="">-- Pilih Tahun Awal --</option>
                      <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                        <% if tahun == params[:blth_tahun_awal].to_i %>
                          <option value="<%= tahun %>" selected><%= tahun %></option>
                        <% else %>
                          <option value="<%= tahun %>"><%= tahun %></option>
                        <% end %>
                      <% end %>
                  </select></div>
              </div>
              <div class="col-xs-6 col-lg-3">
                <label class="search-label">Bulan Akhir</label>
                <div class="input-group"><select class="form-control span3" name="blth_bulan_akhir" data-rel="chosen">
                  <option value="">-- Pilih Bulan Akhir --</option>
                    <% (1..12).each do |bulan| %>
                      <% if bulan == params[:blth_bulan_akhir].to_i %>
                        <option value="<%= bulan %>" selected><%= @months[bulan] %></option>
                      <% else %>
                        <option value="<%= bulan %>"><%= @months[bulan] %></option>
                      <% end %>
                    <% end %>
                  </select></div>
              </div>
              <div class="col-xs-6 col-lg-3">
                <label class="search-label">Tahun Akhir</label>
                <div class="input-group"><select class="form-control span3" name="blth_tahun_akhir" data-rel="chosen">
                  <option value="">-- Pilih Tahun Akhir --</option>
                      <% (Time.now.year-2..Time.now.year+2).each do |tahun| %>
                        <% if tahun == params[:blth_tahun_akhir].to_i %>
                          <option value="<%= tahun %>" selected><%= tahun %></option>
                        <% else %>
                          <option value="<%= tahun %>"><%= tahun %></option>
                        <% end %>
                      <% end %>
                  </select></div>
              </div>
            </div>

              <div class="space-8"></div>
              <div class="row">
                <div class="col-md-offset-10 col-md-2">
                  
                  <button type="submit" class="btn btn-success">
                  Filter
                  <i class="icon-search icon-on-right bigger-125"></i>
                  </button>
                </div>
              </div>
                
              
          </fieldset>
      <% end %>
      </div>
    </div>
      
  </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Data Info
      </h1>
    </div><!-- /.page-header -->

  <% 
      @not_authorized = true

      if current_admin.user_group
        current_admin.user_group.action_models.each do |action_model|
          if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "new")
            @not_authorized = false
          end

          break if ! @not_authorized
        end
    end
    %>

    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

      <%= link_to '<i class="icon-plus icon-white"></i>Create New'.html_safe, new_admin_data_info_path, class: "btn btn-info" %>

    <% end %>

    <% if @data_infos.count > 0 %>
      <a href="/admin/data_infos.xls?blth_bulan_awal=<%= params[:blth_bulan_awal] %>&blth_tahun_awal=<%= params[:blth_tahun_awal] %>&blth_bulan_akhir=<%= params[:blth_bulan_akhir] %>&blth_tahun_akhir=<%= params[:blth_tahun_akhir] %>&area_id=<%= params[:area_id] %>&kawasan_id=<%= params[:kawasan_id] %>&user_id=<%= params[:user_id] %>"><button class="btn btn-info" style="float:right;">
        <i class="icon-download bigger-110"></i>
        Export Excel
      </button>
      </a>
    <% end %>

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->
        <div class="table-header">
                      Info Terkini
                    </div>
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          
                          <th>Tanggal Info</th>
                          <th>Pukul</th>
                          <th>Jenis Info</th>
                          <th>Area</th>
                          <th>Kawasan</th>
                          <th>Pelanggan</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <% @data_infos.each do |data_info| %>
                          <tr>
                            

                            <td>
                              <% 
                                @not_authorized = true

                                if current_admin.user_group
                                  current_admin.user_group.action_models.each do |action_model|
                                    if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "show")
                                      @not_authorized = false
                                    end

                                    break if ! @not_authorized
                                  end
                              end
                              %>

                              <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                <%= link_to admin_data_info_path(data_info) do %>
                                  <% if data_info.tgl_info_gangguan %>
                                    <%= data_info.tgl_info_gangguan.day %> 
                                    <%= @months[data_info.tgl_info_gangguan.month] %> 
                                    <%= data_info.tgl_info_gangguan.year %>
                                  <% else %>
                                    N/A
                                  <% end %>
                                <% end %>
                              <% else %>
                                <% if data_info.tgl_info_gangguan %>
                                  <%= data_info.tgl_info_gangguan.day %> 
                                  <%= @months[data_info.tgl_info_gangguan.month] %> 
                                  <%= data_info.tgl_info_gangguan.year %>
                                <% else %>
                                  N/A
                                <% end %>
                              <% end %>
                            </td>
                            <td>
                                <% if data_info.time_start && data_info.time_end %>
                                <%= sprintf "%02d", data_info.time_start.hour %>:<%= sprintf "%02d", data_info.time_start.min %> - <%= sprintf "%02d", data_info.time_end.hour %>:<%= sprintf "%02d", data_info.time_end.min %>
                              <% end %>
                            </td>
                            <td><%= data_info.jenis_info ? data_info.jenis_info.name : "N/A" %></td>
                            <td class="profile-info-value">
                              <% data_info.areas.each do |area| %>
                                <span><%= area.name %></span>
                              <% end %>
                            </td>
                            <td class="profile-info-value">
                              <% data_info.kawasans.each do |kawasan| %>
                                <span><%= kawasan.nama_kawasan %></span>
                              <% end %>
                            </td>
                            <td class="profile-info-value">
                              <% data_info.users.each do |user| %>
                                <span><%= user.name %></span>
                              <% end %>
                            </td>
                            <td>
                              <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to edit_admin_data_info_path(data_info), :class => "btn btn-xs btn-info" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "destroy")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to admin_data_info_path(data_info), :class => "btn btn-xs btn-danger", :rel => "tooltip", :method => :delete, :confirm => "Yakin akan menghapus?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>

                                
                              </div>
                            </td>
                          </tr>
                        <% end %>
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->