@charset "utf-8";
/* CSS Document */

body {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000000;
	float: left;
}
.oneColLiqCtr #container {
	width: 100%;
	float: left;
	background: #FFFFFF;
	margin: 0 auto;
	border: 1px solid #000000;
	text-align: left;
	padding-bottom: 20px;
}
.oneColLiqCtr #mainContent {
	padding: 0 20px;
}

.head {width:99.9%;height:70px;float:left;font-size:72%;border:#000000 1px solid;}
.logo {width:9%;height:70px;float:left;font-size:72%;border-right:#000000 1px solid;padding-left:3px;}
.jud {width:30%;height:55px;float:left;font-size:72%;border-right:#000000 1px solid;padding-top:15px;padding-left:1%}
.j-form {width:14%;height:44px;float:left;font-size:72%;border-right:#000000 1px solid;padding-top:26px;padding-left:6%}

.j-detail {width:35%;float:left;font-size:72%;}
.j-det {width:93%;float:left;padding-top:10px;padding-bottom:10px;padding-left:20%;border-bottom:#000000 1px solid;}
.j-sub-1 {width:45%;height:36px;float:left;padding-top:2px;border-right:#000000 1px solid;padding-left:2%;}
.sub-1 {width:100%;float:left;padding-top:3px;}
.j-sub-2 {width:45%;float:left;padding-top:2px;padding-left:2%;}

.head-1 {width:99.9%;float:left;font-size:60%;text-align:center;padding-top:2px;padding-bottom:2px;border-right:#000000 1px solid;border-left:#000000 1px solid;font-weight:bold;}

.cont {width:98.1%;float:left;padding:1%;font-size:80%;border-right:#000000 1px solid;border-left:#000000 1px solid;border-top:#000000 1px solid;}
.head-cont {width:98%;float:left;padding:1%}
.hc-left {width:48%;float:left;font-size:70%;}
.hc-right {width:48%;float:left;font-size:70%;}

.table {width:100.3%;float:left;font-size:70%;}

.line {font-weight:bold;padding-bottom:1px;padding-top:1px;}
.line-2 {padding-bottom:1px;padding-top:1px;}

.f-cont {width:98.1%;float:left;padding:1%;font-size:80%;border-right:#000000 1px solid;border-left:#000000 1px solid;border-bottom:#000000 1px solid;}
.cat {width:98%;float:left;padding:1%;font-size:65%;height:40px;}
.kel {width:98%;float:left;padding:1%;font-size:65%;height:50px;}
.pil {width:100%;float:left;font-size:50%;}
.tgl {width:99%;float:left;font-size:55%;text-align:right;margin-top:5px;}

.ttd {width:33%;float:left;font-size:55%;text-align:center;margin-top:15px;}
.ket {width:100%;float:left;margin-bottom:50px;}
.f-ttd {width:100%;float:left;}