/* 

	TableCloth	
	by Alen Grakalic, brought to you by cssglobe.com
	
*/

/* general styles */

table, td{
	font-size:90%; 
}
table{
	width: 100%;
	border-collapse:collapse;
}
th, td{height:10px;padding:1px;border:1px solid #000;}

/* tablecloth styles */

tr.even td{background:#fff;}
tr.odd td{background: none;}

th.over, tr.even th.over, tr.odd th.over{background: orange;}
th2.over, tr2.even th2.over, tr2.odd th2.over{background: orange;}
th.down, tr.even th.down, tr.odd th.down{background: none;}
th.selected, tr.even th.selected, tr.odd th.selected{}

td.over, tr.even td.over, tr.odd td.over{background: none;}
td.down, tr.even td.down, tr.odd td.down{background: none;color:#fff;}
td.selected, tr.even td.selected, tr.odd td.selected{background: none;color:#555;}

/* use this if you want to apply different styleing to empty table cells*/
td.empty, tr.odd td.empty, tr.even td.empty{background: none;}