<main id="main" class="site-main">

        <section id="carousel-1" class="carousel slide section-slide" data-ride="carousel">
          <div class="carousel-inner">
            <% if @slideshows.count < 3 %>
                <div class="item active" style="background: url(/assets/bg-1.jpg);">
                  <div class="container"><img src="/assets/trivialight.png" alt="First slide"></div>
                </div>
                <div class="item" style="background: url(/assets/bg-2.jpg);">
                  <div class="container"><img src="/assets/trivialight.png" alt="Second slide"></div>
                </div>
                <div class="item" style="background: url(/assets/bg-3.jpg);">
                  <div class="container"><img src="/assets/trivialight.png" alt="Third slide"></div>
                </div>
            <% else %>
                <% @slideshows.each do |slideshow| %>
                    <div class="item <% if slideshow == @slideshows.first %>active<% end %>" style="background: url(<%= slideshow.image.url(:slider) %>);">
                      <div class="container"><img src="/assets/trivialight.png" alt="First slide"></div>
                    </div>
                <% end %>
            <% end %>
          </div>
          <a class="left carousel-control" href="#carousel-1" data-slide="prev"><span class="fa fa-chevron-left"></span></a>
          <a class="right carousel-control" href="#carousel-1" data-slide="next"><span class="fa fa-chevron-right"></span></a>
        </section>

        <section id="what" class="section section-center section-cta">
          <div class="container">
            <h2 class="section-title"><span>Apa itu P-CMS ?</span></h2>
            <%= @what ? raw(@what.body) : "" %>
          </div>
        </section>

        <section id="how" class="section section-center section-hilite section-features">
          <div class="container">
            <h2 class="section-title"><span>Bagaimana Cara Menjadi Member P-CMS?</span></h2>
            <div class="row">

              <div class="col-md-12 col-sm-6">
                <img src="/assets/how.png" height="150" width="840" alt="">
              </div>

            </div>
          </div>
        </section>

        <section id="testimonials" class="section section-center section-testimonial">
          <div class="container">
            <h2 class="section-title"><span>Apa Kata Member P-CMS?</span></h2>
            <i class="fa fa-quote-left fa-3x"></i>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <% @testimonials.each do |testimonial| %>
                    <div class="item <% if testimonial == @testimonials.first %>active <% end %>">
                      <blockquote>
                        <p><%= testimonial.body %></p>
                        <small><%= testimonial.testimonial_by %> <cite title="Source Title"><%= testimonial.user ? testimonial.user.name : "" %></cite></small>
                      </blockquote>
                    </div>
                <% end %>
              </div>

              <ol class="carousel-indicators">
                <% i=0 %>
                <% @testimonials.each do |testimonial| %>
                    <li data-target="#carousel-example-generic" data-slide-to="<%= i %>" <% if testimonial == @testimonials.first %>class="active" <% end %>>
                        <% if testimonial.user %>
                            <img src="<%= testimonial.user.avatar.url(:thumb) %>" width="64" height="64" alt="" class="img-circle">
                        <% else %>
                            <img src="http://placehold.it/64x64" width="64" height="64" alt="" class="img-circle">
                        <% end %>
                    </li>
                    <% i = i+1 %>
                <% end %>
              </ol>
            </div>

          </div>
        </section>

        <section id="blog" class="section section-hilite section-blog">
          <div class="container">
            <h2 class="section-title"><span>Berita & Artikel</span></h2>
            <div class="row">
                <% @articles.each do |article| %>
                  <div class="col-md-6">
                    <article class="hentry post">
                      <div class="row">
                        <div class="entry-thumbnail col-lg-4 col-md-5 col-sm-4">
                          <a href="#" class="hover-effect">
                            <img src="<%= article.image.url(:side) %>" alt="" />
                            <span class="overlay"><i class="fa fa-plus"></i></span>
                          </a>
                        </div>
                        <div class="col-lg-8 col-md-7 col-sm-8">
                          <header class="entry-header">
                            <h2 class="entry-title"><a href="#"><%= article.title %></a></h2>
                            <div class="entry-meta">By <a href="#"><%= article.created ? article.created.username : "N/A" %></a></div>
                          </header>
                          <div class="entry-content">
                            <p><%= article.summary[0..250] %></p>
                            <a href="#" class="more"><span class="btn btn-primary">Continue Reading</span></a>
                          </div>
                        </div>
                      </div>
                    </article>
                  </div>
                <% end %>
            </div>
            <div class="main-action row" style="padding-top:20px;padding-bottom:50px">
              <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-2"><a href="/articles" class="smooth-scroll btn btn-block btn-danger">Read More..</a></div>
              
            </div>
          </div>
        </section>
        
      </main>