<%= form_for([:admin,@rayon], :html => {class:"form-horizontal"}) do |f| %>
  <% if @rayon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rayon.errors.count, "error") %> prohibited this rayon from being saved:</h2>

      <ul>
      <% @rayon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Kode Rayon</label>
    <div class="col-sm-9">
      
      <%= f.text_field :rayon_id, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :alamat, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_area :alamat, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :telp, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :telp, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :fax, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :fax, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 
  

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Area</label>
    <div class="col-sm-9">
      <select class="form-search chosen-select" name="rayon[area_new_id]" data-rel="chosen">
        <option>-- Select Area --</option>
          <% @areas.each do |area| %>
            <% if area.area_id == @rayon.area_new_id %>
              <option value="<%= area.area_id %>" selected><%= area.name %></option>
            <% else %>
              <option value="<%= area.area_id %>"><%= area.name %></option>
            <% end %>
          <% end %>
        </select>
      </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 1</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_1, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 2</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_2, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 3</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_3, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Nama PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_name_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Jabatan PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_jabatan_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">No HP PIC 4</label>
    <div class="col-sm-9">
      
      <%= f.text_field :pic_hp_4, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_rayons_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>