@charset "utf-8";

/*
@font-face {font-family: Aldo;src: url('../font/Aldo PC') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: OptimusPrinceps;src: url('../font/optimusPriceps') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: Homizio;src: url('../font/regular') format('truetype');font-weight: normal;font-style: normal;}
*/

/* CONTENT-START */
#bg-top {height:325px;padding-top:1px;margin-top:5px;}
.top-bg {width:900px;height:auto;margin:0 auto;text-align:left;}

.bg-head {width:900px;height:auto;margin-top:10px;}

.left-section {width:698px;float:left;margin-left:5px;margin-bottom:-45px;}
.left-title {width:200x;float:left;padding-left:22px;}

.right-section {width:185px;float:left;background-color:#d7d0fa;margin-left:8px;padding-top:20px;padding-bottom:20px;margin-top:102px;}

#ContactForm {font-family:Aldo;font-size:14px;margin-top:-35px;margin-left:-8px;padding-top:50px;overflow:hidden;}
#ContactForm .input  {margin-left:7px;width:197px;height:25px;background:#FFFFFF;padding:2.5px 10px;color:#999999;font:14px Aldo;overflow:hidden;border:none;}

.news {width:650px;float:left;margin-top:20px;margin-left:0px;margin-right:10px;padding-bottom:20px;margin-bottom:20px;}
.news-title {width:650px;float:left;font-size:28px;margin-top:20px;margin-bottom:20px;margin-left:25px;}
.news-col {width:800px;float:left;background-color:#FFFFFF;border:#d4000c 2px solid;margin-left:15px;margin-right:10px;padding-top:20px;padding-bottom:20px;padding-left:45px;margin-bottom:50px;}
.news-col-title {width:600px;float:left;color:#000;font-size:20px;}
.sub-line {width:600px;float:left;color:#999999;font-size:10px;margin-top:5px;}
.date {width:100px;float:left;}
.look {width:100px;float:left;}

.news-col-pict {width:755px;float:left;text-align:center;margin-top:20px;}
.news-col-content {width:755px;float:left;color:#000;font-size:12px;text-align:justify;margin-top:20px;line-height:22px;}

.col-content {width:250px;float:left;font-size:9px;text-align:justify;margin-top:10px;}
.col-content a:link    {color: #0033FF; text-decoration:none}
.col-content a:visited {color: #0033FF;}
.col-content a:hover   {color: grey;}
.col-content a:active  {color: #0033FF;}

.side-title {width:165px;float:left;margin-left:10px;font-size:32px;text-align:center;margin-top:5px;}
.side-news {width:165px;float:left;margin-left:10px;margin-top:10px;}
.side-news-title {width:165px;float:left;font-size:15px;text-align:justify;margin-top:5px;font-weight:bold;}
.side-news-cont {width:165px;float:left;font-size:12px;text-align:justify;margin-top:5px;}
.side-news-cont-2 {width:190px;float:left;font-size:12px;margin-top:5px;}
.side-news-detail {width:165px;float:left;font-size:12px;text-align:justify;margin-top:5px;}
.side-news-detail a:link    {color: #0033FF; text-decoration:none}
.side-news-detail a:visited {color: #0033FF;}
.side-news-detail a:hover   {color: grey;}
.side-news-detail a:active  {color: #0033FF;}

.had-box {width:210px;height:151px;float:left;background-image:url(../images/had-bg.png);background-repeat:no-repeat;margin-left:-13px;margin-top:20px;margin-bottom:20px;}
.had-content {width:150px;float:left;font-size:10px;text-align:center;margin-top:35px;margin-left:30px;color:#FFFFFF}

.share-box {width:755px;float:left;margin-top:20px;line-height:22px;border-bottom:2px #CCCCCC solid;padding-bottom:20px;}
.tw {width:100px;float:left;}
.fb {width:150px;float:left;}

.other-news {width:800px;float:left;margin-top:10px;line-height:22px;padding-left:5px;padding-bottom:20px;text-align:justify;}
.other-news-title {width:625px;float:left;margin-top:20px;margin-bottom:20px;line-height:22px;font-size:24px;color:#000000;}
.on-side-left {width:265px;float:left;}
.on-side-center {width:265px;float:left;}
.on-side-right {width:265px;float:left;}
/* CONTENT-END */