@charset "utf-8";

/*
@font-face {font-family: Aldo;src: url('../font/Aldo PC') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: OptimusPrinceps;src: url('../font/optimusPriceps') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: Homizio;src: url('../font/regular') format('truetype');font-weight: normal;font-style: normal;}
*/

body {font:100% Verdana, Arial, Helvetica, sans-serif;margin:0;padding:0;text-align:center;color:#000000;background-image:url(/assets/pattern.png);background-repeat:repeat;}
.clr{clear:both;}

/* HEADER-START */
.oneColFixCtrHdr #header {height:110px;background-image:url(/assets/bg-h.png);background-repeat:repeat;}
.top-header {width:900px;background:#e4702f;height:auto;margin:0 auto;text-align:left;}
.oneColFixCtrHdr #header h1 {margin:0;padding:0;}
.oneColFixCtrHdr #menu-header {background:#eeeeee;height:46px;}
.oneColFixCtrHdr #menu-header-up {background:#FFFFFF;height:5px;border-top:#d4000c 2px solid;}

.m-1 a:link    {color: #fff; text-decoration:none}
.m-1 a:visited {color: #fff;}
.m-1 a:hover   {color: grey;}
.m-1 a:active  {color: #fff;}

.logo {width:250px;float:right;margin-top:4px;margin-bottom:10px;margin-right:5px;}
.logo-font {width:150px;float:right;font-size:18px;padding-top:18px;}
.sign {width:200px;float:right;font-family:Brixton;font-size:12px;color:#000;margin-top:65px;margin-right:-18px;font-weight:bold;}
.sign-1 {width:70px;float:right;padding-right:5px;padding-left:5px;text-align:center;}
.sign-2 {width:70px;float:right;padding-right:5px;padding-left:5px;border-left:1px #FFFFFF solid;text-align:center;}
.sign a:link    {color: #000; text-decoration:none}
.sign a:visited {color: #000;}
.sign a:hover   {color: grey;}
.sign a:active  {color: #000;}

.login {float:left;font-size:18px;width:900px;margin-right:5px;margin-left:8px;text-align:center;margin-top:1px;}
.log-title {float:left;width:70px;margin-right:5px;color:#999999;}
.username {width:220px;float:left;}
.pass {width:220px;float:left;}

#LoginForm {font-size:14px;margin-top:-35px;margin-left:-8px;padding-top:32px;}
#LoginForm .input  {margin-left:7px;width:190px;height:17px;background:#FFFFFF;padding:3px 10px;border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;color:#999999;font:12px Brixton;font-style:italic;}

.button {width:75px;margin-top:-3px;float:left;}
a.cssmouseover {display:block;width:75px;height:25px;background-image: url(/assets/in-button.png);background-position:0px 0px;}
a.cssmouseover:hover {background-position:0px -26px;}

.search-form {background:#fefefe;width:198px;height:24px;overflow:hidden;float:right;margin-top:9px;margin-right:17px;padding:2.5px 10px;border-radius:1px;-moz-border-radius:1px;-webkit-border-radius:1px;}
#search-form input {font-size:14px;line-height:1.214em;width:130px;padding:3px 20px 11px;margin:0;color:#9d9d9d;border:none;background:none;float:right}
#search-form a {display:block;width:25px;height:23px;text-indent:-5000px;background:url(/assets/search-button.png) 1px 1px no-repeat;float:left;}
#search-form a:hover {background-color:none;}
/* HEADER-END */


/* CONTENT-START */
.oneColFixCtrHdr #container {width:70%;margin:0 auto;text-align:left;}
.oneColFixCtrHdr #mainContent {padding:0 0px;}
/* CONTENT-END */


/* FOOTER-START */
.oneColFixCtrHdr #footer {padding:0 10px;background:#ffdf01;font-size:12px;color:#000;border-top:#d4000c 2px solid;}
.oneColFixCtrHdr #footer p {margin:0;padding:15px 0;margin-top:0px;}
/* FOOTER-END */