@charset "utf-8";

/*
@font-face {font-family: Aldo;src: url('../font/Aldo PC') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: OptimusPrinceps;src: url('../font/optimusPriceps') format('truetype');font-weight: normal;font-style: normal;}
@font-face {font-family: Homizio;src: url('../font/regular') format('truetype');font-weight: normal;font-style: normal;}
*/

/* CONTENT-START */
#bg-top {height:325px;padding-top:1px;margin-top:5px;}
.top-bg {width:70%;height:auto;margin:0 auto;text-align:left;}

.bg-head {width:100%;height:auto;margin-top:10px;}

.left-head {width:66%;float:left;margin-left:5px;margin-bottom:-45px;margin-top:-70px;}
.left-title {width:200x;float:left;padding-left:22px;}
.big-font {width:200px;float:left;font-size:18px;text-align:left;color:#fff;}
.medium-font {width:200px;float:left;font-size:18px;text-align:left;color:#fff;}
.small-font {width:240px;float:left;font-size:14px;text-align:left;color:#fff;}

.right-head {width:26%;float:left;background-color:#BAE5FF;margin-left:6%;padding-top:20px;padding-bottom:30px;opacity:0.9;margin-top:45px;}
.foto {width:480px;float:left;margin-top:-5px;}

.form-horizontal {font-family:Aldo;font-size:14px;margin-top:-5px;margin-left:-8px;padding-top:10px;overflow:hidden;}
.form-horizontal .input  {margin-left:7px;width:93%;height:25px;background:#FFFFFF;padding:2.5px 10px;color:#999999;font:14px Aldo;overflow:hidden;border:none;margin:2px;}

.news {width:97.666%;float:left;border-top:#ccc 2px solid;margin-top:20px;margin-left:10px;margin-right:10px;padding-bottom:20px;}
.news-title {width:400px;float:left;font-size:24px;margin-top:20px;margin-bottom:20px;margin-left:10px;color:#006EB3;}
.news-title-2 {width:150px;float:left;font-size:24px;margin-top:20px;margin-bottom:20px;margin-left:10px;color:#006EB3;}
.news-title-log {width:30%;float:left;margin-top:15px;margin-bottom:14px;margin-left:10px;}
.news-col {width:96%;float:left;background-color:#FFFFFF;border:#0099f6 1px solid;margin-left:10px;margin-right:10px;padding-top:20px;padding-bottom:20px;}
.news-col {width:96%;float:left;background-color:#FFFFFF;margin-left:10px;margin-right:10px;padding-top:20px;padding-bottom:20px;}
.news-left {width:100%;float:left;margin-left:10px;margin-right:5px;}
.news-right {width:400px;float:left;margin-left:5px;margin-right:10px;}
.col {width:100%;float:left;margin-top:10px;margin-bottom:20px;margin-left:10px;}
.col-right {width:120px;float:left;}
.col-img {width:100px;float:left;margin-top:5px;}
.col-left {width:48%;float:left;margin-left:10px;}
.col-title {width:250px;float:left;font-size:15px;font-weight:bold;color:#004D7D;}

.col-bub {width:405px;height:auto;padding:10px;background:#65b8ea;opacity:0.6;}
.col-bub-2 {width:420px;height:auto;padding:10px;background:#BAE5FF;margin-left:25px;opacity:0.8;}
.col-test {width:120px;float:left;}
.col-test-2 {width:100%;float:left;margin-top:9px;font-weight:900;}
.col-test-1 {width:360px;margin-left:20px;float:left;font-size:11px;text-align:justify;margin-top:10px;margin-bottom:10px;font-weight:900;}
.col-test-3 {width:340px;margin-left:20px;float:left;font-size:11px;text-align:justify;margin-top:10px;margin-bottom:10px;}

.col-content {width:330px;float:left;font-size:11px;text-align:justify;margin-top:10px;}
.col-content a:link    {color: #0033FF; text-decoration:none}
.col-content a:visited {color: #0033FF;}
.col-content a:hover   {color: grey;}
.col-content a:active  {color: #0033FF;}

.sub {width:95%;float:left;}
.sub-form {width:93%;float:left;margin-left:0px;}
.sub-button {width:50px;float:left;margin-left:0px;margin-top:15px;}
.sub-button-2 {width:135px;float:left;margin-left:42px;margin-top:15px;}
.sb {background-color:#0099f6;display:inline-block;color:#fff;font-family:Arial;font-size:12px;padding:7px 25px;text-decoration:none;}
.sb-2 {background-color:#d4000c;display:inline-block;color:#fff;font-family:Arial;font-size:12px;padding:7px 25px;text-decoration:none;}
.sb:hover {background-color:#30a7f0}
.sb:active {position:relative;top:1px;}
.sb-2:hover {background-color:#ce4048}
.sb-2:active {position:relative;top:1px;}

.sign-in {width:200;float:left;margin-top:5px;}

.side-left {width:45%;float:left}
.side-right {width:52%;float:left;margin-left:18px;}

.more {width:100%;height:35px;float:left;background:#0099f6;margin-left:-10px;margin-bottom:-20px;text-align:center;padding-top:20px;}
.more a:link    {color: #fff; text-decoration:none}
.more a:visited {color: #fff;}
.more a:hover   {color: #d4000c;}
.more a:active  {color: #fff;}

.testimonial {width:97.666%;float:left;border-top:#ccc 2px solid;margin-top:20px;margin-left:10px;margin-right:10px;padding-bottom:20px;}

.kutip {width:150px;margin-bottom:-27px;margin-top:-10px;font-size:52px;font-weight:bold;font-family: Arial, Helvetica, sans-serif;}
/* CONTENT-END */