
                    <h2>
                      Daftar Pelanggan Potensial
                    </h2>
                    <br />
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                          <th>Idpel</th>
                          <th>Nama</th>
                          <th>Jenis Layanan</th>
                          <th>Golongan Tarif</th>
                          <th>Daya</th>
                          <th>Perkiraan Biaya Investasi</th>
                          <th>Rayon</th>
                          <th>Area</th>
                          <th>Kawasan</th>
                          <th>Alamat</th>
                          <th>Nomor Telepon</th>
                          <th>Nomor Faksimili</th>
                          <th>Nomor SPJBTL</th>
                          <th>Tanggal SPJBTL</th>
                          <th>Nomor Addendum SPJBTL</th>
                          <th>Tanggal Layanan Premium</th>
                          <th>Rupiah UJL</th>
                          <th>No Kuitansi UJL</th>
                          <th>Tanggal Pasang Baru</th>
                          <th>Lattitude</th>
                          <th>Longitude</th>
                          <th>Merk Meter</th>
                          <th>Tipe Meter</th>
                          <th>Nomor kWh Meter</th>
                          <th>Trafo Arus Primer</th>
                          <th>Trafo Arus Sekunder</th>
                          <th>Trafo Tegangan Primer</th>
                          <th>Trafo Tegangan Sekunder</th>
                          <th>Konstanta</th>
                          <th>Faktor Kali Meter</th>
                          <th>Nama Gardu Distribusi</th>
                          <th>Kapasitas Trafo Distribusi</th>
                          <th>Tegangan Pelayanan</th>
                          <th>Pasokan GI 1</th>
                          <th>Pasokan Penyulang 1</th>
                          <th>Pasokan GI 2</th>
                          <th>Pasokan Penyulang 2</th>
                          <th>Pasokan GI 3</th>
                          <th>Pasokan Penyulang 3</th>
                          <th>Pasokan GI 4</th>
                          <th>Pasokan Penyulang 4</th>
                          <th>Nomor KLUI</th>
                          <th>Jenis Usaha Industri</th>
                          <th>Jenis Bahan Baku</th>
                          <th>Jenis Komoditi Produk</th>
                          <th>Kapasitas Produksi Per Tahun</th>
                          <th>Jumlah Tenaga Kerja</th>
                          <th>Mesin Peralatan Utama</th>
                          <th>Mesin Peralatan Pembantu</th>
                          <th>Pimpinan Perusahaan</th>
                          <th>Wakil Pimpinan Perusahaan</th>
                          <th>Nama PIC 1</th>
                          <th>Jabatan PIC 1</th>
                          <th>Nomor Telepon PIC 1</th>
                          <th>Nomor HP PIC 1</th>
                          <th>Email PIC 1 </th>
                          <th>Nama PIC 2</th>
                          <th>Jabatan PIC 2</th>
                          <th>Nomor Telepon PIC 2</th>
                          <th>Nomor HP PIC 2</th>
                          <th>Email PIC 2 </th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @users.each do |user| %>
                            <tr>

                              <td>
                                <%= user.idpel.to_s %>
                              </td>
                              <td><%= user.name %></td>
                              <td><%= user.jenis_layanan ? user.jenis_layanan.name : "N/A" %></td>
                              <td><%= user.master_tarif ? user.master_tarif.name : "N/A" %></td>
                              <td><%= user.master_daya ? user.master_daya.name : "N/A" %></td>
                              <td><%= user.perkiraan_biaya_investasi %></td>
                              <td><%= Rayon.where(:rayon_id => user.rayon_new_id).first ? Rayon.where(:rayon_id => user.rayon_new_id).first.name : "N/A" %></td>
                              <td><%= user.area ? user.area.name : "N/A" %></td>

                              <td>
                                <%= user.kawasan ? user.kawasan.nama_kawasan : "N/A" %>
                              </td>
                              <td class="profile-info-value">
                                <span><%= user.alamat_pelanggan %></span>
                                <% if user.nomor_bangunan && user.nomor_bangunan != "" %>
                                  <span><%= user.nomor_bangunan %></span>
                                <% end %>
                                <% if user.keterangan_bangunan && user.keterangan_bangunan != "" %>
                                  <span><%= user.keterangan_bangunan %></span>
                                <% end %>
                                <% if user.nomor_rt && user.nomor_rt != "" %>
                                  <span>RT <%= user.nomor_rt %></span>
                                <% end %>
                                <% if user.nomor_rw && user.nomor_rw != "" %>
                                  <span>RW <%= user.nomor_rw %></span>
                                <% end %>
                                <% if user.lingkungan && user.lingkungan != "" %>
                                  <span><%= user.lingkungan %></span>
                                <% end %>
                                <% if user.subdistrict %>
                                  <span><%= user.subdistrict ? user.subdistrict.name : "" %></span>
                                <% end %>
                                <% if user.district %>
                                  <span><%= user.district ? user.district.name : "" %></span>
                                <% end %>
                                <% if user.province %>
                                  <span><%= user.province ? user.province.name : "" %></span>
                                <% end %>
                                <% if user.kode_pos != "" %>
                                  <span><%= user.kode_pos %></span>
                                <% end %>
                              </td>
                              <td><%= user.nomor_telepon %></td>
                              <td><%= user.nomor_fax %></td>
                              <td><%= user.nomor_pks %></td>
                              <td><%= user.tanggal_pks %></td>
                              <td><%= user.nomor_adendum_spjbtl %></td>
                              <td><%= user.tanggal_layanan_premium %></td>
                              <td><%= user.rupiah_ujl %></td>
                              <td><%= user.no_kuit_ujl %></td>
                              <td><%= user.tgl_kuit_ujl_date %></td>
                              <td><%= user.tanggal_pasang_baru %></td>
                              <td><%= user.koordinat_y %></td>
                              <td><%= user.koordinat_x %></td>
                              <td><%= user.merk_meter ? user.merk_meter.name : "N/A" %></td>
                              <td><%= user.type_meter ? user.type_meter.name : "N/A" %></td>
                              <td><%= user.nomor_meter %></td>
                              <td><%= user.trafo_arus_primer_kwh %></td>
                              <td><%= user.trafo_arus_sekunder_kwh %></td>
                              <td><%= user.trafo_tegangan_primer_kwh %></td>
                              <td><%= user.trafo_tegangan_sekunder_kwh %></td>
                              <td><%= user.kosntanta_meter %></td>
                              <td><%= user.faktor_kali_meter %></td>
                              <td><%= user.nama_gardu %></td>
                              <td><%= user.kapasitas_trafo %></td>
                              <td><%= user.tegangan %></td>
                              <td><%= user.pasokan_gi_1 %>/<%= user.nomor_trafo_induk_1 %>/<%= user.kapasitas_trafo_induk_1 %></td>
                              <td><%= user.pasokan_penyulang_1 %></td>
                              <td><%= user.pasokan_gi_2 %>/<%= user.nomor_trafo_induk_2 %>/<%= user.kapasitas_trafo_induk_2 %></td>
                              <td><%= user.pasokan_penyulang_2 %></td>
                              <td><%= user.pasokan_gi_3 %>/<%= user.nomor_trafo_induk_3 %>/<%= user.kapasitas_trafo_induk_3 %></td>
                              <td><%= user.pasokan_penyulang_3 %></td>
                              <td><%= user.pasokan_gi_4 %>/<%= user.nomor_trafo_induk_4 %>/<%= user.kapasitas_trafo_induk_4 %></td>
                              <td><%= user.pasokan_penyulang_4 %></td>
                              <td><%= user.nomor_klui %></td>
                              <td><%= user.jenis_usaha %></td>
                              <td><%= user.jenis_bahan_baku %></td>
                              <td><%= user.jenis_komoditi_produk %></td>
                              <td><%= user.kapasitas_produksi_per_tahun %></td>
                              <td><%= user.jumlah_tenaga_kerja %></td>
                              <td><%= user.mesin_peralatan_utama %></td>
                              <td><%= user.mesin_peralatan_pembantu %></td>
                              <td><%= user.nama_dirut_string %></td>
                              <td><%= user.nama_wakil_dirut %></td>
                              <td><%= user.nama_contact %></td>
                              <td><%= user.jabatan_contact %></td>
                              <td><%= user.no_telepon_contact %></td>
                              <td><%= user.nomor_hp_contact %></td>
                              <td><%= user.email_contact %></td>
                              <td><%= user.nama_contact_2 %></td>
                              <td><%= user.jabatan_contact_2 %></td>
                              <td><%= user.no_telp_contact_2 %></td>
                              <td><%= user.no_hp_contact_2 %></td>
                              <td><%= user.email_contact_2 %></td>
                            </tr>
                          <% end %>
                        
                      </tbody>
                    </table>
                  
