<%= content_for :js do %>

  <%= javascript_include_tag "ajax/user" %>

  <script type="text/javascript">
      jQuery(function($) {
        var oTable1 = $('#sample-table-2').dataTable({"aaSorting": []});
        
        
        $('table th input:checkbox').on('click' , function(){
          var that = this;
          $(this).closest('table').find('tr > td:first-child input:checkbox')
          .each(function(){
            this.checked = that.checked;
            $(this).closest('tr').toggleClass('selected');
          });
            
        });
      
      
        $('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
        function tooltip_placement(context, source) {
          var $source = $(source);
          var $parent = $source.closest('table')
          var off1 = $parent.offset();
          var w1 = $parent.width();
      
          var off2 = $source.offset();
          var w2 = $source.width();
      
          if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
          return 'left';
        }
      })
    </script>
<% end %>

<div class="main-content">
  <div class="breadcrumbs" id="breadcrumbs">
    <script type="text/javascript">
      try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
    </script>

    <ul class="breadcrumb">
      <li>
        <i class="icon-home home-icon"></i>
        <%= link_to "Home", admins_path %>
      </li>
      <li class="active">Daftar Pelanggan Potensial</li>
    </ul><!-- .breadcrumb -->
  </div>

  <div class="widget-box transparent">
      <div class="widget-header">
        <h6>Filter Data</h6>
        <div class="widget-toolbar no-border">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>

          

        </div>
      </div>

      <div class="widget-body">
        <div class="widget-main no-padding well">
          <%= form_tag(admin_users_path, :method => :get) do %>
            <!-- <legend>Form</legend> -->

            <fieldset>
            <div class="row">
              <div class="col-xs-12 col-lg-4">
                <label for="id-date-range-picker-1">Jenis Layanan</label>
                <div class="input-group">
                  <select class="form-control chosen-select" name="jenis_layanan_id" data-rel="chosen">
                    <option value="">-- Pilih Jenis Layanan --</option>
                      <% @jenis_layanans.each do |jenis_layanan| %>
                        <% if jenis_layanan.id == params[:jenis_layanan_id].to_i %>
                          <option value="<%= jenis_layanan.id %>" selected><%= jenis_layanan.name %></option>
                        <% else %>
                          <option value="<%= jenis_layanan.id %>"><%= jenis_layanan.name %></option>
                        <% end %>
                      <% end %>
                    </select>
                  <span class="input-group-addon">
                    <i class="icon-briefcase bigger-110"></i>
                  </span>

                  
                </div>
              </div>

              <% if (! current_admin.area && ! current_admin.rayon && ! current_admin.kawasan) || (current_admin.user_group && current_admin.user_group.super == 1) %>
                <div class="col-xs-6 col-lg-4">
                  <label for="timepicker1">Area</label>
                  <div class="input-group">
                    <select class="form-control chosen-select" name="area_id" data-rel="chosen">
                      <option value="">-- Pilih Area --</option>
                        <% @areas.each do |area| %>
                          <% if area.area_id == params[:area_id] %>
                            <option value="<%= area.area_id %>" selected><%= area.name %></option>
                          <% else %>
                            <option value="<%= area.area_id %>"><%= area.name %></option>
                          <% end %>
                        <% end %>
                      </select>
                    <span class="input-group-addon">
                      <i class="icon-map-marker bigger-110"></i>
                    </span>
                  </div>
                </div>
              <% end %>
              <% if (current_admin.area && ! current_admin.rayon) || (current_admin.user_group && current_admin.user_group.super == 1) %>
                <div class="col-xs-6 col-lg-4">
                  <label for="timepicker2">Kawasan</label>
                  <div class="input-group">
                    <select class="form-control chosen-select" name="kawasan_id" data-rel="chosen">
                      <option value="">-- Pilih Kawasan --</option>
                        <% @kawasans.each do |kawasan| %>
                          <% if kawasan.id == params[:kawasan_id].to_i %>
                            <option value="<%= kawasan.id %>" selected><%= kawasan.nama_kawasan %></option>
                          <% else %>
                            <option value="<%= kawasan.id %>"><%= kawasan.nama_kawasan %></option>
                          <% end %>
                        <% end %>
                      </select>
                    <span class="input-group-addon">
                      <i class="icon-building bigger-110"></i>
                    </span>
                  </div>
                </div>
              <% end %>
              </div>
            <div class="space-8"></div>
            <div class="row">
              

              <div class="col-xs-12 col-lg-4">
                <label for="id-date-range-picker-1">Daya</label>
                <div class="input-group">
                  <input style="width:100%" class="form-control" type="text" name="daya_awal" placeholder="dari" <% if params[:daya_awal] %>value="<%= params[:daya_awal] %>"<% end %> /> 
                  <span class="input-group-addon">
                    <i class="icon-bolt bigger-110"></i>
                  </span>

                  
                </div>
              </div>
              
              <div class="col-xs-6 col-lg-4">
                <label for="timepicker1">&nbsp;</label>
                <div class="input-group">
                  <input style="width:100%" class="form-control" type="text" name="daya_akhir" placeholder="sampai" <% if params[:daya_akhir] %>value="<%= params[:daya_akhir] %>"<% end %> />
                  <span class="input-group-addon">
                    <i class="icon-bolt bigger-110"></i>
                  </span>
                </div>
              </div>
              <div class="col-xs-6 col-lg-4">
                <label for="timepicker2">Tarif</label>
                <div class="input-group">
                  <input style="width:100%" class="form-control" type="text" name="tarip" <% if params[:tarip] %>value="<%= params[:tarip] %>"<% end %> />
                  <span class="input-group-addon">
                    <i class="icon-money bigger-110"></i>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-offset-10 col-md-2">
                
                <button type="submit" class="btn btn-success">
                Filter
                <i class="icon-search icon-on-right bigger-125"></i>
                </button>
              </div>
            </div>
              
            
            </fieldset>

            
          <% end %>
        </div>
      </div>
    </div>

  <div class="page-content">
    <div class="page-header">
      <h1>
        Daftar Trash Pelanggan Potensial
      </h1>
    </div><!-- /.page-header -->

    <div class="row">
        <div class="col-xs-12">
        <!-- PAGE CONTENT BEGINS -->


                    <div class="table-header">
                      Data Pelanggan
                    </div>
        <div class="table-responsive">
                    <table id="sample-table-2" class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            
                          <th>Idpel</th>
                          <th>Nama</th>
                          <th>Rayon</th>
                          <th>Area</th>
                          <th>Jenis Layanan</th>
                          <th>Perkiraan Biaya Investasi</th>
                          <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>
                          <% @users.each do |user| %>
                            <tr>
                              

                              <td>
                                <%= link_to user.idpel, admin_user_path(user) %>
                              </td>
                              <td><%= user.name %></td>
                              <td><%= Rayon.where(:rayon_id => user.rayon_new_id).first ? Rayon.where(:rayon_id => user.rayon_new_id).first.name : "N/A" %></td>
                              <td><%= user.area ? user.area.name : "N/A" %></td>

                              <td>
                                <%= user.jenis_layanan ? user.jenis_layanan.name : "N/A" %>
                              </td>

                              <td>
                                <%= number_to_currency user.perkiraan_biaya_investasi, :unit => "Rp ", :delimiter => ".", :precision => 0 %>

                              <td>
                                <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/users" && action_model.path == "edit")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to edit_admin_user_path(user), :class => "btn btn-xs btn-info" do %>
                                    <i class="icon-edit bigger-120"></i>
                                  <% end %>

                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/users" && action_model.path == "send_to_trash")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to send_to_trash_admin_user_path(user), :class => "btn btn-xs btn-danger", :rel => "tooltip", :confirm => "Yakin akan menghapus selamanya dari sistem?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>

                                <% 
                                  @not_authorized = true

                                  if current_admin.user_group
                                    current_admin.user_group.action_models.each do |action_model|
                                      if (action_model.controller_model.path == "admin/users" && action_model.path == "restore")
                                        @not_authorized = false
                                      end

                                      break if ! @not_authorized
                                    end
                                end
                                %>

                                <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

                                  <%= link_to restore_admin_user_path(user), :class => "btn btn-xs btn-danger", :rel => "tooltip", :confirm => "Yakin akan mengembalikan ini?" do %>
                                    <i class="icon-trash bigger-120"></i>
                                  <% end %>
                                <% end %>
                                
                              </div>
                              </td>
                            </tr>
                          <% end %>
                        
                      </tbody>
                    </table>
                  </div>

        <!-- PAGE CONTENT ENDS -->
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.page-content -->
</div><!-- /.main-content -->

