<h2>Forgot your password?</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => "form-horizontal" }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
		<label class="block clearfix">
			<span class="block input-icon input-icon-right">
  				<%= f.label :email %><br />
  				<%= f.email_field :email, :autofocus => true %></div>
  			</span>
  		</label>

  		<div class="space"></div>

		<div class="clearfix">
			<label class="inline">
				<input type="checkbox" name="user[remember_me]" class="ace" />
				<span class="lbl"> Remember Me</span>
			</label>
		</div>
        
        <div class="clearfix">
        	<button type="submit" class="width-35 pull-right btn btn-sm btn-primary">
				<i class="icon-key"></i>
				Send
			</button>
        </div>
    </fieldset>
<% end %>
