<%= form_for([:admin,@body_content], :url => admin_what_path(@body_content), :html => {class:"form-horizontal", :multipart => true}) do |f| %>
  <% if @body_content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@body_content.errors.count, "error") %> prohibited this body_content from being saved:</h2>

      <ul>
      <% @body_content.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:action] == "new" || params[:action] == "create" %>
    <%= f.hidden_field :created_by, :value => current_admin.id %>
  <% else %>
    <%= f.hidden_field :updated_by, :value => current_admin.id %>
    <%= f.hidden_field :title, :value => "what" %>
  <% end %>

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right">Isi</label>
    <div class="col-sm-9">
        <%= f.text_area :body, :class => "ckeditor" %>
    </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_whats_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>

<%= content_for :js do %>

  <%= javascript_include_tag "ckeditor/init" %>
<% end %>