<%= form_for([:admin,@jenis_layanan], :html => {class:"form-horizontal"}) do |f| %>
  <% if @jenis_layanan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@jenis_layanan.errors.count, "error") %> prohibited this jenis_layanan from being saved:</h2>

      <ul>
      <% @jenis_layanan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group">
    <%= f.label :name, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :name, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <%= f.label :tarif_per_kwh, class:"col-sm-3 control-label no-padding-right" %>
    <div class="col-sm-9">
      
      <%= f.text_field :tarif, :class => "col-xs-10 col-sm-5" %>
    </div>
   </div> 

   <div class="form-group">
    <label class="col-sm-3 control-label no-padding-right" for="selectError">Premium/Reguler</label>
    <div class="col-sm-9">
      <select class="form-search" name="jenis_layanan[tipe_jenis_layanan_id]" data-rel="chosen">
        <option>-- Select Premium/Reguler --</option>
            <% if @jenis_layanan.tipe_jenis_layanan_id == 1 %>
              <option value="1" selected>Premium</option>
            <% else %>
              <option value="1">Premium</option>
            <% end %>

            <% if @jenis_layanan.tipe_jenis_layanan_id == 0 %>
              <option value="0" selected>Reguler</option>
            <% else %>
              <option value="0">Reguler</option>
            <% end %>
        </select>
      </div>
   </div> 

    <div class="clearfix form-actions">
        <div class="col-md-offset-3 col-md-9">
            <button class="btn btn-info" type="submit">
                <i class="icon-ok bigger-110"></i>
                Submit
            </button>

            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="reset">
                <i class="icon-undo bigger-110"></i>
                Reset
            </button>

            &nbsp; &nbsp; &nbsp;
            <%= link_to admin_jenis_layanans_path do %>
              <button class="btn btn-success" type="button">
                  <i class="icon-arrow bigger-110"></i>
                  Back
              </button>
            <% end %>
        </div>
    </div>
<% end %>