<%= content_for :css do %>
    <%= stylesheet_link_tag "style-testimonial" %>
<% end %>
  
<div id="container">  
  <div id="mainContent">
   	<div class="testimonial">
    	<div class="news-title">
        Testimonial Index
        </div>
        
        <div class="news-col">
        	<div class="news-left">
                <% @i = 0 %>
                <% @testimonials.each do |testimonial| %>
                    <% if @i%4 == 0 %>
                    	<div class="col">
	                    	<div class="col-test">
	                        	<div class="col-bub-2">
	                            	<div class="col-test-1">
	                                    <div class="kutip">"</div>
	                                    <i><%= testimonial.body %></i>
	                                    <br/><span style="float:right;"><i>- <%= testimonial.testimonial_by %></i></span>
	                                </div>
	                                <div class="clr"></div>
	                            </div>
	                        </div>
	                    <% if Testimonial.order("created_at ASC").first == testimonial %>
	                    	</div>
	                    <% end %>
                    <% elsif @i%4 == 1 %>
	                    	<div class="col-test">
	                        	<div class="col-bub-2">
	                            	<div class="col-test-1">
	                                    <div class="kutip">"</div>
	                                    <i><%= testimonial.body %></i>
	                                    <br/><span style="float:right;"><i>- <%= testimonial.testimonial_by %></i></span>
	                                </div>
	                                <div class="clr"></div>
	                            </div>
	                        </div>
	                    </div>
                    <% elsif @i%4 == 2 %>
                    	<div class="col">
	                        <div class="col-test-2">
	                        	<div class="col-bub">
	                            	<div class="col-test-3">
	                                    <div class="kutip">"</div>
	                                    <i><%= testimonial.body %></i>
	                                    <br/><span style="float:right;"><i><%= testimonial.testimonial_by %></i></span>
	                                </div>
	                                <div class="clr"></div>
	                            </div>
	                        </div>

                        <% if testimonial == Testimonial.order("created_at ASC").first %>
	                    	</div>
	                    <% end %>
                    <% elsif @i%4 == 3 %>
	                        <div class="col-test-2">
	                        	<div class="col-bub">
	                            	<div class="col-test-3">
	                                    <div class="kutip">"</div>
	                                    <i><%= testimonial.body %></i>
	                                    <br/><span style="float:right;"><i><%= testimonial.testimonial_by %></i></span>
	                                </div>
	                                <div class="clr"></div>
	                            </div>
	                        </div>
                    	</div>
                    <% end %>

                    <% @i = @i+1 %>
                <% end %>
            </div>
        </div>
    </div>
    
    <div class="clr"></div>
    
	<!-- end #mainContent --></div>
<!-- end #container --></div>