<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Premium-Customer Management System - Admin</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<%= stylesheet_link_tag "admin/bootstrap.min", "admin/font-awesome.min" %>

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<%= stylesheet_link_tag "admin/jquery-ui-1.10.3.custom.min", "admin/chosen", "datepicker", "jquery.timepicker", "daterangepicker", "colorpicker", "bootstrapValidator", "bootstrapValidator.min", "colorbox" %>

		<!-- fonts -->

		<%= stylesheet_link_tag "admin/ace-fonts" %>

		<!-- ace styles -->

		<%= stylesheet_link_tag "admin/ace.min", "admin/ace-rtl.min", "admin/ace-skins.min" %>

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
        
        <%= javascript_include_tag 'jquery', 'jquery_ujs', 'hoverIntent', 'admin' %>

        <style type="text/css">${demo.css}</style>

		
        
		<%= javascript_include_tag 'admin/highcharts', 'admin/modules/exporting' %>

		<!-- ace settings handler -->

		<%= javascript_include_tag 'admin/ace-extra.min' %>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->

		<%= csrf_meta_tag %>
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<a href="/admins"><img src="/assets/logo-2.png" width="140" height="100"></a>
						</small>
                        
                        <div class="text-head">
                        	<div class="th-1">
                            P-CMS
                            </div>
                            
                            <div class="th-2">
                            (Premium-Customer Management System)
                            </div>
                        </div>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-grey">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<%= image_tag(current_admin.avatar(:thumb), :class => "nav-user-photo") %>
								<span class="user-info">
									<small>Welcome,</small>
									<%= current_admin.username %>
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

								<li>
									<%= link_to admin_my_accounts_path do %>
										<i class="icon-user"></i>
										Profile
									<% end %>
								</li>

								<li class="divider"></li>

								<li>
									<%= link_to destroy_admin_session_path, :method => :delete, :confirm => "Yakin akan keluar?" do %>
										<i class="icon-off"></i>
										Keluar
									<% end %>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li <% if params[:controller] == "admins" %>class="active"<% end %>>
							<%= link_to admins_path do %>
								<i class="icon-dashboard"></i>
								<span class="menu-text"> Dashboard </span>
							<% end %>
						</li>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/premium_users" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/premium_users" %>class="active"<% end %>>
								<%= link_to admin_premium_users_path do %>
									<i class="icon-user"></i>
									<span class="menu-text">Pelanggan Premium </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/users" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/users" %>class="active"<% end %>>
								<%= link_to admin_users_path do %>
									<i class="icon-user"></i>
									<span class="menu-text">Pelanggan Potensial </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/monthly_infos" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/monthly_infos" %>class="active"<% end %>>
								<%= link_to admin_monthly_infos_path do %>
									<i class="icon-book"></i>
									<span class="menu-text"> Data Bulanan </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/data_infos" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/data_infos" %>class="active"<% end %>>
								<%= link_to admin_data_infos_path do %>
									<i class="icon-info"></i>
									<span class="menu-text"> Info Terkini </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/data_feedbacks" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/data_feedbacks" %>class="active"<% end %>>
								<%= link_to admin_data_feedbacks_path do %>
									<i class="icon-comments"></i>
									<span class="menu-text"> Feedback </span>
									<span class="badge badge-transparent tooltip-error" title="" data-original-title="<%= @unread_feedbacks.count %>&nbsp;Feedback&nbsp;belum&nbsp;dibaca">
		<i class="icon-warning-sign red bigger-130"></i>
		</span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/monthly_info_summaries" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/monthly_info_summaries" %>class="active"<% end %>>
								<%= link_to admin_monthly_info_summaries_path do %>
									<i class="icon-book"></i>
									<span class="menu-text"> Summary Data Bulanan </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/customer_relations" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/customer_relations" %>class="active"<% end %>>
								<%= link_to admin_customer_relations_path do %>
									<i class="icon-book"></i>
									<span class="menu-text"> Relationship </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/slideshows" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/slideshows" %>class="active"<% end %>>
								<%= link_to admin_slideshows_path do %>
									<i class="icon-camera"></i>
									<span class="menu-text"> Slideshow </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/whats" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/whats" %>class="active"<% end %>>
								<%= link_to admin_whats_path do %>
									<i class="icon-camera"></i>
									<span class="menu-text"> What </span>
								<% end %>
							</li>

						<% end %>
						
						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/examinations" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/examinations" %>class="active"<% end %>>
								<%= link_to admin_examinations_path do %>
									<i class="icon-search"></i>
									<span class="menu-text"> Pemeriksaan </span>
								<% end %>
							</li>

						<% end %>
						
						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/repairs" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/repairs" %>class="active"<% end %>>
								<%= link_to admin_repairs_path do %>
									<i class="icon-search"></i>
									<span class="menu-text"> Perbaikan </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/articles" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/articles" %>class="active"<% end %>>
								<%= link_to admin_articles_path do %>
									<i class="icon-credit-card"></i>
									<span class="menu-text"> Artikel </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/testimonials" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/testimonials" %>class="active"<% end %>>
								<%= link_to admin_testimonials_path do %>
									<i class="icon-comment"></i>
									<span class="menu-text"> Testimonial </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/admins" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

							<li <% if params[:controller] == "admin/admins" %>class="active"<% end %>>
								<%= link_to admin_admins_path do %>
									<i class="icon-user"></i>
									<span class="menu-text"> Daftar Admin </span>
								<% end %>
							</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/wilayahs" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

	                    <li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-map-marker"></i>
								<span class="menu-text"> Wilayah </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/areas" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/areas" %>class="active"<% end %>>
									<%= link_to admin_areas_path do %>
										<i class="icon-group"></i>
										<span class="menu-text"> Daftar Area </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/rayons" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/rayons" %>class="active"<% end %>>
									<%= link_to admin_rayons_path do %>
										<i class="icon-group"></i>
										<span class="menu-text"> Daftar Rayon </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/kawasans" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/kawasans" %>class="active"<% end %>>
									<%= link_to admin_kawasans_path do %>
										<i class="icon-map-marker"></i>
										<span class="menu-text"> Daftar Kawasan </span>
									<% end %>
								</li>

							<% end %>
							</ul>
						</li>

						<% end %>

						<% 
	                      @not_authorized = true

	                      if current_admin.user_group
		                      current_admin.user_group.action_models.each do |action_model|
		                        if (action_model.controller_model.path == "admin/settings" && action_model.path == "index")
		                          @not_authorized = false
		                        end

		                        break if ! @not_authorized
		                      end
		                  end
	                    %>

	                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

						<li>
							<a href="#" class="dropdown-toggle">
								<i class="icon-desktop"></i>
								<span class="menu-text"> Setting </span>

								<b class="arrow icon-angle-down"></b>
							</a>

							<ul class="submenu">

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/user_groups" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/user_groups" %>class="active"<% end %>>
									<%= link_to admin_user_groups_path do %>
										<i class="icon-group"></i>
										<span class="menu-text"> Daftar User Group </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/jenis_layanans" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/jenis_layanans" %>class="active"<% end %>>
									<%= link_to admin_jenis_layanans_path do %>
										<i class="icon-list"></i>
										<span class="menu-text"> Jenis Layanan Premium </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/merk_meters" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/merk_meters" %>class="active"<% end %>>
									<%= link_to admin_merk_meters_path do %>
										<i class="icon-tag"></i>
										<span class="menu-text"> Merk Meter </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/type_meters" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/type_meters" %>class="active"<% end %>>
									<%= link_to admin_type_meters_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Type Meter </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/jenis_infos" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/jenis_infos" %>class="active"<% end %>>
									<%= link_to admin_jenis_infos_path do %>
										<i class="icon-edit"></i>
										<span class="menu-text"> Jenis Info </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/dayas" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/dayas" %>class="active"<% end %>>
									<%= link_to admin_dayas_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Master Daya </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/master_tarifs" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/master_tarifs" %>class="active"<% end %>>
									<%= link_to admin_master_tarifs_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Master Tarif </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/customer_relation_types" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/customer_relation_types" %>class="active"<% end %>>
									<%= link_to admin_customer_relation_types_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Relation Type </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/feedback_types" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/feedback_types" %>class="active"<% end %>>
									<%= link_to admin_feedback_types_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Feedback Type </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/officers" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/officers" %>class="active"<% end %>>
									<%= link_to admin_officers_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Petugas </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/examination_items" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/examination_items" %>class="active"<% end %>>
									<%= link_to admin_examination_items_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Item Pemeriksaan </span>
									<% end %>
								</li>

							<% end %>

							<% 
		                      @not_authorized = true

		                      if current_admin.user_group
			                      current_admin.user_group.action_models.each do |action_model|
			                        if (action_model.controller_model.path == "admin/examination_indicators" && action_model.path == "index")
			                          @not_authorized = false
			                        end

			                        break if ! @not_authorized
			                      end
			                  end
		                    %>

		                    <% if ! @not_authorized || (current_admin.user_group && current_admin.user_group.super == 1) %>

								<li <% if params[:controller] == "admin/examination_indicators" %>class="active"<% end %>>
									<%= link_to admin_examination_indicators_path do %>
										<i class="icon-th"></i>
										<span class="menu-text"> Kumpulan Item Pemeriksaan </span>
									<% end %>
								</li>

							<% end %>
							</ul>

						</li>

						<% end %>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<%= yield %>

			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<%= javascript_include_tag 'admin/bootstrap.min', 'admin/typeahead-bs2.min' %>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

		<%= javascript_include_tag 'admin/jquery-ui-1.10.3.custom.min', 'admin/jquery.ui.touch-punch.min', 'admin/chosen.jquery.min', 'admin/fuelux/fuelux.spinner.min', 'admin/date-time/bootstrap-datepicker.min', 'admin/jqGrid/jquery.jqGrid.min', 'admin/jqGrid/i18n/grid.locale-en', 'jquery.timepicker', 'jquery.timepicker.min', 'admin/date-time/moment.min', 'admin/date-time/daterangepicker.min', 'admin/jquery.knob.min', 'admin/jquery.autosize.min', 'admin/jquery.inputlimiter.1.3.1.min', 'admin/jquery.maskedinput.min', 'admin/jquery.slimscroll.min', 'admin/jquery.easy-pie-chart.min', 'admin/jquery.sparkline.min', 'admin/flot/jquery.flot.min', 'admin/flot/jquery.flot.pie.min', 'admin/flot/jquery.flot.resize.min', "bootstrap-wysiwyg.min", "jquery.dataTables.min", "jquery.dataTables.bootstrap", 'admin/ace-elements.min', 'admin/ace.min', 'Datepair', 'jquery.datepair', 'bootstrapValidator', 'bootstrapValidator.min', 'jquery.colorbox-min', 'jquery.numeric' %>

		<%= yield(:js) %>
	</body>
</html>
