<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Premium-Customer Management System</title>

		<meta name="description" content="overview &amp; stats" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- basic styles -->

		<%= stylesheet_link_tag "bootstrap.min", "font-awesome.min" %>

		<!--[if IE 7]>
		  <link rel="stylesheet" href="assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<%= stylesheet_link_tag "ace-fonts" %>

		<!-- ace styles -->

		<%= stylesheet_link_tag "ace.min", "ace-rtl.min", "ace-skins.min" %>

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->
        
        <%= javascript_include_tag 'jquery', 'jquery_ujs', 'hoverIntent' %>

        <style type="text/css">${demo.css}</style>

		
        
		<%= javascript_include_tag 'highcharts', 'modules/exporting' %>

		<!-- ace settings handler -->

		<%= javascript_include_tag 'ace-extra.min' %>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="assets/js/html5shiv.js"></script>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->

		<%= csrf_meta_tag %>
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<a href="/"><img src="/assets/lg.jpg" width="80" height="100"></a>
						</small>
                        
                        <div class="text-head">
                        	<div class="th-1">
                            P-CMS
                            </div>
                            
                            <div class="th-2">
                            (Premium-Customer Management System)
                            </div>
                        </div>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

				<div class="navbar-header pull-right" role="navigation">
					<ul class="nav ace-nav">

						<li class="light-grey">
							<a data-toggle="dropdown" href="#" class="dropdown-toggle">
								<%= image_tag(current_user.avatar(:thumb), :class => "nav-user-photo") %>
								<span class="user-info">
									<small>Selamat Datang,</small>
									<%= current_user.username %>
								</span>

								<i class="icon-caret-down"></i>
							</a>

							<ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">

								<li>
									<%= link_to my_accounts_path do %>
										<i class="icon-user"></i>
										Profil
									<% end %>
								</li>

								<li class="divider"></li>

								<li>
									<%= link_to destroy_user_session_path, :method => :delete, :confirm => "Anda akan keluar?" do %>
										<i class="icon-off"></i>
										Keluar
									<% end %>
								</li>
							</ul>
						</li>
					</ul><!-- /.ace-nav -->
				</div><!-- /.navbar-header -->
			</div><!-- /.container -->
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
					</script>

					<div class="sidebar-shortcuts" id="sidebar-shortcuts">
						<div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
							<span class="btn btn-success"></span>

							<span class="btn btn-info"></span>

							<span class="btn btn-warning"></span>

							<span class="btn btn-danger"></span>
						</div>
					</div><!-- #sidebar-shortcuts -->

					<ul class="nav nav-list">
						<li <% if params[:controller] == "homes"%>class="active"<% end %>>
							<%= link_to homes_path do %>
								<i class="icon-dashboard"></i>
								<span class="menu-text"> Dashboard </span>
							<% end %>
						</li>

						<li <% if params[:controller] == "my_accounts"%>class="active"<% end %>>
							<%= link_to my_accounts_path do %>
								<i class="icon-user"></i>
								<span class="menu-text"> Profil </span>
							<% end %>
						</li>

						<li <% if params[:controller] == "histories"%>class="active"<% end %>>
							<%= link_to histories_path do %>
								<i class="icon-book"></i>
								<span class="menu-text"> History </span>
							<% end %>
						</li>

						<li <% if params[:controller] == "data_feedbacks"%>class="active"<% end %>>
							<%= link_to data_feedbacks_path do %>
								<i class="icon-comments"></i>
								<span class="menu-text"> Feedback </span>
							<% end %>
						</li>
                        
                        <li <% if params[:controller] == "articles"%>class="active"<% end %>>
							<%= link_to data_infos_path do %>
								<i class="icon-eye-open"></i>
								<span class="menu-text"> Info Terkini </span>
							<% end %>
						</li>

						<li <% if params[:controller] == "contacts"%>class="active"<% end %>>
							<%= link_to contacts_path do %>
								<i class="icon-phone"></i>
								<span class="menu-text"> Contact Us </span>
							<% end %>
						</li>
					</ul><!-- /.nav-list -->

					<div class="sidebar-collapse" id="sidebar-collapse">
						<i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
					</div>

					<script type="text/javascript">
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
					</script>
				</div>

				<div class="main-content">


					<%= yield(:js) %>
					<%= yield %>
				</div><!-- /.main-content -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='assets/javascripts/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='assets/javascripts/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>

		<%= javascript_include_tag 'bootstrap.min', 'typeahead-bs2.min' %>

		<!-- page specific plugin scripts -->

		<!--[if lte IE 8]>
		  <script src="assets/js/excanvas.min.js"></script>
		<![endif]-->

		<%= javascript_include_tag 'jquery-ui-1.10.3.custom.min', 'jquery.ui.touch-punch.min', 'jquery.slimscroll.min', 'jquery.easy-pie-chart.min', 'jquery.sparkline.min', 'flot/jquery.flot.min', 'flot/jquery.flot.pie.min', 'flot/jquery.flot.resize.min', "jquery.dataTables.min", "jquery.dataTables.bootstrap", 'ace-elements.min', 'ace.min' %>

		
	</body>
</html>
