<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P-CMS PLN DJBB</title>

    <%= stylesheet_link_tag "template" %>

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->
        
    <%= javascript_include_tag 'jquery', 'jquery_ujs' %>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div id="page">
      <header id="header" class="site-header">
        <!-- <nav id="topbar" class="site-topbar visible-lg visible-md">
          <div class="container">
            <div class="row">
              <div class="col-sm-6">Questions? Call us toll free: +1 234 4567 890</div>
              <div class="social-links col-sm-6">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </nav> -->

        <nav id="navbar" class="site-navbar navbar navbar-static-top one-page-nav" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-bars"></i>
              </button>

              <h1 class="navbar-brand"><img src="/assets/lg.jpg" height="55px" /><a href="/">P - CMS</a></h1>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="sign-in"><a href="/homes">Dashboard</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="/mains#header" class="current">Beranda</a></li>
                <li><a href="/mains#what">Tentang P-CMS</a></li>
                <li><a href="/mains#how">Cara Jadi Member</a></li>
                <li><a href="/mains#testimonials">Testimonials</a></li>
                <li class="active"><a href="/mains#blog">Berita dan Artikel</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </header>

      <%= yield %>

      <footer id="footer" class="site-footer">
        <div class="container">

          <!-- <div id="sidebar-footer-1">
            <div class="row">

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">About Us</h5>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptate rerum voluptates. <a href="#">Read more</a></p>
              </aside>

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">Contact</h5>
                <div class="textwidget">
                  <div class="adr">
                    <div class="street-address">416 Water St.</div>
                    <span class="locality">New York</span>,
                    <abbr class="region" title="New York">NY</abbr>,
                    <span class="postal-code">10002</span>,
                    <span class="country-name">U.S.A</span>
                  </div>
                  <div>Phone: <span class="tel">+1.123.456.7890</span></div>
                  <div>Website: <a class="url" href="http://www.yoarts.com">http://www.yoarts.com</a></div>
                </div>
              </aside>

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">Need Help?</h5>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptate rerum voluptates. <a href="#">Read more</a></p>
              </aside>

              <aside class="widget col-md-3 col-sm-6">
                <h5 class="widget-title">Get in touch</h5>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Your Email">
                  <span class="input-group-btn">
                    <button class="btn btn-danger" type="button"><i class="fa fa-arrow-right"></i></button>
                  </span>
                </div>
                <ul class="social-links">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                </ul>
              </aside>

            </div>
          </div> -->

          <div class="copyright"><p>© 2014 PT PLN Persero DJBB<br /> Designed by <a href="http://wiradipa.com">Wiradipa Nusantara</a></p></div>
        </div>
      </footer>
    </div>

    <div class="scroll-to-top" data-spy="affix" data-offset-top="200"><a href="#page" class="smooth-scroll"><i class="fa fa-arrow-up"></i></a></div>
  
    <%= javascript_include_tag 'bootstrap-3.1.1.min', 'jquery.isotope.min.js?v=1.5.26', 'jquery.singlePageNav.min', 'main' %>
  </body>
</html>